<div class="sidenav-header">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row"
                     fxLayoutAlign="space-between center">
      <div class="avatar-wrapper"
           *ngIf="user">
        <img class="mat-avatar avatar"
             [src]="user.photoURL"
             [alt]="user.displayName">
        <mat-icon class="status"
                  aria-haspopup="true"
                  role="img"
                  aria-hidden="true">
          {{ status }}
        </mat-icon>
        <mat-menu id="user-status-menu">
        </mat-menu>
      </div>
      <div>
        <button aria-haspopup="true"
                [matMenuTriggerFor]="account"
                aria-label="more"
                mat-icon-button>
          <mat-icon role="img"
                    aria-hidden="true">
            more_vert
          </mat-icon>
        </button>
        <mat-menu #account="matMenu"
                  xPosition="before">
          <button mat-menu-item [routerLink]="['/account']|localize">
            {{ 'cta.account'|translate }}
          </button>
          <button mat-menu-item (click)="logout()">
            {{ 'cta.logout'|translate }}
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <form class="search-wrapper"
            [formGroup]="form"
            (ngSubmit)="search()"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="start center">
        <div class="search"
             fxFlex
             (click)="search()"
             fxLayout="row"
             fxLayoutAlign="start center">
          <mat-icon role="img"
                    color="primary"
                    aria-hidden="true">
            search
          </mat-icon>
          <input fxFlex
                 (keyup)="search()"
                 formControlName="search"
                 [placeholder]="'chat.chat-sidenav-header.search'|translate"
                 type="search">
        </div>
      </form>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
