<ng-select [items]="recipes"
           [formControl]="form"
           [bindLabel]="'name'"
           [multiple]="true"
           [bindValue]="'key'"
           [loadingText]="'admin.placeholder.recipe.associated_recipes.loading'|translate"
           [notFoundText]="'admin.placeholder.recipe.associated_recipes.not_found'|translate"
           [typeToSearchText]="'admin.placeholder.recipe.associated_recipes.type_to_search'|translate"
           [clearAllText]="'admin.placeholder.recipe.associated_recipes.clear_all'|translate">
</ng-select>
