<div class="category-header-wrapper mt-5"
     fxLayout="column"
     fxLayoutAlign="start center"
     *ngIf="category">
  <div class="title-wrapper"
       fxLayout="row"
       fxLayoutAlign="center stretch">
    <h1 class="text-ucfirst text-center"
        *ngIf="category.name && option.display_title">
      {{ 'category-detail.title'|translate: {category: category.name} }}
    </h1>
  </div>

  <div class="image-wrapper" *ngIf="option.display_image">
    <img [src]="category.image"
         *ngIf="category.image">
  </div>
</div>
<div class="product-list mt-3"
     fxLayout="row wrap"
     fxLayoutAlign="center stretch"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0px"
     *ngIf="option.display_products">
  <div class="text-center product-item-element"
       fxFlex="30"
       fxFlex.md="40"
       fxFlex.sm="40"
       fxFlex.xs="80"
       *ngFor="let product of specificOptions.products">
    <app-product-item [product]="product"
                      [options]="options"
                      [specificOptions]="specificOptions"
                      [authenticated]="authenticated"
                      [favoriteProduct]="favoriteProducts.has(product?.key) ? favoriteProducts.get(product.key) : null"
                      (favoriteAdded)="onFavoriteAdded($event)"
                      (favoriteRemoved)="onFavoriteRemoved($event)">
    </app-product-item>
  </div>
</div>
