<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="nm0">Poster un nouveau pull moche</h2>
      <div class="row">
        <div class="col-6">
          <app-clothing-form (clothingChange)="onClothingChange($event)" [_user]="user" (_submit)="onClothingSubmit($event)">
          </app-clothing-form>
        </div>
        <div class="col-6">
          <app-clothing-preview [clothing]="clothing" [user]="user"></app-clothing-preview>
        </div>
      </div>
    </div>
  </div>
</div>
