<div class="dashboard-content-wrapper"
     fxLayout="row"
     fxLayoutAlign="center stretch"
     fxLayoutGap="30px">
  <mat-card class="mat-card">
    <img mat-card-image
         class="dashboard-image"
         src="/assets/images/material.jpg">
    <mat-card-header fxLayout="row"
                     fxLayoutAlign="center stretch">
      <mat-card-title>
        <a mat-button
           color="primary"
           [routerLink]="['/admin/material']">
          Material Elements
        </a>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card class="mat-card">
    <img mat-card-image
         class="dashboard-image"
         src="/assets/images/trello.jpg">
    <mat-card-header fxLayout="row"
                     fxLayoutAlign="center stretch">
      <mat-card-title>
        <a mat-button
           color="primary"
           [routerLink]="['/boards']">
          Boards
        </a>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
