@import '../../../scss/theme';

.form-wrapper {

  .content-wrapper {
    padding-top: 20px;

    .mat-card {
      min-width: 250px;
      max-width: 400px;

      background-color: mat-color($accent);

      .mat-card-header {
        .mat-card-title, .mat-card-subtitle {
          color: mat-color($white);
        }
      }

      .mat-card-content {
      }

      .mat-raised-button {
        background-color: #2e7d32;
        color: mat-color($white);
      }
    }
  }
}
