@import '~@angular/material/theming';
@import './../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../../../scss/showcase/theme.scss';

.week-calendar-content {
  .time-slot {
    a {
      cursor: pointer;
      display: block;
    }
    &:hover {
      background-color: mat-color($product-primary);
      a {
        color: white;
      }
    }
    &.busy {
      display: none;
      a {
        color: mat-color($product-accent) !important;
        cursor: not-allowed;
      }
    }
    &.early {
      a {
        cursor: not-allowed;
        color: mat-color($product-warn);
      }
    }
    &.session {
      a {
        position: relative;
        color: #ff9800;
        cursor: inherit;

        .icon-close {
          position: absolute;
          right: 5px;
          top: 5px;
          font-size: 14px;
        }

        ::selection {
          color: #ff9800;
          background: #ff9800;
        }
        ::-moz-selection {
          color: #ff9800;
          background: #ff9800;
        }
      }

      background-color: #ff9800;
      box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.14),
      0 1px 0px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    &.session-start {
      a {
        color: white !important;
        cursor: pointer;
      }
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &.session-end {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
