<div class="container">
  <div class="row">
    <div class="col-12 recipe-loader mt-5" *ngIf="isLoading && !recipe">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
<div class="recipe-detail"
     #recipeDetail
     *ngIf="!isLoading && recipe">
  <div class="section header-section">
    <app-recipe-title [recipe]="recipe"
                      [showStepper]="currentInstruction > 0"
                      [steps]="recipe.instructions"></app-recipe-title>

    <app-recipe-information [recipe]="recipe"></app-recipe-information>

    <app-recipe-preparation-list [recipe]="recipe"></app-recipe-preparation-list>

  </div>

  <div class="instruction-section"
       *ngIf="recipe.instructions">
    <app-recipe-instruction-list #instructionWrapper [recipe]="recipe"></app-recipe-instruction-list>

  </div>
</div>

<div class="next-section-wrapper">

  <button type="button"
          (click)="onMore()"
          role="button"
          mat-fab
          color="warn"
          [attr.aria-label]="'cta.next'|translate"
          *ngIf="limitInstructionReached === false; else topButton">
    <mat-icon class="arrow"
              color="primary"
              svgIcon="arrow-down"></mat-icon>
  </button>

  <ng-template #topButton>
    <button type="button"
            role="button"
            mat-fab
            color="warn"
            (click)="onTop()"
            [attr.aria-label]="'cta.top'|translate">
      <mat-icon class="arrow"
                color="primary"
                svgIcon="arrow-up"></mat-icon>
    </button>
  </ng-template>
</div>
