@import '../../../../app-recipe/scss/theme/theme';

.recipe-loader * {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.recipe-detail {
  width: 100%;
  .section {
    min-height: calc(100vh - 64px);
  }
}

.next-section-wrapper {
  position: absolute;
  bottom: 10px;
  left: auto;
  right: auto;
  width: 100%;
  text-align: center;
  button {
    background-color: mat-color($second);
    mat-icon {
      color: mat-color($white) !important;
    }
  }
}
