<div class="card-welcome"
     fxLayout="row"
     fxLayoutAlign="center wrap"
     *ngIf="addProductPublicActivated === true">
  <mat-card>
    <mat-card-content>
      <mat-icon>photo_camera</mat-icon>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>
        <h1 class="card-title size--all-xl">
          {{ 'product-list.card-title.title' | translate }}
        </h1>
      </mat-card-title>
      <mat-card-subtitle class="card-subtitle">
        <h2 class="size--all-l">
          {{ 'product-list.card-subtitle.title' | translate }}
        </h2>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button type="button"
              [routerLink]="['add-product']"
              color="accent"
              mat-raised-button
              role="button"
              [attr.aria-label]="'product-list.card-actions.aria-label'|translate"
              angulartics2On="click"
              angularticsAction="clickedOnButtonAddProduct"
              [angularticsCategory]="'product.add'"
              [innerHtml]="'product-list.card-actions.title' | translate">
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="card-container"
     fxLayout="row wrap"
     fxLayoutAlign="center stretch"
     fxLayout.xs="row wrap"
     fxLayoutAlign.xs="center stretch">
  <app-product-item *ngFor="let product of products"
                    fxFlex="30"
                    fxFlex.xs="100"
                    class="grid-tile-item"
                    [product]="product"
                    [showScore]="showScore"
                    [showAdd]="showAdd"
                    (updatedProduct)="updateProduct($event)"></app-product-item>
</div>
<div class="card-container"
     *ngIf="products.length === 0 && loading === false">
  <p>{{ 'product-list.empty-list'|translate }}</p>
</div>

<div class="text-right" *ngIf="showAdd">
  <a [routerLink]="['add-product']"
     [attr.aria-label]="'product-list.fab-button.title' | translate"
     mat-mini-fab
     class="absolute-fab pulse"
     angulartics2On="click"
     angularticsAction="clickedOnFabAddProduct"
     [angularticsCategory]="'product.add'">
    <mat-icon>add</mat-icon>
  </a>
</div>
