/* Coolors Exported Palette - coolors.co/fffbbd-e6aa68-7fb069-223a00-ca3c25 */


/* HSL */

$color1: hsla(56%, 100%, 87%, 1);
$color2: hsla(31%, 72%, 65%, 1);
$color3: hsla(101%, 31%, 55%, 1);
$color4: hsla(85%, 100%, 11%, 1);
$color5: hsla(8%, 69%, 47%, 1);




/* RGB */

$color1: rgba(255, 251, 189, 1);
$color2: rgba(230, 170, 104, 1);
$color3: rgba(127, 176, 105, 1);
$color4: rgba(34, 58, 0, 1);
$color5: rgba(202, 60, 37, 1);

$color1: #fffbbd;
$color2: #e6aa68;
$color3: #7fb069;
$color4: #223a00;
$color5: #ca3c25;
