<div class="agenda-wrapper" id="booking">
  <div class="calendar-wrapper">

    <div class="calendar-header"
         fxLayout="row"
         fxLayoutAlign="center stretch">
      <div class="calendar-title">
        <div class="calendar-title-wrapper">
          <h2 class="text-capitalize">{{ 'calendar.title'|translate }}</h2>
        </div>
        <div class="calendar-subtitle-wrapper">
          <h3 class="text-capitalize">{{ 'calendar.subtitle'|translate }}</h3>
        </div>
      </div>

    </div>

    <div class="calendar-content">
      <ngx-calendar [viewMode]="viewMode"
                    [user]="user"
                    [sessionsEntries]="sessions"
                    (viewModeChanged)="onViewModeChanged($event)"
                    (sessionRemoved)="onSessionRemoved($event)"
                    (sessionCreated)="onSessionAdded($event)"></ngx-calendar>
    </div>
  </div>

</div>
