@import '~@angular/material/theming';
@import './../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

.title {
  .main-title {
    max-width: 300px;
    font-weight: bold;
    font-size: 50px;

    @include media-breakpoint-up(xs) {
      font-size: 20px;
    }
    @include media-breakpoint-up(sm) {
      font-size: 25px;
    }
    @include media-breakpoint-up(md) {
      font-size: 30px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 40px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 50px;
    }
  }
}


.partner-offer-wrapper {
  margin: 50px 0;
}

.user-comment-wrapper {
  margin: 50px 0;
}
