<div class="wrapper product-layout" fxLayoutGap="10px 10px" fxLayoutAlign="center stretch" fxLayoutAlign.xs="space-around stretch" fxLayout="column" fxLayout.xs="column" fxLayoutWrap>
  <mat-card class="mat-card px-0" *ngIf="product" angulartics2On="click" angularticsAction="hoveredOverProductDetail" [angularticsCategory]="'product.detail'">
    <mat-card-header class="mat-card-header d-flex justify-content-center">
      <mat-card-title class="mat-card-title">
        <span *ngIf="product?.creator">{{ product.creator }}</span>
        <h2 class="mat-card-main-title">
          {{ product.name }}
        </h2>
      </mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">
        <span class="mat-card-date">{{ product.created_at | date:'short' }}</span>
        <span *ngIf="product.price">{{ product.price }} €</span>
        <a href="{{ product.external_url }}" *ngIf="product.external_url" target="_blank">Comparer le produit</a>
        <span *ngIf="product.reseller">{{ product.reseller }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mat-card-content" *ngIf="product.images" fxLayout="column">
      <div class="detail-wrapper py-5" *ngFor="let image of product.images">
        <div class="detail-content" fxLayout="row" fxLayoutAlign="space-around stretch">
          <div class="detail-image">
            <app-image [key]="image" [resize]="resizedImage"></app-image>
          </div>
          <div class="detail-description">
            <p class="p-0" [innerHTML]="product?.description">
            </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Noter le produit</mat-card-title>
    </mat-card-header>
    <mat-card-content></mat-card-content>
    <app-product-action class="app-product-action" [product]="product" (updateScore)="updateScoreProduct($event)"></app-product-action>
  </mat-card>
</div>
