<div class="wrapper product-layout" fxLayoutGap="10px 10px" fxLayoutAlign="center stretch" fxLayoutAlign.xs="space-around stretch" fxLayout="column" fxLayout.xs="column" fxLayoutWrap>
  <div *ngIf="product" angulartics2On="click" angularticsAction="hoveredOverProductDetail" [angularticsCategory]="'product.detail'">
    <div class="py-5" fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.xs="column" fxLayoutAlign.xs="center center">
      <div class="title">
        <span *ngIf="product?.creator">{{ product.creator }}</span>
        <h2 class="main-title">
          {{ product.name }}
        </h2>
        <h3 fxLayout="row" fxLayoutAlign="end stretch">{{ product?.brand }}</h3>
        <app-product-description [description]="product?.description"></app-product-description>
      </div>
      <div>
        <div class="score-wrapper px-5" fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.xs="center center">
          <app-product-action class="app-product-action" [product]="product" (updateScore)="updateScoreProduct($event)"></app-product-action>
        </div>
        <app-image class="app-image" mat-card-image [key]="product.images[0]" [resize]="resizedImage" *ngIf="product.images[0]"></app-image>
      </div>
    </div>
    <div class="content" *ngIf="product.images">
      <app-product-attribute [product]="product"></app-product-attribute>
    </div>
    <div>
      <div fxLayout="column" class="py-5">
        <span class="mat-card-date">{{ product.created_at | date:'short' }}</span>
        <div class="reseller" fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.xs="column" fxLayoutAlign.xs="center center" *ngFor="let reseller of product?.offers">
          <span *ngIf="reseller?.price">{{ reseller?.price }} €</span>
          <a href="{{ reseller?.external_url }}" *ngIf="resseller?.external_url" target="_blank">
            Comparer le produit
          </a>
          <span *ngIf="reseller?.name">{{ reseller?.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
