<div *ngIf="authenticated$|async">
  <h3 class="left ml05" i18n="pipe info title">Your information</h3>
  <div class="row">
    <form [formGroup]="form" class="col s12">

      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="user.user_metadata.firstname" #firstnameInput class="form-control"
                 formControlName="firstname" id="firstname" type="text" class="validate"
                 i18n-placeholder="booking pipe infos firstname" placeholder="Enter your firstname">
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="user.user_metadata.lastname" #lastnameInput class="form-control"
                 formControlName="lastname" id="lastname" type="text" class="validate"
                 i18n-placeholder="booking pipe infos lastname" placeholder="Enter your lastname">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 mt0">
          <input [(ngModel)]="user.user_metadata.phone" #phoneInput class="form-control" formControlName="phone"
                 id="phone" type="text" class="validate" i18n-placeholder="booking pipe infos phone"
                 placeholder="Enter your phone number">
        </div>
        <div class="input-field col s6">
          <app-language-simple-select [(ngModel)]="user.user_metadata.mother_lang"
                                      formControlName="mother_lang"></app-language-simple-select>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <app-select-level style="width: 100%" (levelChanged)="updateLevel($event)" #levelSelect></app-select-level>
        </div>
        <div class="col s6">
          <app-select-age style="width: 100%" (ageChanged)="updateAge($event)" #ageSelect></app-select-age>
        </div>
      </div>
    </form>
  </div>


  <div class="row">
    <div class="col s12">
      <button type="submit" class="btn btn-block waves-light waves-effect teal left" (click)="slideToLoginTab.emit()"
              i18n="Booking pipe previous">Previous
      </button>
      <button [disabled]="!form.valid || age==undefined || level==undefined || currentCart==undefined" type="submit"
              class="btn btn-block waves-light waves-effect orange right" (click)="processBooking()"
              i18n="Booking pipe next">Next
      </button>
    </div>
  </div>
</div>
