<mat-card-actions align="center">
  <button mat-raised-button color="accent" (click)="score(clothing, 'minus')">
    <mat-icon aria-label="Trop beau pour augmenter son score">thumb_down</mat-icon>
  </button>
  <span class="ugly-score" *ngIf="clothing.score; else showScoreNull">{{ clothing.score }}</span>
  <button mat-raised-button color="primary" (click)="score(clothing, 'plus')">
    <mat-icon aria-label="Trop moche son score doit augmenter">thumb_up</mat-icon>
  </button>
</mat-card-actions>
<ng-template #showScoreNull>
  <span class="ugly-score">0</span>
</ng-template>
