<div class="progress-bar-wrapper" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px">
  <div class="progress-bar-title" fxLayout="row" fxLayoutAlign="center center">
    <h2 class="p-3">Progress bar example</h2>
  </div>
  <div class="progress-bar-example-wrapper" fxLayout="column" fxLayoutAlign="center center">


    <div class="progress-bar-row" fxLayout="column" fxLayoutAlign="start center">
      <h3 class="mt-5">Determinate progress-bar</h3>
      <div class="element-wrapper" fxLayout="row" fxLayoutAlign="center stretch">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </div>

    <div class="progress-bar-row" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="mt-5">Indeterminate progress-bar</h3>
      <div class="element-wrapper" fxLayout="row" fxLayoutAlign="center stretch">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>

    <div class="progress-bar-row" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="mt-5">Query progress-bar</h3>
      <div class="element-wrapper" fxLayout="row" fxLayoutAlign="center stretch">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
    </div>

    <div class="progress-bar-row" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="mt-5">Buffer progress-bar</h3>
      <div class="element-wrapper" fxLayout="row" fxLayoutAlign="center stretch">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </div>
    </div>

    <div class="progress-bar-row" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="mt-5">Configurable progress-bar</h3>
      <div class="element-wrapper" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px">
        <mat-card>
          <mat-card-content>
            <h2 class="example-h2">Progress bar configuration</h2>

            <section class="example-section">
              <label class="example-margin">Color:</label>
              <mat-radio-group [(ngModel)]="color">
                <mat-radio-button class="example-margin" value="primary">
                  Primary
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="accent">
                  Accent
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="warn">
                  Warn
                </mat-radio-button>
              </mat-radio-group>
            </section>

            <section class="example-section">
              <label class="example-margin">Mode:</label>
              <mat-radio-group [(ngModel)]="mode">
                <mat-radio-button class="example-margin" value="determinate">
                  Determinate
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="indeterminate">
                  Indeterminate
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="buffer">
                  Buffer
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="query">
                  Query
                </mat-radio-button>
              </mat-radio-group>
            </section>

            <section class="example-section" *ngIf="mode == 'determinate' || mode == 'buffer'">
              <label class="example-margin">Progress:</label>
              <mat-slider class="example-margin" [(ngModel)]="value"></mat-slider>
            </section>
            <section class="example-section" *ngIf="mode == 'buffer'">
              <label class="example-margin">Buffer:</label>
              <mat-slider class="example-margin" [(ngModel)]="bufferValue"></mat-slider>
            </section>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content>
            <h2 class="example-h2">Result</h2>

            <section class="example-section">
              <mat-progress-bar
                class="example-margin"
                [color]="color"
                [mode]="mode"
                [value]="value"
                [bufferValue]="bufferValue">
              </mat-progress-bar>
            </section>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>
