<div class="main-wrapper">
  <div class="content-wrapper">
    <mat-card>
      <div class="header-container"
           fxLayout="row"
           fxLayoutAlign="start stretch"
           fxLayout.xs="column"
           fxLayoutAlign.xs="start center">
        <mat-card-header>
          <mat-card-title>
            <h3 class="text-capitalize">
              {{ 'invoices.invoice2.content.company.name'|translate }}
            </h3>
          </mat-card-title>
        </mat-card-header>
      </div>
      <div class="spacer"
           fxLayout="row"
           fxLayoutAlign="space-between stretch"
           fxLayoutGap="50px">
        <hr class="w-100">
        <mat-card-header>
          <mat-card-title>
            <h3 class="text-uppercase">
              {{ 'invoices.invoice2.content.title'|translate }}
            </h3>
          </mat-card-title>
        </mat-card-header>
      </div>
      <mat-card-content>
        <div class="content-heading-wrapper"
             fxLayout="row"
             fxLayoutAlign="space-around stretch"
             fxLayout.xs="row wrap"
             fxLayoutAlign="space-around stretch">
          <mat-list class="mat-list address">
            <mat-list-item>
              <strong>{{ 'invoices.invoice2.content.invoice.name'|translate }}</strong>
            </mat-list-item>
            <mat-list-item>
              <span>{{ 'invoices.invoice2.content.invoice.address'|translate }}</span>
            </mat-list-item>
            <mat-list-item>
              <span>{{ 'invoices.invoice2.content.invoice.zipcode'|translate }}&nbsp;{{
                'invoices.invoice2.content.invoice.city'|translate }},&nbsp;{{
                'invoices.invoice2.content.invoice.country'|translate }}</span>
            </mat-list-item>
          </mat-list>
          <mat-list class="mat-list address">
            <mat-list-item>
              <strong>{{ 'invoices.invoice2.content.delivery.name'|translate }}</strong>
            </mat-list-item>
            <mat-list-item>
              <span>{{ 'invoices.invoice2.content.delivery.address'|translate }}</span>
            </mat-list-item>
            <mat-list-item>
              <span>{{ 'invoices.invoice2.content.delivery.zipcode'|translate }}&nbsp;{{
                'invoices.invoice2.content.delivery.city'|translate }},&nbsp;{{
                'invoices.invoice2.content.delivery.country'|translate }}</span>
            </mat-list-item>
          </mat-list>
          <mat-list>
            <mat-list-item>
              <span>{{ 'invoices.invoice2.content.invoice_id.label'|translate }}&nbsp;:</span>
              <strong>&nbsp;{{ 'invoices.invoice2.content.invoice_id.data'|translate }}</strong>
            </mat-list-item>
            <mat-list-item>
              <span>{{ 'invoices.invoice2.content.created_at.label'|translate }}&nbsp;:</span>
              <strong>&nbsp;{{ 'invoices.invoice2.content.created_at.data'|translate }}</strong>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="spacer">
          <hr>
        </div>
        <div class="table-wrapper">
          <table mat-table
                 class="products w-100"
                 [dataSource]="dataSource">

            <!-- key Column -->
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef> {{ 'invoices.invoice2.content.id'|translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.key}}</td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> {{ 'invoices.invoice2.content.name'|translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> {{ 'invoices.invoice2.content.quantity'|translate }}</th>
              <td mat-cell *matCellDef="let element"> x {{ element.quantity }}</td>
            </ng-container>

            <ng-container matColumnDef="unit_price">
              <th mat-header-cell *matHeaderCellDef> {{ 'invoices.invoice2.content.unit_price'|translate }}</th>
              <td mat-cell *matCellDef="let element">
                {{element.price}} {{'invoices.invoice2.content.euro'|translate}}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> {{ 'invoices.invoice2.content.amount'|translate }}</th>
              <td mat-cell *matCellDef="let element">
                <strong>
                  {{element.price * element.quantity }}
                  {{'invoices.invoice2.content.euro'|translate}}</strong>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <div class="total-wrapper"
             fxLayout="row"
             fxLayoutAlign="space-between stretch">
          <div class="thanks-wrapper">
            <h5>{{ 'invoices.invoice2.content.thanks'|translate }}</h5>
          </div>
          <div class="total-items-wrapper"
               fxLayout="row"
               fxLayoutAlign="space-between stretch">
            <mat-list>
              <mat-list-item>
                <strong>{{ 'invoices.invoice2.content.subtotal'|translate }}</strong>
              </mat-list-item>
              <mat-list-item>
                <strong>{{ 'invoices.invoice2.content.fees'|translate }}</strong>
              </mat-list-item>
              <mat-list-item>
                <strong class="total">{{ 'invoices.invoice2.content.total'|translate }}</strong>
              </mat-list-item>
            </mat-list>
            <mat-list>
              <mat-list-item>
                <span>{{ subtotal }}&nbsp;{{'invoices.invoice2.content.euro'|translate}}</span>
              </mat-list-item>
              <mat-list-item>
                <span>{{ fees }}&nbsp;{{'invoices.invoice2.content.euro'|translate}}</span>
              </mat-list-item>
              <mat-list-item>
                <h5><strong>{{ total }}&nbsp;{{'invoices.invoice2.content.euro'|translate}}</strong></h5>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="column">
        <div class="term-wrapper">
          <h4 class="font-weight-bold text-capitalize">{{'invoices.invoice2.content.terms.label'|translate}}</h4>
          <p class="terms-data">{{'invoices.invoice2.content.terms.data'|translate}}</p>
        </div>
        <div class="payment-wrapper">
          <h4 class="font-weight-bold text-capitalize">{{'invoices.invoice2.content.payment.label'|translate}}</h4>
          <div class="transaction-wrapper"
               fxLayout="row"
               fxLayoutAlign="start stretch">
            <mat-list>
              <mat-list-item>
                <strong>{{'invoices.invoice2.content.account.label'|translate}}&nbsp;:</strong>
              </mat-list-item>
              <mat-list-item>
                <strong>{{'invoices.invoice2.content.card_number.label'|translate}}&nbsp;:</strong>
              </mat-list-item>
              <mat-list-item>
                <strong>{{'invoices.invoice2.content.bank_detail.label'|translate}}&nbsp;:</strong>
              </mat-list-item>
            </mat-list>
            <mat-list>
              <mat-list-item>
                <span>{{'invoices.invoice2.content.account.data'|translate}}</span>
              </mat-list-item>
              <mat-list-item>
                <span>{{'invoices.invoice2.content.card_number.data'|translate}}</span>
              </mat-list-item>
              <mat-list-item>
                <span>{{'invoices.invoice2.content.bank_detail.data'|translate}}</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-actions>
      <div class="spacer">
        <hr class="w-100">
      </div>
      <mat-card-footer class="footer-wrapper"
                       fxLayout="row"
                       fxLayoutAlign="end stretch">
        <div>
          <span class="item" [matTooltip]="'invoices.invoice2.content.phone.data'|translate">
            {{ 'invoices.invoice2.content.phone.label'|translate }}</span>|
          <span class="item" [matTooltip]="'invoices.invoice2.content.address.data'|translate">
            {{ 'invoices.invoice2.content.address.label'|translate }}</span>|
          <span class="item" [matTooltip]="'invoices.invoice2.content.website.data'|translate">
            {{ 'invoices.invoice2.content.website.label'|translate }}</span>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
