<mat-card class="item-card" *ngIf="product">
  <mat-card-header class="item-card-header">
    <img mat-card-avatar class="item-card-avatar" [src]="product?.thumbnail" *ngIf="product.thumbnail">
    <span class="text-left">
      <mat-icon *ngIf="!product?.thumbnail">account_circle</mat-icon>
    </span>
    <mat-card-title class="item-card-title" (click)="productDetail()">
      <h2 class="item-card-name size--all-xl">
        {{ product?.name | truncate: 30: '...'}}
      </h2>
    </mat-card-title>
    <span class="item-card-date size--all-xs text-right" [innerHtml]="humanPublishedAt" *ngIf="humanPublishedAt">
    </span>
  </mat-card-header>
  <app-image [publicId]="product.image1" [resize]="resizedImage" (click)="productDetail()" *ngIf="product.image1"></app-image>
  <app-product-action [product]="product" (updateScore)="updateScoreProduct($event)"></app-product-action>
</mat-card>
