<div class="main-wrapper">

  <div class="content-wrapper">
    <mat-card>
      <div class="header-container">
        <mat-card-header>
          <mat-card-title>
            <h3 class="text-ucfirst">
              {{ 'layout-builder.edit.content.title'|translate }}
            </h3>
          </mat-card-title>

        </mat-card-header>
      </div>
      <div class="spacer">
        <hr>
      </div>
      <mat-card-content>
        <mat-list fxLayout="row"
                  fxLayoutAlign="start stretch">
          <mat-list-item *ngFor="let theme of themes">
            <div mat-menu-item (click)="installTheme(theme)">
              <div class="docs-theme-picker-swatch">
                <mat-icon class="docs-theme-chosen-icon" *ngIf="currentTheme === theme">check_circle</mat-icon>
                <div class="docs-theme-picker-primary" [style.background]="theme.primary"></div>
              </div>
            </div>
          </mat-list-item>
        </mat-list>


      </mat-card-content>
    </mat-card>
  </div>
</div>
