<div class="card-welcome">
  <mat-card>
    <mat-card-content>
      <mat-icon>photo_camera</mat-icon>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>
        <h1 class="card-title size--all-xl">
          {{ 'product-list.card-title.title' | translate }}
        </h1>
      </mat-card-title>
      <mat-card-subtitle class="card-subtitle">
        <h2 class="size--all-l">
          {{ 'product-list.card-subtitle.title' | translate }}
        </h2>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button [routerLink]="['/add']" color="accent" mat-raised-button type="button" role="button" [attr.aria-label]="'product-list.card-actions.aria-label'|translate" angulartics2On="click" angularticsAction="clickedOnButtonAddProduct" [angularticsCategory]="'product.add'" [innerHtml]="'product-list.card-actions.title' | translate">
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="card-container">
  <app-product-item *ngFor="let product of products$ | async" class="grid-tile-item" [product]="product" (updatedProduct)="updateProduct($event)"></app-product-item>
</div>
<div class="text-right">
  <button role="button" [attr.aria-label]="'product-list.fab-button.title' | translate" mat-mini-fab class="absolute-fab pulse" (click)="addProduct()" angulartics2On="click" angularticsAction="clickedOnFabAddProduct" [angularticsCategory]="'product.add'">
    <mat-icon>add</mat-icon>
  </button>
</div>
