<div class="account-submodule-view">
  <div class="container">
    <div class="order-wrapper">
      <div class="order-header">
        <div class="row heading-title">
          <div class="col-lg-12 offset-lg-0 col-md-10 offset-md-1col-10 offset-1 heading-wrapper"
               fxLayout="row"
               fxLayoutAlign="center stretch">
            <h2 class="title text-uppercase">{{ 'order-list.title'|translate }}</h2>
          </div>
        </div>
      </div>

      <div class="row order-content">

        <div class="col-lg-12 offset-lg-0 col-md-10 offset-md-1 col-10 offset-1 text-center"
             *ngIf="isLoading">
          <app-loader></app-loader>
        </div>

        <div class="col-lg-12 offset-lg-0 col-md-10 offset-md-1 col-10 offset-1 text-center"
             *ngIf="orders.length === 0 && !isLoading">
          {{ 'order-list.error.empty'|translate }}
        </div>


        <div class="col-lg-12 offset-lg-0 col-md-10 offset-md-1 col-10 offset-1" *ngIf="orders.length && !isLoading">
          <app-order-item *ngFor="let order of orders | orderBy: '-created_at.seconds'"
                          [order]="order"></app-order-item>
        </div>
      </div>

      <div class="row order-actions" *ngIf="orders.length && showAllOrdersListButton">
        <div class="col-lg-4 offset-lg-8">
          <a class="btn btn-shadow" [routerLink]="'/order' | localize">
            {{ 'order-list.actions.title'|translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
