<mat-card class="mat-card m2" *ngIf="product" angulartics2On="mouseover" angularticsAction="hoveredOverProductItem"
          [angularticsCategory]="'product.item'" fxFlex="100" fxFlex.xs="100" fxLayout="center center">
  <mat-card-header class="mat-card-header" (click)="productDetail($event)">
    <mat-card-title class="mat-card-title" angulartics2On="click" angularticsAction="clickedOnTitleShowProduct"
                    [angularticsCategory]="'product.detail'" fxLayout="row" fxLayoutAlign="space-around center"
                    fxLayoutGap="20px">
      <h2 class="mat-card-name size--all-xl">
        {{ product?.name | shorten: 80: '...'}}
      </h2>
      <span *ngIf="(editable|async) === true">
      <button type="button" class="admin edit" mat-icon-button color="primary"
              [routerLink]="['/admin/product/edit/', product?.key]">
        <mat-icon>mode_edit</mat-icon>
      </button>
    </span>
    </mat-card-title>
  </mat-card-header>
  <app-image class="app-image" mat-card-image [key]="product?.images[0]" [resize]="{height: 200}"
             *ngIf="product && product.images && product?.images[0]"
             (click)="productDetail($event)">
  </app-image>
</mat-card>
