.cdk-overlay-container {

  // Bottom sheet custom par rapport à bootstrap
  mat-bottom-sheet-container, snack-bar-container {
    max-width: 50vw;

    // Valeur par défaut sans niveau de précision de sur le panelClass du bottom sheet
    background: mat-color($white);
    color: mat-color($grey);

    // Ajout d'espace entre le titre et le descriptif de l'erreur
    mat-list.mat-list-base {
      mat-list-item.mat-list-item {
        height: auto;
        min-height: 72px;

        .mat-list-text {
          .mat-line, .mat-line:nth-child(n+2) {
            padding: 10px 0;
            white-space: normal;
            overflow: visible;

            &.text-title {
              font-size: 1rem;
            }

            &.text-message {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    &.alert-danger {
      background: mat-color($error); // css bootstrap

      // List par défaut pour le bottom sheet
      mat-list-item {
        .mat-list-item-content {
          color: mat-color($white);
        }
      }
    }

    &.alert-warning {
      background: mat-color($second); // css bootstrap

      // List par défaut pour le bottom sheet
      mat-list-item {
        .mat-list-item-content {
          color: mat-color($white);
        }
      }
    }

    &.alert-success {
      background: mat-color($primary); // css bootstrap

      // List par défaut pour le bottom sheet
      mat-list-item {
        .mat-list-item-content {
          color: mat-color($white);
        }
      }
    }

    &.alert-primary {
      background: mat-color($primary); // css bootstrap

      // List par défaut pour le bottom sheet
      mat-list-item {
        .mat-list-item-content {
          color: mat-color($white);
        }
      }
    }
  }
}

app-shared-breadcrumb {
  a {
    text-decoration: none;
    color: mat-color($primary);
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: mat-color($primary);
    }
  }
}


app-product-item {
  a.product-link {
    text-decoration: none;
    color: mat-color($primary);
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: mat-color($primary);
    }
  }
}


app-footer {
  footer {
    background-color: mat-color($primary);

    .mat-toolbar {
      background-color: mat-color($primary);
    }

    a {
      color: mat-color($warn);

      &:hover {
        color: mat-color($warn, 700);
        text-decoration: none;
      }

      &.text-sublink {
        &:hover {
          color: mat-color($warn, 700);
          text-decoration: none;
        }
      }
    }
  }
}


