@include media-breakpoint-up(lg) {

  // HOME HEADER CAROUSEL
  app-header {
    header {
      .carousel {
        height: 450px;

        .carousel-inner {
          height: 100%;

          .carousel-caption {
            color: mat-color($primary);
          }
        }

        .carousel-control {
          display: none;
        }

        .carousel-indicators {
          bottom: 0;
          margin-bottom: 0;

          li {
            margin: 4px 5px 0;
            height: 5px;
            width: 40px;

            &.active {
              margin-top: 0;
            }
          }
        }
      }
    }
  }


  // BLOCK HOME - CATEGORIES
  app-category-item {
    .main-wrapper {
      border: 0.5px solid $block-color-light-grey;

      .image-wrapper {
        &::after {
          background-color: mat-color($primary);
        }
      }

      .heading-title {
        font-family: $primary-font;
      }

      // bloc SEPARATEUR
      .separator-wrapper {
        border: 3px solid mat-color($primary);
      }

      .heading-wrapper {
        .heading-title {
          .heading-link {
            color: mat-color($primary);
            text-decoration: none;
          }
        }
      }
    }
  }

  app-product-detail {
    .global-container {
      margin-top: 2rem;
    }
  }

  app-product-list {
    .card-wrapper {
      border: .5px solid $block-color-light-grey;
    }
  }

  app-product-item {

    .product-detail-top-icons-wrapper {
      .icon-wrapper {
        @include transition(all .2s ease-in);
      }
    }

    .card-discount-wrapper {
      .card-discount {
        color: mat-color($white);
        background-color: mat-color($primary);
        font-family: $primary-font;
      }
    }

    .card-product-new {
      .product-new {
        color: mat-color($white);
        background-color: mat-color($primary);
      }

      .product-picto {
        color: mat-color($primary);
        border-color: mat-color($primary);
      }
    }

    .product-item-price {
      .product-item-price-text, .product-item-price-value {
        font-family: $primary-font;
        font-size: 1.875rem;
        letter-spacing: -1px;
      }
    }

    .btn-card {
      background-color: transparent;
      font-family: $primary-font;

      &:hover {
        color: mat-color($primary);
      }
    }
  }

  app-category-detail {
    .category-header-wrapper {
      h2 {
        font-size: 2.5rem;
        font-family: $primary-font;
      }
    }
  }

  // Account
  // Order
  app-order-list {
    app-order-item {
      .date-wrapper,
      .reference-wrapper,
      .products-wrapper,
      .total-wrapper {
        width: 100%;

        span {
          font-size: 1rem;
        }

        strong {
          font-size: 1.5rem;
        }
      }

      .image-wrapper {
        img {
          height: 48px;
          width: auto;
        }
      }

      .products-wrapper {
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
}
