@include media-breakpoint-between(xs, sm) {

  app-order-list {
    app-order-item {
      .date-wrapper,
      .reference-wrapper,
      .products-wrapper,
      .total-wrapper {
        width: 100%;

        span {
          font-size: 0.7rem;
        }

        strong {
          font-size: 0.9rem;
        }
      }

      .image-wrapper {
        img {
          height: 48px;
          width: auto;
        }
      }

      .products-wrapper {
        h4 {
          font-size: 0.7rem;
        }
      }
    }
  }

  app-order-detail {
    .order-detail-wrapper[_ngcontent-c10] {
      margin-top: 2rem;
      .header-wrapper[_ngcontent-c10] {
        .title-wrapper[_ngcontent-c10] {
          .title[_ngcontent-c10] {
            &.order-detail-title {
              font-size: 1rem;
              font-weight: 800;
            }
          }
        }
      }
    }
  }

  app-category-detail {
    .category-header-wrapper {
      h2 {
        font-family: $primary-font;
      }
    }
  }

  // BLOCK HOME - CATEGORIES

  app-category-default-list {
    .category-list-component {
      .category-header-wrapper,
      .category-list-wrapper {
        padding-top: 25px;
        margin-bottom: 1rem;

        .category-title {
          &.title-header {
            font-size: 2rem;
            letter-spacing: normal;
          }
        }
      }

      app-category-item {
        .main-wrapper {
          border: 0.5px solid $block-color-light-grey;

          .image-wrapper {
            &::after {
              background-color: mat-color($primary);
            }
          }

          .heading-title {
            font-family: $primary-font;
          }

          // bloc SEPARATEUR
          .separator-wrapper {
            border: 3px solid mat-color($primary);
          }

          .heading-wrapper {
            .heading-title {
              .heading-link {
                color: mat-color($primary);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  app-product-detail {
    .global-container {
      margin-top: 2rem;
    }
  }

  app-home-product-list {
    .product-list-wrapper {
      .product-header-wrapper {

        padding-top: 25px;
        margin-bottom: 1rem;

        .product-title {
          &.title-product {
            font-size: 2rem;
            letter-spacing: normal;
          }
        }
      }
    }

    app-product-item {
      .product-item {
        margin: 0.5rem 0;

        .product-item-price {
          .product-item-price-text, .product-item-price-value {
            font-family: $primary-font;
            letter-spacing: normal;
            font-size: 1.2rem;
          }
        }
      }
    }
  }


}
