@include media-breakpoint-between(xs, sm) {

  app-order-list {
    app-order-item {
      .date-wrapper,
      .reference-wrapper,
      .products-wrapper,
      .total-wrapper {
        width: 100%;

        span {
          font-size: 0.7rem;
        }

        strong {
          font-size: 0.9rem;
        }
      }

      .image-wrapper {
        img {
          height: 48px;
          width: auto;
        }
      }

      .products-wrapper {
        h4 {
          font-size: 0.7rem;
        }
      }
    }
  }
}
