<mat-card>
  <mat-card-content class="pb5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
      <mat-form-field>
        <input type="url" matInput placeholder="Lien vers le pull" formControlName="external_url">
        <mat-error *ngIf="externalUrl.invalid">Erreur</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput maxlength="50" placeholder="Titre" formControlName="name">
        <mat-hint align="start"><strong>Donner un titre court à votre pull</strong> </mat-hint>
        <mat-hint align="end">{{ name.value.length }} / 50</mat-hint>
        <mat-error *ngIf="name.invalid && name.value.length === 0">Le nom du pull est requis</mat-error>
        <mat-error *ngIf="name.invalid && name.value.length > 0">Le nom du pull contient des erreurs</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-hint align="start"><strong>Donner un court descriptif à votre pull</strong> </mat-hint>
        <mat-hint align="end">{{ description.value.length }} / 2000</mat-hint>
        <mat-error *ngIf="description.invalid && description.value.length === 0">La description du pull est requise</mat-error>
        <mat-error *ngIf="description.invalid && description.value.length > 0">La description du pull contient des erreurs</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Prix" formControlName="price">
        <mat-error *ngIf="price.invalid && price.value < 0">Le prix ne peut pas être négatif</mat-error>
        <mat-error *ngIf="price.invalid && price.value > 9999">Le prix est un peu trop cher !</mat-error>
        <mat-error *ngIf="price.invalid">Le prix doit être un nombre (sans €)</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Frais de livraison" [attr.disabled]="disableDelivery" formControlName="delivery_fee">
        <mat-error *ngIf="deliveryFee.invalid && deliveryFee.value < 0">Les frais de livraison ne peuvent pas être négatifs</mat-error>
        <mat-error *ngIf="deliveryFee.invalid && deliveryFee.value > 9999">Les frais de livraison sont un peu trop chers !</mat-error>
        <mat-error *ngIf="deliveryFee.invalid">Les frais de livraison doivent être un nombre (sans €)</mat-error>
      </mat-form-field>
      <app-clothing-image [media]="image1" (imageChanged)="onImageChange($event)"></app-clothing-image>
      <app-clothing-image [media]="image2" (imageChanged)="onImageChange($event)" *ngIf="clothing.image1"></app-clothing-image>
      <app-clothing-image [media]="image3" (imageChanged)="onImageChange($event)" *ngIf="clothing.image2 && clothing.image3"></app-clothing-image>
      <div class="pa2">
        <button mat-raised-button color="primary" type="submit" class="btn-add" [disabled]="!form.valid || isLoading">Valider</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
