<div fxLayout="row wrap"
     fxLayoutAlign="space-between stretch">

  <div class="left-actions">
    <button class="button-actions"
            mat-raised-button
            color="primary"
            (click)="previousDay()"
            type="button">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button class="button-actions"
            mat-raised-button
            (click)="nextDay()"
            color="primary"
            type="button">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button class="button-actions"
            mat-raised-button
            color="primary"
            [class.active]="isToday()"
            (click)="goToToday()">
      <mat-icon>today</mat-icon>
    </button>
  </div>
  <div class="right-actions">
    <button class="button-actions"
            mat-raised-button
            color="primary"
            [class.hide-on-small-only]="end?.format('YYYY-MM-DD') !== start?.format('YYYY-MM-DD')">
      {{ start?.format('LL') }}
      <span *ngIf="end?.format('YYYY-MM-DD') !== start?.format('YYYY-MM-DD')">
            - {{ end?.format('LL') }}
      </span>
    </button>
    <button class="button-actions"
            mat-raised-button
            color="primary"
            [class.active]="viewMode === 'week'"
            (click)="switchView('week')">
      <mat-icon>view_week</mat-icon>
      <span fxHide.lt-md="true">{{ 'calendar.week'|translate }}</span>
    </button>
    <button class="button-actions"
            mat-raised-button
            color="primary"
            [class.active]="viewMode === '3days'"
            (click)="switchView('3days')">
      <mat-icon>view_column</mat-icon>
      <span fxHide.lt-md="true">{{ 'calendar.3days'|translate }}</span>
    </button>
    <button class="button-actions"
            mat-raised-button
            color="primary"
            [class.active]="viewMode === 'day'"
            (click)="switchView('day')">
      <mat-icon>view_day</mat-icon>
      <span fxHide.lt-md="true">{{ 'calendar.day'|translate }}</span>
    </button>
  </div>
</div>
