<div fxLayout="row wrap"
     fxLayoutAlign="space-between stretch"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutGap.xs="10px">

  <div class="left-actions"
       fxLayout="row"
       fxLayoutAlign="start stretch"
       fxLayoutGap="10px"
       fxLayout.xs="row"
       fxLayoutAlign.xs="center stretch"
       fxLayoutGap.xs="10px">
    <button class="button-actions"
            mat-raised-button
            color="primary"
            (click)="previousDay()"
            type="button"
            role="button"
            [title]="'cta.previous'|translate">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button class="button-actions"
            mat-raised-button
            (click)="nextDay()"
            color="primary"
            type="button"
            role="button"
            [title]="'cta.next'|translate">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button class="button-actions"
            [title]="'calendar.back-today'|translate"
            mat-raised-button
            color="primary"
            [disabled]="isToday()"
            (click)="goToToday()"
            role="button">
      <mat-icon>today</mat-icon>
    </button>
  </div>
  <div class="right-actions"
       fxLayout="row wrap"
       fxLayoutAlign="end stretch"
       fxLayoutGap="10px"
       fxLayout.xs="row wrap"
       fxLayoutAlign.xs="center stretch"
       fxLayoutGap.xs="10px">
    <button class="button-actions"
            mat-raised-button
            type="button"
            role="button"
            [title]="'calendar.today'|translate"
            color="primary"
            [disabled]="true"
            [class.hide-on-small-only]="end?.format('YYYY-MM-DD') !== start?.format('YYYY-MM-DD')">
      {{ start?.format('LL') }}
      <span *ngIf="end?.format('YYYY-MM-DD') !== start?.format('YYYY-MM-DD')">
        - {{ end?.format('LL') }}
      </span>
    </button>
    <button class="button-actions"
            mat-raised-button
            color="primary"
            type="button"
            role="button"
            [title]="'calendar.week'|translate"
            [class.active]="viewMode === 'week'"
            (click)="switchView('week')"
            fxHide.lt-md="true">
      <mat-icon>view_week</mat-icon>
      <span fxHide.lt-md="true">{{ 'calendar.week'|translate }}</span>
    </button>
    <button class="button-actions"
            mat-raised-button
            color="primary"
            type="button"
            role="button"
            [title]="'calendar.3days'|translate"
            [class.active]="viewMode === '3days'"
            (click)="switchView('3days')"
            fxHide.lt-md="true">
      <mat-icon>view_column</mat-icon>
      <span fxHide.lt-md="true">{{ 'calendar.3days'|translate }}</span>
    </button>
    <button class="button-actions"
            mat-raised-button
            color="primary"
            type="button"
            role="button"
            [title]="'calendar.day'|translate"
            [class.active]="viewMode === 'day'"
            (click)="switchView('day')"
            fxHide.lt-md="true">
      <mat-icon>view_day</mat-icon>
      <span fxHide.lt-md="true">{{ 'calendar.day'|translate }}</span>
    </button>
  </div>
</div>
