<div class="faq-wrapper"
     fxLayout="row"
     fxLayoutAlign="space-around stretch"
     fxLayoutGap="20px">

  <div class="nav-faq-wrapper">
    <mat-card class="nav-faq-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>help</mat-icon>
        <mat-card-title>
          <b class="text-dark font-size-18">General Question</b>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="info">
          <p class="no-mrg-btm ">New Comer? Start with the basic</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="faq-content-wrapper">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="sticky-wrapper" class="sticky-wrapper" style="height: 585px;">
        <div class="sticky" style="width: 350px;">
          <a href="#ask-1" class="card mrg-btm-15 scroll-to">
            <div class="card-block padding-25">
              <ul class="list-unstyled list-info">
                <li>
                  <span class="thumb-img pdd-top-10">
                    <i class="ti-help-alt text-primary font-size-30"></i>
                  </span>
                  <div class="info">
                    <b class="text-dark font-size-18">General Question</b>
                    <p class="no-mrg-btm ">New Comer? Start with the basic</p>
                  </div>
                </li>
              </ul>
            </div>
          </a>
          <a href="#ask-2" class="card mrg-btm-15 scroll-to">
            <div class="card-block padding-25">
              <ul class="list-unstyled list-info">
                <li>
                  <span class="thumb-img pdd-top-10">
                    <i class="ti-money text-success font-size-30"></i>
                  </span>
                  <div class="info">
                    <b class="text-dark font-size-18">Buy &amp; Sell</b>
                    <p class="no-mrg-btm">Know more about Buy &amp; Sell</p>
                  </div>
                </li>
              </ul>
            </div>
          </a>
          <a href="#ask-3" class="card mrg-btm-15 scroll-to">
            <div class="card-block padding-25">
              <ul class="list-unstyled list-info">
                <li>
                                                        <span class="thumb-img pdd-top-10">
																<i class="ti-comments-smiley text-info font-size-30"></i>
															</span>
                  <div class="info">
                    <b class="text-dark font-size-18">About Services</b>
                    <p class="no-mrg-btm">Know more about our features</p>
                  </div>
                </li>
              </ul>
            </div>
          </a>
          <a href="#ask-4" class="card mrg-btm-15 scroll-to">
            <div class="card-block padding-25">
              <ul class="list-unstyled list-info">
                <li>
                                                        <span class="thumb-img pdd-top-10">
																<i class="ti-shield text-warning font-size-30"></i>
															</span>
                  <div class="info">
                    <b class="text-dark font-size-18">Privacy &amp; Policy</b>
                    <p class="no-mrg-btm">We take our security strict</p>
                  </div>
                </li>
              </ul>
            </div>
          </a>
          <a href="#ask-5" class="card mrg-btm-15 scroll-to">
            <div class="card-block padding-25">
              <ul class="list-unstyled list-info">
                <li>
                                                        <span class="thumb-img pdd-top-10">
																<i class="ti-truck text-danger font-size-30"></i>
															</span>
                  <div class="info">
                    <b class="text-dark font-size-18">Shipping</b>
                    <p class="no-mrg-btm">Know more about shipping</p>
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card" id="ask-1">
        <div class="card-block">
          <ul class="list-unstyled list-info">
            <li>
                                                    <span class="thumb-img pdd-top-10">
															<i class="ti-help-alt text-primary font-size-30"></i>
														</span>
              <div class="info">
                <b class="text-dark font-size-22">General Question</b>
                <p class="no-mrg-btm ">New Comer? Start with the basic</p>
              </div>
            </li>
          </ul>
          <div class="mrg-top-30">
            <div id="accordion-ask-1" class="accordion border-less" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-1">
                      <span>Lando Calrissian</span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-1" class="collapse panel-collapse show">
                  <div class="panel-body">
                    <p>
                      Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion
                      in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret
                      base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then
                      inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard
                      this ship! And no transmissions were made.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-2">
                      <span>Grand Moff Tarkin</span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-2" class="collapse panel-collapse">
                  <div class="panel-body">
                    <p>
                      How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot
                      in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place
                      this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much
                      easier. What makes you think there are settlements over there? Don't get technical with me. What
                      mission? What are you talking about?
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-3">
                      <span>Mon Calamari </span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-3" class="collapse panel-collapse">
                  <div class="panel-body">
                    <p>
                      Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a
                      question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi.
                      You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no
                      mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi...
                      I think she was a passenger on our last voyage.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="ask-2">
        <div class="card-block">
          <ul class="list-unstyled list-info">
            <li>
                                                    <span class="thumb-img pdd-top-10">
															<i class="ti-money text-success font-size-30"></i>
														</span>
              <div class="info">
                <b class="text-dark font-size-22">Buy &amp; Sell</b>
                <p class="no-mrg-btm">Know more about Buy &amp; Sell</p>
              </div>
            </li>
          </ul>
          <div class="mrg-top-30">
            <div id="accordion-ask-2" class="accordion border-less" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-2" href="#collapse-ask-4">
                      <span>Lando Calrissian</span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-4" class="collapse panel-collapse show">
                  <div class="panel-body">
                    <p>
                      Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion
                      in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret
                      base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then
                      inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard
                      this ship! And no transmissions were made.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-ask-2" href="#collapse-ask-5">
                      <span>Grand Moff Tarkin</span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-5" class="collapse panel-collapse">
                  <div class="panel-body">
                    <p>
                      How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot
                      in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place
                      this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much
                      easier. What makes you think there are settlements over there? Don't get technical with me. What
                      mission? What are you talking about?
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-ask-2" href="#collapse-ask-6">
                      <span>Mon Calamari </span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-6" class="collapse panel-collapse">
                  <div class="panel-body">
                    <p>
                      Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a
                      question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi.
                      You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no
                      mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi...
                      I think she was a passenger on our last voyage.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="ask-3">
        <div class="card-block">
          <ul class="list-unstyled list-info">
            <li>
                                                    <span class="thumb-img pdd-top-10">
															<i class="ti-comments-smiley text-info font-size-30"></i>
														</span>
              <div class="info">
                <b class="text-dark font-size-22">About Services</b>
                <p class="no-mrg-btm">Know more about our features</p>
              </div>
            </li>
          </ul>
          <div class="mrg-top-30">
            <div id="accordion-ask-3" class="accordion border-less" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-3" href="#collapse-ask-7">
                      <span>Lando Calrissian</span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-7" class="collapse panel-collapse show">
                  <div class="panel-body">
                    <p>
                      Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion
                      in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret
                      base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then
                      inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard
                      this ship! And no transmissions were made.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-ask-3" href="#collapse-ask-8">
                      <span>Grand Moff Tarkin</span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-8" class="collapse panel-collapse">
                  <div class="panel-body">
                    <p>
                      How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot
                      in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place
                      this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much
                      easier. What makes you think there are settlements over there? Don't get technical with me. What
                      mission? What are you talking about?
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-ask-3" href="#collapse-ask-9">
                      <span>Mon Calamari </span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-9" class="collapse panel-collapse">
                  <div class="panel-body">
                    <p>
                      Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a
                      question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi.
                      You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no
                      mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi...
                      I think she was a passenger on our last voyage.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="ask-4">
        <div class="card-block">
          <ul class="list-unstyled list-info">
            <li>
                                                    <span class="thumb-img pdd-top-10">
															<i class="ti-shield text-warning font-size-30"></i>
														</span>
              <div class="info">
                <b class="text-dark font-size-22">Privacy &amp; Policy</b>
                <p class="no-mrg-btm">We take our security strict</p>
              </div>
            </li>
          </ul>
          <div class="mrg-top-30">
            <div id="accordion-ask-4" class="accordion border-less" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-4" href="#collapse-ask-10">
                      <span>Lando Calrissian</span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-10" class="collapse panel-collapse show">
                  <div class="panel-body">
                    <p>
                      Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion
                      in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret
                      base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then
                      inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard
                      this ship! And no transmissions were made.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-ask-4" href="#collapse-ask-11">
                      <span>Grand Moff Tarkin</span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-11" class="collapse panel-collapse">
                  <div class="panel-body">
                    <p>
                      How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot
                      in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place
                      this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much
                      easier. What makes you think there are settlements over there? Don't get technical with me. What
                      mission? What are you talking about?
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-ask-4" href="#collapse-ask-12">
                      <span>Mon Calamari </span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-12" class="collapse panel-collapse">
                  <div class="panel-body">
                    <p>
                      Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a
                      question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi.
                      You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no
                      mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi...
                      I think she was a passenger on our last voyage.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="ask-5">
        <div class="card-block">
          <ul class="list-unstyled list-info">
            <li>
                                                    <span class="thumb-img pdd-top-10">
															<i class="ti-truck text-danger font-size-30"></i>
														</span>
              <div class="info">
                <b class="text-dark font-size-22">Shipping</b>
                <p class="no-mrg-btm">Know more about shipping</p>
              </div>
            </li>
          </ul>
          <div class="mrg-top-30">
            <div id="accordion-ask-5" class="accordion border-less" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-5" href="#collapse-ask-13">
                      <span>Lando Calrissian</span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-13" class="collapse panel-collapse show">
                  <div class="panel-body">
                    <p>
                      Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion
                      in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret
                      base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then
                      inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard
                      this ship! And no transmissions were made.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-ask-5" href="#collapse-ask-14">
                      <span>Grand Moff Tarkin</span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-14" class="collapse panel-collapse">
                  <div class="panel-body">
                    <p>
                      How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot
                      in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place
                      this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much
                      easier. What makes you think there are settlements over there? Don't get technical with me. What
                      mission? What are you talking about?
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-ask-5" href="#collapse-ask-15">
                      <span>Mon Calamari </span>
                      <i class="icon ti-arrow-circle-down"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-ask-15" class="collapse panel-collapse">
                  <div class="panel-body">
                    <p>
                      Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a
                      question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi.
                      You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no
                      mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi...
                      I think she was a passenger on our last voyage.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
