# NativeScriptnode_modules/
src/app-recipe/**/*.js
src/app-alr/**/*.js
hooks/
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

design/gt500.psd
.firebase/*
.firebase
src/app-alr/assets/*.css

# firebase
!/public
public/*
!/public/.gitkeep
functions/node_modules
functions/dist
firebase-debug.log

#projects release
projects/ngx-calendar
projects/ngx-slack-notification

#ionic
www/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
