@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../../scss/theme';

.form-wrapper {

  .content-wrapper {
    padding-top: 20px;

    .mat-card {
      min-width: 250px;
      @include media-breakpoint-up(xs) {
        max-width: 300px;
      }
      @include media-breakpoint-up(sm) {
        max-width: 300px;
      }
      @include media-breakpoint-up(md) {
        max-width: 600px;
      }
    }
    mat-slide-toggle {
      display: block;
    }
  }
}
