<div class="wrapper offer-layout my-2">
  <div *ngIf="offer"
       angulartics2On="click"
       angularticsAction="hoveredOverOfferDetail"
       [angularticsCategory]="'offer.detail'"
       fxLayout="row wrap"
       fxLayoutAlign="space-around stretch"
       fxLayoutGap="20px">
    <mat-card class="my-2"
              fxFlex="60">
      <app-image class="app-image"
                 [key]="offer.images[0]"
                 [resize]="resizedImage"
                 *ngIf="offer.images[0]"></app-image>
      <mat-card-header class="title">
        <mat-card-title>
          {{ brand?.name }} {{ model?.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ offer?.price }} {{ 'euro'|translate }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span class="offer-published">{{ offer?.published_at |date:'medium' }}</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="my-2" fxFlex="30">
      <mat-card-header>
        <mat-icon mat-card-avatar>account_circle</mat-icon>
        <mat-card-title>
          {{ offer?.user?.username }}
        </mat-card-title>
        <mat-card-actions>
          <div fxLayout="column"
               fxLayoutAlign="center center"
               fxLayoutGap="30px">
            <button type="button"
                    mat-raised-button
                    color="primary"
                    (click)="showPhone()">
              <mat-icon>phone</mat-icon>
              {{ 'cta.show_phone'|translate }}
            </button>
            <button type="button"
                    mat-raised-button
                    color="warn"
                    (click)="sendEmail()">
              <mat-icon>email</mat-icon>
              {{ 'cta.send_email'|translate }}
            </button>
            <button type="button"
                    mat-raised-button
                    color="accent"
                    (click)="sendMessage()">
              <mat-icon>question_answer</mat-icon>
              {{ 'cta.send_message'|translate }}
            </button>
          </div>
        </mat-card-actions>
      </mat-card-header>
    </mat-card>
    <mat-card class="my-2" fxFlex="90">
      <mat-card-header>
        <mat-card-title>
          <strong class="text-uppercase">{{ 'criteria'|translate }}</strong>
        </mat-card-title>
        <mat-card-subtitle>
          <div class="item-container"
               fxLayout="row wrap"
               fxLayoutAlign="space-around stretch"
               fxLayoutGap="20px">
            <div class="item"
                 *ngFor="let item of items"
                 fxLayout="column"
                 fxLayoutAlign="center center">
              <strong class="text-uppercase">{{ item?.label | translate }}</strong>
              <span>{{ item?.value }}</span>
            </div>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <strong class="text-uppercase">{{ 'description'|translate }}</strong>
        <p class="main-title">
          {{ offer.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
