<div class="product-edit-wrapper"
     fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="20px">
  <div class="main-title"
       fxLayout="row"
       fxLayoutAlign="center stretch">

    <h1>{{ 'product-edit.title'|translate }}</h1>
  </div>
  <div class="form-edit-wrapper"
       fxLayout="row"
       fxLayoutAlign="center stretch">

    <form [formGroup]="form">
      <mat-form-field>
        <mat-select placeholder="{{ 'product-edit.brand.placeholder'|translate }}"
                    [formControl]="form.controls.brand">
          <mat-option *ngFor="let brand of brands"
                      [value]="brand">
            {{brand.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.brand.hasError('required')">
          {{ 'error.required.brand'|translate }}
        </mat-error>
        <mat-hint>{{ 'form.required'|translate }}</mat-hint>
      </mat-form-field>

    </form>
  </div>
</div>



