.link {
  cursor: pointer;
}

.card-header-wrapper {

  .mat-card {
    min-width: 30vw;
  }

  .card-actions {
    button, a {
      margin: 5px;
    }
  }
}

.card-content {
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.03);
  width: 100%;
  min-width: 90vw;
  .datatable {
    height: 60vh;
    min-width: 90vw;
  }
}
