@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../app-recipe/scss/theme/theme';

.mat-toolbar {
  &.mat-toolbar-single-row {
    height: 64px;
    padding: 0 0 0 20px;
  }

  #main-logo {
    .cls-2 {
      text-transform: capitalize;
      text-decoration: underline;
      font-family: Merriweather, serif;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .menu-spacer {
    flex: 1 1 auto;
  }
  a {
    height: 64px;
    line-height: 64px;
    color: mat-color($white);
    text-decoration: none;
    padding: 0;
    cursor: pointer;
  }
  .menu-icon {
    height: 100%;
    width: 64px;
    display: flex;
    justify-content: center;
    border-left: solid 1px mat-color($grey);

    img {
      width: 30px;
    }

    &.search {
      &:hover {
        background-color: mat-color($second);
      }
    }
  }

}

.mat-button {
  @media (max-width: 600px) {
    min-width: 44px;
  }
  /* medium*/
  @media (min-width: 601px) and (max-width: 992px) {
    min-width: 88px;
  }
  /* large */
  @media (min-width: 993px) {
    min-width: 88px;
  }
}

.login-wrapper {
  @include media-breakpoint-up(xs) {
    display: none;
  }
  @include media-breakpoint-up(sm) {
    display: block;
  }
  @include media-breakpoint-up(md) {
    display: block;
  }
  @include media-breakpoint-up(lg) {
    display: block;
  }
  @include media-breakpoint-up(xl) {
    display: block;
  }
}

