<mat-toolbar color="primary"
             class="mat-toolbar main-menu"
             *ngIf="config">
  <a mat-button
     (click)="toggleSidenav()"
     angulartics2On="click"
     angularticsAction="toggleSidenavWithBurger"
     [angularticsCategory]="'menu.toggle'"
     *ngIf="config.displayBurgerMenu">
    <mat-icon>menu</mat-icon>
  </a>
  <h1 id="main-logo"
      class="logo"
      angulartics2On="mouseover"
      angularticsAction="hoveredOverHomeLink"
      [angularticsCategory]="'home.title'">
    <a class="link-logo"
       [routerLink]="['/']">
      <span class="cls-1"
            [class.text-underline]="config.underlineTitle"
            *ngIf="'menu.title1'|translate">
        {{ 'menu.title1' | translate }}
      </span>
      <span class="cls-2"
            [class.text-underline]="config.underlineTitle"
            *ngIf="'menu.title2'|translate">
        {{ 'menu.title2' | translate }}
      </span>
    </a>
  </h1>

  <ng-container *ngIf="config.show_page_title">
    <span class="pl-4" [innerHtml]="title|translate" *ngIf="title && title.length > 0"></span>
  </ng-container>

  <span class="menu-spacer"></span>

  <a [routerLink]="routerAdminUrl"
     fxShow
     fxHide.xs
     class="mr-3"
     *ngIf="config.displayAdminRecipe && isAdmin">
    {{ 'cta.admin'|translate }}
  </a>

  <div class="admin-mobile"
       fxHide
       fxShow.xs
       *ngIf="isAdmin && currentRoute && routerAdminUrl && currentRoute.join('/') !== routerAdminUrl.join('/') && config.displayAdminRecipe">
    <a [routerLink]="routerAdminUrl">
      {{ 'cta.admin'|translate }}
    </a>
  </div>

  <a (click)="search()"
     *ngIf="config.displaySearchIcon">
    <div class="menu-icon search">
      <mat-icon svgIcon="search"></mat-icon>
    </div>
  </a>

  <ng-container
    *ngIf="config.displayIconButtonConnection && !(userService.getAuthState() | async) then disconnected else logged">
  </ng-container>

  <ng-template #logged>
    <span class="icon-wrapper">
      <a>
        <ng-container *ngIf="config.customIconConnection then customIconConnection; else defaultIconConnection">
        </ng-container>
      </a>
    </span>
  </ng-template>

  <ng-template #disconnected>
    <span class="icon-wrapper">
      <a (click)="userService.loginGoogle()"
         mat-icon-button>
        <ng-container *ngIf="config.customIconConnection then customIconConnection; else defaultIconConnection">
        </ng-container>
      </a>
    </span>

  </ng-template>

  <ng-template #customIconConnection>
    <div class="menu-icon user">
      <mat-icon svgIcon="user"></mat-icon>
    </div>
  </ng-template>

  <ng-template #defaultIconConnection>
    <mat-icon>person</mat-icon>
  </ng-template>

  <span class="login-wrapper"
        *ngIf="!(userService.getAuthState() | async) && config.displayButtonConnection && config.connectionBtn">
    <button mat-raised-button
            color="accent"
            [style.background]="config.connectionBtn.background"
            [style.color]="config.connectionBtn.color"
            type="button"
            (click)="userService.loginGoogle()"
            [innerHtml]="'menu.connection.title'|translate">
    </button>
  </span>

  <span class="icon-wrapper"
        *ngIf="config.displayCart">
    <a mat-icon-button
       color="primary"
       [routerLink]="['/cart']|localize"
       [title]="'cta.add-to-cart'|translate">
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </span>
</mat-toolbar>
