<mat-toolbar color="primary"
             class="mat-toolbar main-menu">
  <a mat-button
     (click)="toggleSidenav()"
     angulartics2On="click"
     angularticsAction="toggleSidenavWithBurger"
     [angularticsCategory]="'menu.toggle'">
    <mat-icon>menu</mat-icon>
  </a>
  <h1 id="main-logo"
      class="logo"
      angulartics2On="mouseover"
      angularticsAction="hoveredOverHomeLink"
      [angularticsCategory]="'home.title'">
    <a [routerLink]="['/'|localize]">
      <span class="cls-1" *ngIf="'menu.title1'|translate">{{ 'menu.title1' | translate }}</span>
      <span class="cls-2" *ngIf="'menu.title2'|translate">{{ 'menu.title2' | translate }}</span>
    </a>
  </h1>
  <span class="pl-4" [innerHtml]="title" *ngIf="title"></span>
  <span class="menu-spacer"></span>
  <span class="login-wrapper" *ngIf="!(userService.getAuthState() | async)">
    <button mat-raised-button
            color="accent"
            type="button"
            (click)="userService.loginGoogle()"
            [innerHtml]="'menu.connection.title'|translate">
    </button>
  </span>
  <span>
    <a mat-icon-button
       color="primary"
       [routerLink]="['/cart']|localize"
       [title]="'cta.add-to-cart'|translate">
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </span>
</mat-toolbar>
