@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../app-recipe/scss/theme/theme';

.mat-toolbar {
  &.mat-toolbar-single-row {
    height: 64px;
    padding: 0 0 0 20px;
  }

  .logo-wrapper {
    height: 64px;
    min-width: 64px;
    width: 64px;
    font-size: 44px;
    line-height: 44px;

    mat-icon {
      font-size: 44px;
      height: 44px;
      width: 44px;
    }
  }

  .logo {
    .link-logo {
      .cls-1, .cls-2 {
        @media (max-width: 320px) {
          font-size: 14px;
        }

        &.text-underline {
          text-decoration: underline;
        }
      }
    }
  }

  .menu-spacer {
    flex: 1 1 auto;
  }

  a {
    height: 64px;
    line-height: 64px;
    color: mat-color($white);
    text-decoration: none;
    padding: 0;
    cursor: pointer;
  }

  .admin-mobile {
    position: relative;

    a {
      position: absolute;
      top: 16px;
      right: 0;
      z-index: 100;
      height: 64px;
      line-height: 64px;
      color: mat-color($grey);
      text-decoration: none;
      padding: 0;
      cursor: pointer;
    }
  }

  .icon-wrapper {
    width: 64px;

    .menu-icon {
      &.connected {
        mat-icon {
          line-height: 40px;
        }
      }

      &.user {
        mat-icon {
          line-height: 64px;
        }
      }
    }
  }

  .menu-icon {
    height: 100%;
    width: 64px;
    display: flex;
    justify-content: center;
    border-left: solid 1px mat-color($grey);

    mat-icon {
      width: 30px;
      color: mat-color($white);
    }

    &.search {
      &:hover {
        background-color: mat-color($second);
      }
    }
  }

  .mat-button {
    @include media-breakpoint-up(xs) {
      min-width: 44px;
    }
    @include media-breakpoint-up(sm) {
      min-width: 66px;
    }
    @include media-breakpoint-up(md) {
      min-width: 88px;
    }
    @include media-breakpoint-up(lg) {
      min-width: 88px;
    }
  }
}

