<mat-toolbar color="primary"
             class="mat-toolbar main-menu"
             *ngIf="config">
  <a mat-button
     (click)="toggleSidenav()"
     angulartics2On="click"
     angularticsAction="toggleSidenavWithBurger"
     [angularticsCategory]="'menu.toggle'"
     *ngIf="config.displayBurgerMenu">
    <mat-icon>menu</mat-icon>
  </a>
  <a mat-button
     class="logo-wrapper"
     routerLink="/"
     *ngIf="config.displayLogo">
    <mat-icon svgIcon="logo"></mat-icon>
  </a>
  <div id="main-logo"
       class="logo"
       angulartics2On="mouseover"
       angularticsAction="hoveredOverHomeLink"
       [angularticsCategory]="'home.title'">
    <a class="link-logo"
       [routerLink]="['/']">
      <span class="cls-1"
            [class.text-underline]="config.underlineTitle"
            *ngIf="'menu.title1'|translate">
        {{ 'menu.title1' | translate }}
      </span>
      <span class="cls-2"
            [class.text-underline]="config.underlineTitle"
            *ngIf="'menu.title2'|translate">
        {{ 'menu.title2' | translate }}
      </span>
    </a>
  </div>

  <ng-container *ngIf="config.show_page_title">
    <span class="pl-4" [innerHtml]="title|translate" *ngIf="title && title.length > 0"></span>
  </ng-container>

  <ng-container *ngIf="config.displayPhoneNumber">
    <a [href]="'tel:' + ('menu.phone.number'|translate)"
       class="phone-wrapper"
       fxLayout="row"
       fxLayoutAlign="center center"
       fxFlex="100">
      <span class="phone-title">{{ 'menu.phone.title' |translate }}</span> <strong>{{ 'menu.phone.number' |translate }}</strong>
    </a>
  </ng-container>

  <ng-container *ngIf="config.displayBrand">
    <div class="brand-wrapper"
         fxLayout="row"
         fxLayoutAlign="start center">
      <img src="/assets/images/logo_artisan.png" alt="artisan">
      <img src="/assets/images/logo_devis_gratuit.png" alt="devis gratuit">
      <img src="/assets/images/logo_gdecennale.png" alt="garantie décennale">
    </div>
  </ng-container>

  <ng-container *ngIf="config.displaySpacer">
    <span class="menu-spacer"></span>
  </ng-container>


  <a [routerLink]="routerAdminUrl"
     fxShow
     fxHide.xs
     class="mr-3"
     *ngIf="config.displayAdminRecipe && isAdmin">
    {{ 'cta.admin'|translate }}
  </a>

  <div class="admin-mobile"
       fxHide
       fxShow.xs
       *ngIf="isAdmin && currentRoute && routerAdminUrl && currentRoute.join('/') !== routerAdminUrl.join('/') && config.displayAdminRecipe">
    <a [routerLink]="routerAdminUrl">
      {{ 'cta.admin'|translate }}
    </a>
  </div>

  <a (click)="search()"
     *ngIf="config.displaySearchIcon">
    <div class="menu-icon search">
      <mat-icon svgIcon="search"></mat-icon>
    </div>
  </a>

  <ng-container *ngIf="!isLoading && config.displayButtonConnection && config.displayIconButtonConnection">
    <span class="icon-wrapper">
      <ng-container
        *ngIf="isLogged then loggedIconConnection else diconnectedIconConnection">
      </ng-container>
    </span>
  </ng-container>

  <ng-container *ngIf="!isLoading && config.displayButtonConnection && !config.displayIconButtonConnection">
    <span class="login-wrapper">
      <ng-container
        *ngIf="isLogged then loggedButtonConnection else diconnectedButtonConnection">
      </ng-container>
    </span>
  </ng-container>

  <mat-menu #account="matMenu"
            xPosition="before">
    <button mat-menu-item [routerLink]="['/account']|localize">{{ 'cta.account'|translate }}</button>
    <button mat-menu-item (click)="logout()">{{ 'cta.logout'|translate }}</button>
  </mat-menu>

  <ng-template #loggedIconConnection>
    <button type="button"
            [matMenuTriggerFor]="account"
            mat-icon-button
            role="button">
      <ng-container *ngIf="config.customIconConnection then customIconConnection; else defaultLoggedIconConnection">
      </ng-container>
    </button>
  </ng-template>

  <ng-template #diconnectedIconConnection>
    <a (click)="loginGoogle()"
       mat-icon-button>
      <ng-container *ngIf="config.customIconConnection then customIconConnection; else defaultIconConnection">
      </ng-container>
    </a>
  </ng-template>

  <ng-template #customIconConnection>
    <div class="menu-icon user"
         [class.connected]="isLogged">
      <mat-icon svgIcon="user"></mat-icon>
    </div>
  </ng-template>

  <ng-template #defaultIconConnection>
    <mat-icon>person</mat-icon>
  </ng-template>

  <ng-template #defaultLoggedIconConnection>
    <mat-icon>verified_user</mat-icon>
  </ng-template>

  <ng-template #loggedButtonConnection>
    <button type="button"
            [color]="config.connectionBtn.mat_color"
            [matMenuTriggerFor]="account"
            mat-flat-button
            role="button">
      {{ 'cta.profile'|translate }}
    </button>
  </ng-template>

  <ng-template #diconnectedButtonConnection>
    <button mat-flat-button
            [color]="config.connectionBtn.mat_color"
            [style.background]="config.connectionBtn.background"
            [style.color]="config.connectionBtn.color"
            type="button"
            (click)="loginGoogle()"
            [innerHTML]="'menu.connection.title'|translate"
            *ngIf="config.connectionBtn">
    </button>
  </ng-template>

  <span class="icon-wrapper"
        *ngIf="config.displayCart">
    <a mat-icon-button
       color="primary"
       [routerLink]="['/cart']|localize"
       [title]="'cta.add_to_cart'|translate">
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </span>
</mat-toolbar>
