<div id="boards-wrapper"
     class="board-list-wrapper"
     [class.boards-wrapper]="boards?.length > 0"
     fxLayout="column"
     fxLayoutAlign="start start"
     fxLayoutGap="20px"
     fxLayoutGap.xs="10px">
  <div class="boards-heading"
       fxLayout="row"
       fxLayoutAlign="center stretch">
    <h2>
      Boards
    </h2>
  </div>
  <div id="boards"
       fxLayout="row wrap"
       fxLayoutAlign="center stretch">
    <a class="board" *ngFor="let board of boards" [routerLink]="['/board', board.key]">
      <span class="title">{{board?.title}}</span>
    </a>
    <a class="board add-board" (click)="addBoard()">
      <span class="title">Create a new board...</span>
    </a>
  </div>
</div>
