<mat-card class="item-card" angulartics2On="mouseover" angularticsAction="HoveredOverProductPreview" [angularticsCategory]="'product.preview'">
  <mat-card-title align="center">
    <h3>{{ 'product-add.product-preview.title'|translate }}</h3>
  </mat-card-title>
  <mat-card-header class="item-card-header">
    <span class="text-left">
      <mat-icon class="item-card-avatar" mat-card-avatar *ngIf="!user || !user.photoURL">perm_identity</mat-icon>
    </span>
    <img class="item-card-avatar" mat-card-avatar [src]="user?.photoURL" *ngIf="user && user.photoURL" [attr.alt]="user?.displayName">
    <mat-card-title>
      <h2 class="item-card-title size--all-l" *ngIf="!product || !product.name" [innerHtml]="'product-add.product-preview.name.title' | translate"></h2>
      <span class="item-card-title size--all-xl" *ngIf="product && product.name">{{ product?.name }}</span>
    </mat-card-title>
    <span class="item-card-date size--all-xs text-right" [innerHtml]="now">
    </span>
    <mat-card-subtitle>
      <span *ngIf="product && product.price">{{ product.price }} €</span>
      <a href="{{ product?.external_url }}" *ngIf="product && product.resellers">{{ product?.reseller }}</a>
      <span class="product-description size--all-xs" *ngIf="product && product.description">{{ product.description | shorten: 20: '...' }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content align="center">
    <app-image *ngIf="product?.image1" [publicId]="product?.image1" [resize]="resizedImage"></app-image>
    <span *ngIf="!product || !product.image1">
      <mat-icon>image</mat-icon>
      <span [innerHtml]="'product-add.product-preview.image.title' | translate"></span>
    </span>
  </mat-card-content>
  <mat-card-actions align="center">
    <button role="button" [attr.aria-label]="'product-add.product-preview.mat-card-actions.button.minus'|translate" mat-raised-button color="accent">
      <mat-icon [attr.aria-label]="'product-add.product-preview.mat-card-actions.button.minus'|translate">thumb_down</mat-icon>
    </button>
    <span class="ugly-score">0</span>
    <button role="button" [attr.aria-label]="'product-add.product-preview.mat-card-actions.button.plus'|translate" mat-raised-button color="primary">
      <mat-icon [attr.aria-label]="'product-add.product-preview.mat-card-actions.button.plus'|translate">thumb_up</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
