@import '~@angular/material/theming';
@import './../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../../scss/base/hockey/theme.scss';

.detail-description {
  .content {
    font-size: 20px;
    color: $color1;
    @include media-breakpoint-up(xs) {
      font-size: 10px;
    }
    @include media-breakpoint-up(sm) {
      font-size: 15px;
    }
    @include media-breakpoint-up(md) {
      font-size: 15px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
  }
}
