@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../../../app-alr/scss/theme';

.main-wrapper {
  height: 100%;
  background: url('/assets/images/bg-register1.jpg') no-repeat;

  .heading-wrapper {
    @include media-breakpoint-up(xs) {
      padding: 20px;
    }
    @include media-breakpoint-up(md) {
      padding: 50px;
    }
  }

  .content-wrapper {
    padding: 50px;
    form {

      /**
       * Chrome Underline autocomplete
       */
      @-webkit-keyframes autofill {
        to {
          background: transparent;
        }
      }

      input:-webkit-autofill {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
      }
    }

    .mat-card {
      background-color: rgba(233, 241, 244, 0.8);
      border-radius: 20px;
      width: 500px;

      .mat-card-header {
        .header-title {

        }
      }

      .mat-form-field {
        input {
          width: 300px;
        }
        .checkbox-wrapper {
          width: 300px;
        }
      }

      .mat-form-field--no-underline {
        .mat-form-field-underline {
          background-color: transparent;
        }
      }

      mat-checkbox {
        font-size: 12px;
      }

      .link-password {
        color: #000;
        font-size: 12px;
      }

      .mat-card-actions {
        button {
          width: 220px;
          text-transform: uppercase;
        }
      }
    }
  }
}
