<div class="main-wrapper">
  <div class="content-wrapper"
       fxLayout="row wrap"
       fxLayoutAlign="center stretch"
       fxLayoutGap="30px"
       fxLayout.xs="column"
       fxLayoutAlign.xs="center center"
       fxLayoutGap.xs="0px">
    <mat-card class="mat-card"
              fxFlex.xs="100"
              *ngFor="let feature of features">
      <mat-card-header fxLayout="row"
                       fxLayoutAlign="center stretch">
        <mat-card-title>
          <a class="link"
             [routerLink]="[feature.link]">
            {{ feature.name | translate }}
          </a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
