<mat-card class="item-card">
  <mat-card-header>
    <span class="text-left">
      <mat-icon mat-card-avatar *ngIf="!user || !user.photoURL">perm_identity</mat-icon>
    </span>
    <cl-image mat-card-avatar [public-id]="user.photoURL" *ngIf="user && user.photoURL"></cl-image>
    <mat-card-title>
      <span *ngIf="!clothing || !clothing.name">Donnez un titre court et descriptif à votre</span>
      <span *ngIf="clothing && clothing.name">{{ clothing?.name }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="clothing && clothing.price">{{ clothing.price }} €</span>
      <a href="{{ clothing?.external_url }}" *ngIf="clothing && clothing.reseller">{{ clothing?.reseller }}</a>
      <span *ngIf="clothing && clothing.description">{{ clothing?.description | truncate: 20: '...' }}</span>
      <span *ngIf="!clothing || !clothing.description">Donnez une description correspondant à ce merveilleux pull</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content align="center">
    <app-image *ngIf="clothing?.image1" [publicId]="clothing?.image1" [resize]="resizedImage"></app-image>
    <span *ngIf="!clothing || !clothing.image1">
      <mat-icon>image</mat-icon>
      Image
    </span>
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">thumb_down</mat-icon>
    </button>
    <span class="ugly-score">0</span>
    <button mat-raised-button color="accent">
      <mat-icon aria-label="Example icon-button with a heart icon">thumb_up</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
