<mat-sidenav-container fullscreen class="sidenav-container">
  <app-menu></app-menu>
  <mat-sidenav #sidenav class="leftSideNav" mode="over" opened="false">
    <div *ngIf="userService.getAuthState() | async; let user; else showLogin">
      <mat-card class="card-sidebar">
        <mat-card-header>
          <img mat-card-avatar [src]="user?.photoURL">
          <h2 class="mat-title">{{ user?.displayName }}</h2>
        </mat-card-header>
      </mat-card>
      <mat-list class="pt-0">
        <mat-list-item *ngIf="cmsDetail?.add === true">
          <a class="sidenav-link" mat-raised [routerLink]="['/add']" [innerHtml]="'sidenav.card.list-item.add.title'|translate"></a>
        </mat-list-item>
      </mat-list>
      <mat-nav-list *ngIf="isAuthorized" class="pt-0">
        <a mat-list-item class="heading" [routerLink]="['/admin']">
          {{ 'sidenav.card.list-item.admin.title'|translate }}
        </a>
        <a mat-list-item class="sidenav-link" [routerLink]="['/admin/product']">Products</a>
        <a mat-list-item class="sidenav-link" [routerLink]="['/admin/attribute']">Attributs</a>
        <a mat-list-item class="sidenav-link" [routerLink]="['/admin/navigation/selection']">Selection</a>
        <a mat-list-item class="sidenav-link" [routerLink]="['/admin/navigation/category']">Category</a>
        <a mat-list-item class="sidenav-link" [routerLink]="['/admin/cms']">Cms</a>
        <mat-divider></mat-divider>
        <a mat-list-item class="heading" (click)="userService.logout()">
          {{ 'sidenav.card.list-item.logout.title'|translate }}
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <app-loader></app-loader>
  <div #root="dir" dir="ltr" class="main-content" (swiperight)="sidenav.toggle()">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</mat-sidenav-container>
<ng-template #showLogin>
  <mat-list>
    <mat-list-item>
      <h2 [innerHtml]="'sidenav.card.list-item.login.title'|translate"></h2>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary" type="button" (click)="userService.loginGoogle()" [innerHtml]="'sidenav.card.list-item.google.title'|translate"></button>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary" type="button" (click)="userService.loginFacebook()" [innerHtml]="'sidenav.card.list-item.facebook.title'|translate">
      </button>
    </mat-list-item>
  </mat-list>
</ng-template>
