<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card class="item-card mt2" *ngIf="product" angulartics2On="click"
                angularticsAction="hoveredOverProductDetail" [angularticsCategory]="'product.detail'">
        <mat-card-header class="mat-card-header d-flex justify-content-center">
          <img class="mat-card-avatar d-flex align-items-start" mat-card-avatar [src]="product.thumbnail"
               *ngIf="product.thumbnail" [alt]="product?.thumbnail">
          <span mat-card-avatar class="mat-card-avatar text-left" *ngIf="!product || !product.thumbnail">
            <mat-icon>account_circle</mat-icon>
          </span>
          <mat-card-title class="mat-card-title">
            <span *ngIf="product?.creator">{{ product.creator }}</span>
            <h2 class="item-card-title">
              {{ product.name }}
            </h2>
          </mat-card-title>
          <mat-card-subtitle class="mat-card-subtitle">
            <span class="item-card-date">{{ product.created_at | date:'short' }}</span>
            <span *ngIf="product.price">{{ product.price }} €</span>
            <a href="{{ product.external_url }}" *ngIf="product.external_url" target="_blank">Voir le pull</a>
            <span *ngIf="product.reseller">{{ product.reseller }}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-image [publicId]="product.image1" [resize]="resizedImage" *ngIf="product.image1"></app-image>
          <app-image [publicId]="product.image2" [resize]="resizedImage" *ngIf="product.image2"></app-image>
          <app-image [publicId]="product.image3" [resize]="resizedImage" *ngIf="product.image3"></app-image>
        </mat-card-content>
        <app-product-action [product]="product" (updateScore)="updateScoreProduct($event)"></app-product-action>
      </mat-card>
    </div>
  </div>
</div>
