<form class="form"
      [formGroup]="form"
      fxLayout="column"
      fxLayoutAlign="start center">
  <mat-card-header fxLayout="row"
                   fxLayoutAlign="center stretch">
    <mat-card-title class="text-capitalize">
      {{ 'cart.title.start'|translate }}
    </mat-card-title>
  </mat-card-header>
  <div class="produts">
    <button type="button"
            role="button"
            color="primary"
            mat-raised-button
            (click)="setProduct()">
      {{ 'cart.product.add'|translate }}
    </button>
  </div>

  <mat-card-content fxLayout="row"
                    fxLayoutAlign="center stretch">

    <app-cart-list [cart]="cart"
                   (updateCart)="updateCart.emit($event)"></app-cart-list>

  </mat-card-content>
  <mat-card-actions class="mat-card-actions w-100">
    <div fxLayout="row"
         fxLayoutAlign="end stretch">
      <button type="button"
              (click)="save()"
              mat-raised-button
              color="primary"
              class="cart-actions text-uppercase">
        {{ 'cta.validate'|translate }}
      </button>
    </div>
  </mat-card-actions>
</form>
