@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Fugaz+One|Gentium+Book+Basic');

// Plus imports for other components in your app-clothe.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app-clothe.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
//
$color1: #131629; // Bleu
$color2: #ffffff; // Blanc
$color3: #af300b; // Rouge
$color5: #af8401;
$product-primary: mat-palette($mat-indigo,
  900);
$product-accent: mat-palette($mat-red,
  800);
$product-warn: mat-palette($mat-orange,
  200);
$white: mat-palette($mat-grey,
  50);
$black: mat-palette($mat-grey,
  900);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($product-primary,
  $product-accent,
  $product-warn);

// Include theme styles for core and each component used in your app-clothe.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

body {
  font-family: 'Gentium Book Basic',
  serif;
  background-color: $color2;
}

.title {
  font-family: 'Fugaz One', cursive;
  text-transform: uppercase;
}

.main-menu {
  background-color: #131629 !important;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

.offer-detail {
  .mat-card-content {
    a {
      color: mat-color($mat-grey, 700);
    }
  }

  .mat-card-actions {
    a {
      color: mat-color($white);
    }
  }

  .mat-card-subtitle {
    color: mat-color($mat-grey, 700);
  }
}

.sort-wrapper {
  .sidenav-link {
    color: mat-color($black);
    &:hover,
    :active,
    :focus {
      color: mat-color($black);
    }
  }

  .heading {
    background-color: mat-color($product-primary) !important;
    color: mat-color($white) !important;
  }
}

.product-layout {
  background-color: $color2;
}

.attribute-main {
  color: $color1;
}

.detail-description {
  .content {
    color: $color1
  }
}

.text-time {
  color: mat-color($product-primary);
}

.card-sidebar {
  background-color: mat-color($product-accent);

  .mat-card-header {
    color: mat-color($white);
  }
}

.detail-description {
  .content {
    color: $color1;
  }
}
