.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.cursor-help {
  cursor: help;
}

.ucfirst,
.text-ucfirst {
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}
