<div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div class="button-close-wrapper">
    <button mat-icon-button type="button" fxLayout="row" fxLayoutAlign="center center" (click)="onClose()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="button-close-wrapper">
    <button mat-icon-button type="button" fxLayout="row" fxLayoutAlign="center center" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<app-facet-sort-container (closed)="onClose($event)"></app-facet-sort-container>
