<div class="wrapper"
     fxLayout="row wrap"
     fxLayoutAlign="center stretch">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ contact?.user?.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ contact?.user?.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ contact?.last_message }}
    </mat-card-content>
    <mat-card-actions>
      <button (click)="back()"
              type="button"
              mat-raised-button>
        {{ 'cta.back'|translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
