@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
//
$color1: #fffbbd; //Blanc
$color2: #e6aa68; // light yellow
$color3: #7fb069; // Vert
$color4: #223a00; //Noir
$color5: #ca3c25; //Rouge
$product-primary: mat-palette($mat-green, 800);
$product-accent: mat-palette($mat-red, 800);
$product-warn: mat-palette($mat-orange, 200);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($product-primary, $product-accent, $product-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
