<ng-container *ngIf="product">
  <a [attr.data-content]="product?.name"
     [attr.title]="'cta.show-product'|translate"
     class="card-img-container"
     fxLayout="row"
     [routerLink]="['/products/detail', product.key]|localize">
    <div class="card-wrapper card-img-top"
         fxFlex="100">
      <app-storage-image [panelStyle]="{height: '200px', width: 'auto'}"
                         [panelClass]="'scale'"
                         [matCardImage]="false"
                         [downloadURL]="product.image1"></app-storage-image>
    </div>
    <div class="card-discount-wrapper" *ngIf="product">
      <div class="card-discount" *ngIf="getDiscountRate(product) !== 0">
        {{ getDiscountRate(product) }}%
      </div>
    </div>
  </a>

  <div class="card-product-new text-center"
       fxLayout="row">
    <div fxFlex="50"
         fxFlexOffset="25"
         *ngIf="product.is_new === true">
      <div fxLayout="row">
        <div class="product-new"
             fxFlex="70">
          <span>{{ 'product-item.new.text'|translate }}</span>
        </div>
        <div class="product-picto"
             fxFlex="30">
          <mat-icon color="primary">notifications</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="card-name flex-container mt-2"
       fxLayout="row">
    <div fxFlex="90"
         fxFlexOffset="10">
      <span>
        {{product?.name | uppercase}}
      </span>
    </div>
  </div>

  <div class="product-item-price"
       fxLayout="row"
       fxLayoutAlign="center center">
    <div fxFlex.xs="100"
         fxHide.xs
         fxFlex.gt-sm="60"
         fxFlexOffset.gt-sm="10"
         fxFlexOffset.xs="0">
      <p class="product-item-short-description-text">
        {{product?.short_description}}
      </p>
    </div>
    <div class="text-center"
         fxFlex.xs="100"
         fxFlex.gt-sm="30">
      <p class="product-item-price-value">
        {{ (product?.promo ? product.promo : product?.price) | currency:'EUR' }}
      </p>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="50"
         fxFlexOffset="25">
      <a [routerLink]="['/products/detail', product.key]|localize"
         [attr.title]="'cta.show-product'|translate"
         class="btn btn-card"
         mat-stroked-button>
        {{ 'cta.show-product'|translate }}
      </a>
    </div>
  </div>
</ng-container>
