<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="search-form" [formGroup]="form">
          <mat-form-field>
            <input [matAutocomplete]="auto"
                   matInput
                   [formControl]="form.get('search')"
                   name="search"
                   type="search"
                   [placeholder]="'input.placeholder.search'|translate"
                   [attr.aria-label]="'input.placeholder.search'|translate">
            <mat-autocomplete #auto="matAutocomplete">
            </mat-autocomplete>
          </mat-form-field>
          <button mat-icon-button
                  class="search-button"
                  (click)="getResults()">
            <mat-icon color="warn" svgIcon="search"></mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>