<div class="card-welcome">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 class="card-title size--all-xl">
          {{ 'product-list.card-title.title' | translate }}
        </h1>
      </mat-card-title>
      <mat-card-subtitle class="card-subtitle">
        <h2 class="size--all-l">
          {{ 'product-list.card-subtitle.title' | translate }}
        </h2>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="card-container">
  <app-product-item *ngFor="let product of products$ | async" class="grid-tile-item" [product]="product"></app-product-item>
</div>
