@import '~@angular/material/theming';
@import './../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

.attribute-main {
  font-size: 30px;
  .attribute-content {
    .mat-chip {
      font-size: 20px;
    }
  }
}

.detail-wrapper:nth-child(2n+1) {
  /*   background-color: $color1;
  color: mat-color($white); */
  .detail-content {
    flex-direction: row-reverse !important;
    @include media-breakpoint-up(xs) {
      flex-direction: column !important;
    }
    @include media-breakpoint-up(sm) {
      flex-direction: column !important;
    }
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse !important;
    }
    @include media-breakpoint-up(lg) {
      flex-direction: row-reverse !important;
    }
    @include media-breakpoint-up(xl) {
      flex-direction: row-reverse !important;
    }
  }
}
