<!-- <div class="row">
  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="col-12 well my-drop-zone">
    Base drop zone
  </div>
</div> -->
<div class="row">
  <div class="col-12">
    <div class="form-group mt2">
      <input type="file" ng2FileSelect [uploader]="uploader" multiple />
    </div>
  </div>
</div>
<div class="row">
  <div class="image-cropper" [ngClass]="cropperClass">
    <div class="col-12">
      <img-cropper #cropper [image]="data" [settings]="cropperSettings" matTooltip="Ajuster en redimensionnant ou déplaçant le cadre votre image" matTooltipPosition="right"></img-cropper>
    </div>
    <div class="col-12 mt2">
      <button role="button" aria-label="Valider l'image au dessus" matTooltip="Pense à valider ton image !" matTooltipPosition="right" mat-raised-button color="primary" type="button" (click)="validateImage()" class="button-image-validation">
        Valider
      </button>
    </div>
  </div>
</div>
<div class="row" *ngIf="!objectService.isEmpty(data)" [ngClass]="'hidden'">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td *ngIf="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <button role="button" aria-label="Démarrer le chargement" type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button role="button" aria-label="Annuler le chargement" type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button role="button" aria-label="Supprimer le chargement" type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div>
        Queue progress:
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button role="button" aria-label="Tout charger" type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload all
      </button>
      <button role="button" aria-label="Annuler tout" type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
      </button>
      <button role="button" aria-label="Effacer tout" type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove all
      </button>
    </div>
  </div>
</div>
