<mat-card>
  <mat-card-content class="pb5">
    <div class="form-container">
      <mat-horizontal-stepper [linear]="isLinear">
        <mat-step [stepControl]="formMedia">
          <form [formGroup]="formMedia" class="form-media">
            <ng-template matStepLabel>{{ 'product-add.product-form.steps.image.section'|translate }}</ng-template>
            <mat-card-title align="center">
              <h3 [innerHtml]="'product-add.product-form.card-title.title'|translate"></h3>
            </mat-card-title>
            <app-product-image [media]="image1" (imageChanged)="onImageChange($event)"></app-product-image>
            <div class="mt2 image-button-wrapper">
              <button role="button" [attr.aria-label]="'product-add.product-image.image-button-wrapper.button.aria-label.title'|translate" [attr.matTooltip]="'product-add.product-image.image-button-wrapper.button.tooltip.title'|translate" matTooltipPosition="right" mat-raised-button matStepperNext color="primary" type="button" class="button-image-validation" angulartics2On="click" angularticsAction="clickedOnUploadProductImage" [angularticsCategory]="'media.save'" [innerHtml]="'product-add.product-image.image-cropper.cropper.title'|translate" (click)="validateImage()" [disabled]="!productImageComponent?.data"></button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="formDetail">
          <form [formGroup]="formDetail" class="form-detail">
            <ng-template matStepLabel>{{ 'product-add.product-form.steps.detail.section'|translate }}</ng-template>
            <mat-form-field class="mat-form-field pa2">
              <input matInput maxlength="50" [attr.placeholder]="'product-add.product-form.form.name.placeholder'|translate" formControlName="name" angulartics2On="focus" angularticsAction="focusedOnProductName" [angularticsCategory]="'product.name'" [angularticsValue]="name?.value">
              <mat-hint align="start"><strong [innerHtml]="'product-add.product-form.form.name.title'|translate"></strong></mat-hint>
              <mat-hint align="end">{{ name.value.length }} {{ 'product-add.product-form.form.name.length'|translate }}</mat-hint>
              <mat-error *ngIf="name.invalid && name.value.length === 0" [innerHtml]="'product-add.product-form.form.name.error.length'|translate"></mat-error>
              <mat-error *ngIf="name.invalid && name.value.length > 0" [innerHtml]="'product-add.product-form.form.name.error.invalid'|translate"></mat-error>
            </mat-form-field>
            <div class="product-form-step-2-wrapper pa2">
              <button mat-raised-button matStepperPrevious color="accent" [innerHtml]="'product-add.product-form.steps.detail.button.back.title'|translate"></button>
              <button mat-raised-button matStepperNext color="primary" [innerHtml]="'product-add.product-form.steps.detail.button.next.title'|translate">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="formAdditional">
          <form [formGroup]="formAdditional" (ngSubmit)="onSubmit()" class="form-additional pa2">
            <ng-template matStepLabel>{{ 'product-add.product-form.steps.additional.section'|translate }}</ng-template>
            <span [innerHtml]="'product-add.product-form.steps.additional.title'|translate"></span>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'product-add.product-form.steps.additional.panel.title'|translate }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ 'product-add.product-form.steps.additional.panel.description'|translate }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field class="mat-form-field">
                <textarea matInput [attr.placeholder]="'product-add.product-form.form.description.placeholder'|translate" formControlName="description" angulartics2On="focus" angularticsAction="focusedOnProductDescription" [angularticsCategory]="'product.description'" [angularticsValue]="description?.value"></textarea>
                <mat-hint align="start"><strong [innerHtml]="'product-add.product-form.form.description.title'|translate"></strong></mat-hint>
                <mat-hint align="end">{{ description.value.length }} {{ 'product-add.product-form.form.description.length'|translate }}</mat-hint>
                <mat-error *ngIf="description.invalid && description.value.length === 0" [innerHtml]="'product-add.product-form.form.description.error.length'|translate"></mat-error>
                <mat-error *ngIf="description.invalid && description.value.length > 0" [innerHtml]="'product-add.product-form.form.description.error.invalid'|translate"></mat-error>
              </mat-form-field>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
                <mat-panel-description>
                  Type your name and age
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput placeholder="First name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Age">
              </mat-form-field>
            </mat-expansion-panel>
            <p class="mt3" [innerHtml]="'product-add.product-form.form.external_url.more_about'|translate"></p>
            <mat-form-field class="mat-form-field">
              <input type="url" matInput [attr.placeholder]="'product-add.product-form.form.external_url.placeholder'|translate" formControlName="external_url" angulartics2On="focus" angularticsAction="focusedOnProductExternalUrl" [angularticsCategory]="'product.external_url'" [angularticsValue]="externalUrl?.value">
              <mat-error *ngIf="externalUrl.invalid" [innerHtml]="'product-add.product-form.form.external_url.error.invalid'|translate"></mat-error>
            </mat-form-field>
            <mat-form-field class="mat-form-field">
              <input type="number" matInput [attr.placeholder]="'product-add.product-form.form.price.placeholder'|translate" formControlName="price" angulartics2On="focus" angularticsAction="focusedOnProductPrice" [angularticsCategory]="'product.price'" [angularticsValue]="price?.value">
              <mat-error *ngIf="price.invalid && price.value < 0" [innerHtml]="'product-add.product-form.form.price.min'|translate"></mat-error>
              <mat-error *ngIf="price.invalid && price.value > 9999" [innerHtml]="'product-add.product-form.form.price.max'|translate"></mat-error>
              <mat-error *ngIf="price.invalid" [innerHtml]="'product-add.product-form.form.price.invalid'|translate"></mat-error>
            </mat-form-field>
            <mat-form-field class="mat-form-field">
              <input type="number" matInput [attr.placeholder]="'product-add.product-form.form.delivery_fee.placeholder'" [attr.disabled]="disableDelivery" formControlName="delivery_fee" angulartics2On="focus" angularticsAction="focusedOnProductDeliveryFee" [angularticsCategory]="'product.delivery_fee'" [angularticsValue]="deliveryFee?.value">
              <mat-error *ngIf="deliveryFee.invalid && deliveryFee.value < 0" [innerHtml]="'product-add.product-form.form.delivery_fee.min'|translate"></mat-error>
              <mat-error *ngIf="deliveryFee.invalid && deliveryFee.value > 9999" [innerHtml]="'product-add.product-form.form.delivery_fee.max'|translate"></mat-error>
              <mat-error *ngIf="deliveryFee.invalid" [innerHtml]="'product-add.product-form.form.delivery_fee.invalid|translate'"></mat-error>
            </mat-form-field>
            <div class="product-form-step-3-wrapper pa2">
              <button mat-raised-button matStepperPrevious [innerHtml]="'product-add.product-form.steps.button.back.title'|translate"></button>
              <button role="button" [attr.aria-label]="'product-add.product-form.form.validation.button.title'|translate" mat-raised-button color="primary" type="submit" class="btn-add" [disabled]="!(formMedia.valid && formDetail.valid && formAdditional.valid) || isLoading" angulartics2On="click" angularticsAction="validateProduct" [angularticsCategory]="'product.new'" [innerHtml]="'product-add.product-form.form.validation.button.title'|translate"></button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-card-content>
</mat-card>
