<mat-card>
  <mat-card-title align="center">
    <h3 [innerHtml]="'product-add.product-form.card-title.title'|translate"></h3>
  </mat-card-title>
  <mat-card-content class="pb5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
      <app-product-image [media]="image1" (imageChanged)="onImageChange($event)"></app-product-image>
      <app-product-image [media]="image2" (imageChanged)="onImageChange($event)" *ngIf="product.image1"></app-product-image>
      <app-product-image [media]="image3" (imageChanged)="onImageChange($event)" *ngIf="product.image2 && product.image3"></app-product-image>
      <mat-form-field>
        <input matInput maxlength="50" [attr.placeholder]="'product-add.product-form.form.name.placeholder'|translate" formControlName="name" angulartics2On="focus" angularticsAction="focusedOnProductName" [angularticsCategory]="'product.name'" [angularticsValue]="name?.value">
        <mat-hint align="start"><strong [innerHtml]="'product-add.product-form.form.name.title'|translate"></strong></mat-hint>
        <mat-hint align="end">{{ name.value.length }} {{ 'product-add.product-form.form.name.length'|translate }}</mat-hint>
        <mat-error *ngIf="name.invalid && name.value.length === 0" [innerHtml]="'product-add.product-form.form.name.error.length'|translate"></mat-error>
        <mat-error *ngIf="name.invalid && name.value.length > 0" [innerHtml]="'product-add.product-form.form.name.error.invalid'|translate"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput [attr.placeholder]="'product-add.product-form.form.description.placeholder'|translate" formControlName="description" angulartics2On="focus" angularticsAction="focusedOnProductDescription" [angularticsCategory]="'product.description'" [angularticsValue]="description?.value"></textarea>
        <mat-hint align="start"><strong [innerHtml]="'product-add.product-form.form.description.title'|translate"></strong></mat-hint>
        <mat-hint align="end">{{ description.value.length }} {{ 'product-add.product-form.form.description.length'|translate }}</mat-hint>
        <mat-error *ngIf="description.invalid && description.value.length === 0" [innerHtml]="'product-add.product-form.form.description.error.length'|translate"></mat-error>
        <mat-error *ngIf="description.invalid && description.value.length > 0" [innerHtml]="'product-add.product-form.form.description.error.invalid'|translate"></mat-error>
      </mat-form-field>
      <p class="mt3" [innerHtml]="'product-add.product-form.form.external_url.more_about'|translate"></p>
      <mat-form-field>
        <input type="url" matInput [attr.placeholder]="'product-add.product-form.form.external_url.placeholder'|translate" formControlName="external_url" angulartics2On="focus" angularticsAction="focusedOnProductExternalUrl" [angularticsCategory]="'product.external_url'" [angularticsValue]="externalUrl?.value">
        <mat-error *ngIf="externalUrl.invalid" [innerHtml]="'product-add.product-form.form.external_url.error.invalid'|translate"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput [attr.placeholder]="'product-add.product-form.form.price.placeholder'|translate" formControlName="price" angulartics2On="focus" angularticsAction="focusedOnProductPrice" [angularticsCategory]="'product.price'" [angularticsValue]="price?.value">
        <mat-error *ngIf="price.invalid && price.value < 0" [innerHtml]="'product-add.product-form.form.price.min'|translate"></mat-error>
        <mat-error *ngIf="price.invalid && price.value > 9999" [innerHtml]="'product-add.product-form.form.price.max'|translate"></mat-error>
        <mat-error *ngIf="price.invalid" [innerHtml]="'product-add.product-form.form.price.invalid'|translate"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput [attr.placeholder]="'product-add.product-form.form.delivery_fee.placeholder'" [attr.disabled]="disableDelivery" formControlName="delivery_fee" angulartics2On="focus" angularticsAction="focusedOnProductDeliveryFee" [angularticsCategory]="'product.delivery_fee'" [angularticsValue]="deliveryFee?.value">
        <mat-error *ngIf="deliveryFee.invalid && deliveryFee.value < 0" [innerHtml]="'product-add.product-form.form.delivery_fee.min'|translate"></mat-error>
        <mat-error *ngIf="deliveryFee.invalid && deliveryFee.value > 9999" [innerHtml]="'product-add.product-form.form.delivery_fee.max'|translate"></mat-error>
        <mat-error *ngIf="deliveryFee.invalid" [innerHtml]="'product-add.product-form.form.delivery_fee.invalid|translate'"></mat-error>
      </mat-form-field>
      <div class="pa2">
        <button role="button" [attr.aria-label]="'product-add.product-form.form.validation.button.title'|translate" mat-raised-button color="primary" type="submit" class="btn-add" [disabled]="!form.valid || isLoading" angulartics2On="click" angularticsAction="validateProduct" [angularticsCategory]="'product.new'" [innerHtml]="'product-add.product-form.form.validation.button.title'|translate"></button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
