.form-container {
  .checkbox-margin {
    margin: 0 10px;
  }

  .btn-add {
    width: 100%;
  }
}

.form-container .mat-form-field {
  width: 100%;
}

.image-button-wrapper {
  text-align: right;
}
.product-form-step-2-wrapper {
  display: flex;
  justify-content: center;
}
