@import './../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

.form-container .mat-form-field {
  width: 100%;
}

.product-form-step-1-wrapper {}

.product-form-step-2-wrapper {}

.mat-panel-title {
  font-size: 8px;
  @include media-breakpoint-up(xs) {
    font-size: 8px;
  }
  @include media-breakpoint-up(sm) {
    font-size: 10px;
  }
  @include media-breakpoint-up(md) {
    font-size: 15px;
  }
}

.mat-panel-description {
  font-size: 8px;
  @include media-breakpoint-up(xs) {
    font-size: 8px;
  }
  @include media-breakpoint-up(sm) {
    font-size: 10px;
  }
  @include media-breakpoint-up(md) {
    font-size: 15px;
  }
}
