<mat-nav-list class="pt-0">
  <a mat-list-item class="sidenav-link heading text-center" fxLayout="row" fxLayoutAlign="center stretch" (click)="close()">
    <span>Trier</span>
  </a>
  <app-facet-sort-item (sorted)="onSort($event)"></app-facet-sort-item>
  <a mat-list-item class="sidenav-link mt-4 text-center" fxLayout="row" fxLayoutAlign="center stretch" (click)="close()">
    <button class="button-validate" mat-raised-button color="primary" type="button" fxLayout="row" fxLayoutAlign="center stretch">
      Valider
    </button>
  </a>
</mat-nav-list>
