<div class="mono_selector_wrapper">
  <h1 class="mono-select-title text-white m-0 text-center" i18n="mono-selector title">
    Réservez une session de ski ou de sport</h1>
  <div id="mono-select-container" class="bg-white shadow d-flex justify-content-center rounded">
    <mat-form-field class="my-5">
      <input #monoInput
             matInput
             placeholder="Type the name of your rentand here"
             i18n-placeholder="mono selector placeholder"
             [matAutocomplete]="auto"
             [formControl]="monoListCtrl"
             (ngModelChange)="onMonoSelected($event)">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="handleChoice" class="blue">
        <mat-option *ngFor="let mono of filteredMonos | async"
                    [value]="mono"
                    class="valign-wrapper"
                    (click)="onMonoSelected(mono)">
          <img class="circle img-fluid mono-select-item-img valign"
               [src]="mono.user_metadata?.picture?.url"/>
          <span class="valign">{{ mono.user_metadata.firstname + ' ' + mono.user_metadata.lastname }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
