mat-sidenav {
    width: 300px;
}

.account-toolbar-icon {
    height: 2em
}

mat-sidenav-container {
    ::ng-deep mat-sidenav-content {
        display: table-cell;
        display: flex;
        min-height: 100vh;
        flex-direction: column;

        .main-content {
            flex: 1;
        }
    }
}
