<mat-card class="content-card">
  <mat-sidenav-container>
    <mat-sidenav class="sidenav"
                 #sidenavLeft
                 mode="side"
                 [opened]="opened"
                 position="start"
                 fxLayout="column">
      <app-chat-sidenav-left [contacts]="contacts"></app-chat-sidenav-left>
    </mat-sidenav>
    <mat-sidenav-content cdkScrollable
                         [ngStyle]="configuration.style">
      <app-chat-sidenav-right [contact]="selectedContact"
                              (toggleSidenav)="sidenavLeft.toggle()"
                              (toggleSidenavRight)="toggleSidenavRight($event)">
      </app-chat-sidenav-right>
    </mat-sidenav-content>
    <mat-sidenav #sidenavRight
                 mode="side"
                 [opened]="false"
                 position="end">
      <app-chat-contact-info (toggleSidenavRight)="sidenavRight.toggle()"
                             [contact]="selectedContact"
                             *ngIf="selectedContentSidenavRight === 'contact-info'">
      </app-chat-contact-info>
      <app-alr-layout-builder-edit *ngIf="selectedContentSidenavRight === 'layout-builder'">
      </app-alr-layout-builder-edit>
    </mat-sidenav>
  </mat-sidenav-container>

</mat-card>
