@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';

.item-card {
  margin-top: 0;
  @include media-breakpoint-up(xs) {
    margin-top: 20px;
  }
  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 0;
    position: fixed;
    left: auto;
    right: auto;
  }

  .item-card-header {
    min-height: 40px;
    display: flex;
    flex: wrap;
    justify-content: space-around;
    .item-card-title {
      margin: 0;
      display: inline-block;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    .item-card-avatar {
      width: 25px;
      height: 25px;
    }
    .mat-card-title {
      @include media-breakpoint-up(xs) {
        min-width: 100px;
      }
      @include media-breakpoint-up(sm) {
        min-width: 160px;
      }
      @include media-breakpoint-up(md) {
        min-width: 150px;
        max-width: 180px;
      }
      @include media-breakpoint-up(lg) {
        min-width: 250px;
      }
      @include media-breakpoint-up(xl) {
        min-width: 330px;
      }
    }
  }
}



.link-card {
  height: 140px;
  width: 140px;
  display: flex;
  justify-content: center;
}

.mat-card-actions {
  .ugly-score {
    color: red;
    font-size: 2rem;
    font-weight: 800;
    display: inline-block;
    min-width: 50px;
    vertical-align: middle;
  }
}
