.item-card {

  .item-card-title {
    font-size: 1.875rem;
  }

  .item-card-brand {
    font-size: 1.5rem;

    .prefix {
      font-size: 1.125rem;
      opacity: 0.5;
    }
  }

  .product-detail-price {
    height: 4rem;
    line-height: 4rem;

    .product-item-short-description-text {
      text-align: justify;
      font-size: 1rem;
      line-height: 1rem;
      height: auto;
      letter-spacing: -1px;
      opacity: .5;
    }

    .product-item-price-value {
      font-size: 1.875rem;
      letter-spacing: -1px;
    }
  }
}

section {
  .section-card {
    .title-wrapper {
      font-size: 1.875rem;
    }

  }

  .section-description-wrapper {
    mat-list {
      mat-list-item {
        ::ng-deep .mat-list-item-content {
          padding: 0 0;
        }
      }
    }
  }
}
