<div class="main-wrapper">
  <div class="card-header"
       fxLayout="row"
       fxLayoutAlign="space-around stretch"
       fxLayoutGap="30px">
    <div class="card-wrapper p-2">

      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>
            <h4>
              {{ 'admin.title.cms-detail.title'|translate }}
            </h4>
          </mat-card-title>
          <mat-card-subtitle>
            {{ 'admin.title.cms-detail.subtitle'|translate }} {{ cms?.site_name }}
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="card-header-wrapper p-2">
      <mat-card class="mat-card">
        <mat-card-content>
          <div class='selected-column'>
            <h4>
              {{ 'admin.title.cms.selection'|translate }}
              <small>({{selected?.length}})</small>
            </h4>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="cms-actions">
            <button role="button"
                    [attr.aria-label]="'cta.publish'|translate"
                    mat-raised-button
                    color="primary"
                    (click)="publishCmsDetail()"
                    *ngIf="selected.length > 0">
              <mat-icon aria-label="Published">done</mat-icon>
              {{ 'cta.publish'|translate }}
            </button>
            <button role="button"
                    [attr.aria-label]="'cta.delete'|translate"
                    mat-raised-button
                    color="accent"
                    (click)="deleteCmsDetail()"
                    *ngIf="selected.length > 0">
              <mat-icon aria-label="delete">delete</mat-icon>
              {{ 'cta.delete'|translate }}
            </button>
            <a [routerLink]="['add'|localize]"
               mat-raised-button
               color="primary">
              <mat-icon [attr.aria-label]="'cta.add'|translate">add</mat-icon>
              {{ 'cta.add'|translate }}
            </a>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="card-content"
       fxLayout="row"
       fxLayoutAlign="center stretch">
    <ngx-datatable class="material striped datatable"
                   [columnMode]="'force'"
                   [rows]="cmsDetails$|async"
                   [columns]="columns"
                   [headerHeight]="headerHeight"
                   [rowHeight]="rowHeight"
                   [loadingIndicator]="isLoading"
                   [scrollbarV]="true"
                   (scroll)="onScroll($event.offsetY)"
                   [selected]="selected"
                   [selectionType]="'checkbox'"
                   (activate)="onActivate($event)"
                   (select)='onSelect($event)'>
      <ngx-datatable-column [width]="50"
                            [sortable]="false"
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false">
        <ng-template ngx-datatable-header-template
                     let-value="value"
                     let-allRowsSelected="allRowsSelected"
                     let-selectFn="selectFn">
          <input type="checkbox"
                 [checked]="allRowsSelected"
                 (change)="selectFn(!allRowsSelected)"/>
        </ng-template>
        <ng-template ngx-datatable-cell-template
                     let-value="value"
                     let-isSelected="isSelected"
                     let-onCheckboxChangeFn="onCheckboxChangeFn">
          <input type="checkbox"
                 [checked]="isSelected"
                 (change)="onCheckboxChangeFn($event)"/>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="key"></ngx-datatable-column>
      <ngx-datatable-column name="title">
        <ng-template let-rowIndex="rowIndex"
                     let-value="value"
                     let-row="row"
                     ngx-datatable-cell-template>
          <span (dblclick)="onActivateEdit(rowIndex)"
                class="row-activate"
                *ngIf="activatedRows[rowIndex] !== true">
            {{ value | translate }}
          </span>
          <mat-form-field apparence="standard"
                          *ngIf="activatedRows && activatedRows[rowIndex] === true">
            <input matInput
                   [placeholder]="'admin.placeholder.cms-detail.title'|translate"
                   [value]="row?.title"
                   (blur)="onEdit('title', row, $event.target.value, rowIndex)"
                   (keypress.enter)="onEdit('title', row, $event.target.value, rowIndex)">
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="icon">
        <ng-template let-rowIndex="rowIndex"
                     let-value="value"
                     let-row="row"
                     ngx-datatable-cell-template>
          <span (dblclick)="onActivateEdit(rowIndex)"
                class="row-activate"
                *ngIf="activatedRows[rowIndex] !== true">
            {{ value | translate }}
          </span>
          <mat-form-field apparence="standard"
                          *ngIf="activatedRows && activatedRows[rowIndex] === true">
            <input matInput
                   [placeholder]="'admin.placeholder.cms-detail.icon'|translate"
                   [value]="row?.icon"
                   (blur)="onEdit('icon', row, $event.target.value, rowIndex)"
                   (keypress.enter)="onEdit('icon', row, $event.target.value, rowIndex)">
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="content"></ngx-datatable-column>
      <ngx-datatable-column name="parent">
        <ng-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
          ngx-datatable-cell-template>
          <span (dblclick)="onActivateEdit(rowIndex)"
                class="row-activate"
                *ngIf="activatedRows[rowIndex] !== true">
            {{ value | translate }}
          </span>
          <mat-form-field apparence="standard"
                          *ngIf="activatedRows && activatedRows[rowIndex] === true">
            <mat-select (selectionChange)="onEdit('parent', row, $event.value, rowIndex)">
              <mat-option [value]="null">{{ 'admin.placeholder.cms-detail.parent.no-data'|translate }}</mat-option>
              <mat-option [value]="cmsD.key" *ngFor="let cmsD of cmsDetails$|async">
                {{ cmsD.title |translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
