.link {
  cursor: pointer;
}

.mat-card {
  min-width: 30vw;
}

.card-content {
  width: 100%;
  min-width: 90vw;
  .datatable {
    height: 60vh;
    min-width: 90vw;
  }
}

.row-activate {
  display: block;
  min-height: 20px;
  min-width: 50px;
}
