<div class="px-2">


  <div class="app-container mt-5"
       fxLayout="row"
       fxLayoutAlign="space-around stretch"
       fxLayoutGap="30px"
       fxLayout.xs="column"
       fxLayoutAlign.xs="start stretch"
       fxLayoutGap.xs="10px">
    <app-a2hs-browser-prompt [disable]="!a2hs.browserPromptBtn()"></app-a2hs-browser-prompt>
    <app-a2hs-ios-safari-how [disable]="!a2hs.iOSSafariHow2()"></app-a2hs-ios-safari-how>
  </div>


  <div [class.d-none]="!a2hs.showHide(a2hs.isStandalone)"
       fxLayout="row"
       fxLayoutAlign="center stretch">
    <strong>Standalone - Show User Nothing</strong>
  </div>

  <div class="debug-section"
       [class.d-none]="!a2hs.showHide(a2hs.promptSaved)"
       fxLayout="column"
       fxLayoutAlign="center center"
       fxLayoutAlign.xs="start stretch">
    <h4>Mobile Chrome & Edge Only / Desktop Chrome</h4>
    <ul class="list-unstyled">
      <li>Prompt Intercepted: <span [style.color]="a2hs.trueOrFalse(a2hs.promptIntercepted)">
        {{ a2hs.promptIntercepted }}</span></li>
      <li>Deferred Prompt Saved: <span [style.color]="a2hs.trueOrFalse(a2hs.promptSaved)">
        {{ a2hs.promptSaved }}</span>
      </li>
      <li>Custom Button Clicked: <span [style.color]="a2hs.trueOrFalse(a2hs.customButtonClicked)">
        {{ a2hs.customButtonClicked }}</span></li>
      <li>Deferred Prompt Shown: <span [style.color]="a2hs.trueOrFalse(a2hs.deferredPromptShown)">
        {{ a2hs.deferredPromptShown }}</span></li>
      <li>Deferred Prompt Rejected: <span [style.color]="a2hs.trueOrFalse(a2hs.deferredPromptRejected)">
        {{ a2hs.deferredPromptRejected }}</span></li>
      <li>App or Shortcut Added: <span [style.color]="a2hs.trueOrFalse(a2hs.userInstalled)">
        {{ a2hs.userInstalled }}</span></li>
    </ul>
  </div>
  <div fxLayout="column"
       fxLayoutAlign="start center"
       fxLayoutAlign.xs="start stretch">
    <h4>UserAgent</h4>
    <h6>{{ a2hs.userAgent }}</h6>
    <ul class="list-unstyled"
        fxLayout="column"
        fxLayoutAlign="start start">
      <li *ngFor="let device of devices"
          fxLayout="row"
          fxLayoutAlign="space-around stretch"
          fxLayoutGap="20px">
        {{ device }}:
        <mat-icon color="primary" *ngIf="a2hs[device]">check_circle</mat-icon>
        <mat-icon color="accent" *ngIf="!a2hs[device]">highlight_off</mat-icon>
      </li>
    </ul>
  </div>
</div>