<h2 mat-dialog-title>
  {{ data.title|translate }}
</h2>
<mat-dialog-content>
  <div class="columns-display">
    <div class="column-content">
      <mat-chip-list>
        <mat-chip [disabled]="!column.active"
                  [color]="'primary'"
                  (click)="onToggleChip($event)"
                  *ngFor="let column of columns">{{ column.name }}</mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <div class="partners-preview" *ngIf="data?.partners">
    <ngx-datatable class="material striped datatable"
                   [columnMode]="'flex'"
                   [rows]="data.partners"
                   [columns]="displayedColumns"
                   [headerHeight]="50"
                   [rowHeight]="50"
                   [scrollbarV]="true">
    </ngx-datatable>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
  <button mat-raised-button
          [mat-dialog-close]="false">
    {{ 'cta.cancel'|translate }}
  </button>
  <button mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          [innerHTML]="data.cta|translate"
          *ngIf="data && data.cta">
  </button>
  <button mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          *ngIf="!data || !data?.cta">
    {{ 'cta.validate'|translate }}
  </button>
</mat-dialog-actions>
