<h2 mat-dialog-title>
  {{ data.title|translate }}
</h2>
<mat-dialog-content>
  <div class="previous-columns">
    <button mat-raised-button
            type="button"
            color="primary"
            (click)="onKeepSavedColumns()">
      {{ 'cta.keep_colomn_in_memory'|translate }}
    </button>
  </div>
  <div class="columns-display mt-2">
    <div class="column-content">
      <mat-chip-list>
        <mat-chip [selectable]="!column.active"
                  [color]="'primary'"
                  *ngFor="let column of columns"
                  fxLayout="row"
                  fxLayoutAlign="space-between stretch"
                  (click)="onRemoveColumn(column)">
          <span>{{ column.name }}</span>
          <span class="ml-1">x</span>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <div class="partners-preview mt-2" *ngIf="data?.partners">
    <ngx-datatable class="material striped datatable"
                   [columnMode]="'flex'"
                   [rows]="data.partners"
                   [columns]="displayedColumns"
                   [headerHeight]="50"
                   [rowHeight]="50"
                   [scrollbarV]="true">
    </ngx-datatable>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
  <button mat-raised-button
          [mat-dialog-close]="false">
    {{ 'cta.cancel'|translate }}
  </button>
  <button mat-raised-button
          (click)="close({columns: columns})"
          color="primary"
          [innerHTML]="data.cta|translate"
          *ngIf="data && data.cta">
  </button>
</mat-dialog-actions>
