<div fxLayout="row"
     fxLayoutAlign="center stretch">
  <div fxLayout="row"
       fxLayoutAlign="center stretch"
       fxFlex="80">
    <mat-card class="preparation-wrapper mt-5 mat-elevation-z0"
              fxFlex="91"
              fxFlex.xs="85"
              *ngIf="recipe">
      <ul fxLayout="row wrap"
          fxLayoutAlign.xs="start stretch"
          fxLayoutAlign.gt-sm="center stretch"
          fxFlex="100">
        <li class="m-2"
            *ngFor="let preparation of recipe.preparations"
            [innerHTML]="getSentence(preparation)">
        </li>
      </ul>
    </mat-card>
  </div>
</div>
