.spacer-wrapper {
  height: 36px;
}

.spacer-select-wrapper {
  height: 56px;
}

.delivery-title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.form-billing-wrapper {
  margin-top: 56.60px;
}

.actions-wrapper {
  margin-top: 50px;
}
