@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../../../app-alr/scss/theme';

.form-wrapper {

  .content-wrapper {
    padding-top: 20px;

    .mat-card {
      min-width: 250px;
      height: 430px;
      .mat-card-content {
      }
    }
    mat-slide-toggle {
      display: block;
    }
  }
}
