
<!--<app-header-style1></app-header-style1>-->
<!--<app-header-style2></app-header-style2>-->

<!--<app-pricing-style1></app-pricing-style1>-->

<app-feature-style2></app-feature-style2>

<div class="container" fxLayout="row">
  <app-pricing-style2 fxFlex="50"></app-pricing-style2>
  <app-pricing-style3 fxFlex="50"></app-pricing-style3>
</div>


<app-feature-style1></app-feature-style1>

<app-firebase-agenda [onlineSession]="onlineSession"></app-firebase-agenda>

<ng-container *ngIf="universalService.isBrowser()">
  <app-map-location-current type="leaflet" [mapConfig]="mapConfig"></app-map-location-current>
</ng-container>

<app-contact-add></app-contact-add>


