@import '~@angular/material/theming';
@import './../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

.mat-card {
  height: 300px;
  @include media-breakpoint-up(xs) {
    height: auto;
  }
  @include media-breakpoint-up(sm) {
    height: auto;
  }
  @include media-breakpoint-up(md) {
    height: auto;
  }
  @include media-breakpoint-up(lg) {
    height: 250px;
  }
  @include media-breakpoint-up(xl) {
    height: 300px;
  }
}



.mat-card-content {
  a {
    font-size: 25px;
    text-align: center;
    width: 100%;
    .mat-button-focus-overlay {
      background: transparent;
    }
  }
}

.mat-card-actions {
  a {
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    display: block;
    height: 60px;
    line-height: 60px;
    width: 50%;

    @include media-breakpoint-up(xs) {
      margin: 50px auto 0;
      font-size: 15px;
      text-align: center;
      width: 100%;
    }
    @include media-breakpoint-up(sm) {
      margin: 50px auto 0;
      width: 75%;
    }
    @include media-breakpoint-up(md) {
      margin: 50px auto 0;
      width: 50%;
    }
    @include media-breakpoint-up(lg) {
      margin: 50px auto 0;
    }
    @include media-breakpoint-up(xl) {
      margin: 50px auto;
    }
  }
}
