<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class='selected-column' *ngIf="selected">
        <h4>Selections <small>({{selected?.length}})</small></h4>
      </div>
    </div>
    <div class="col-6">
      <button role="button" aria-label="Publier une selection" mat-raised-button color="primary" (click)="publishSelection()" *ngIf="selected && selected?.length > 0">
        <mat-icon aria-label="Published">done</mat-icon>
        Publier
      </button>
      <button role="button" aria-label="Publier une selection" mat-raised-button color="warn" (click)="unpublishSelection()" *ngIf="selected && selected?.length > 0">
        <mat-icon aria-label="Unpublished">power_settings_new</mat-icon>
        Dépublier
      </button>
      <button role="button" aria-label="Supprimer une selection" mat-raised-button color="accent" (click)="deleteSelection()" *ngIf="selected && selected?.length > 0">
        <mat-icon aria-label="delete">delete</mat-icon>
        Supprimer
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <ngx-datatable class="material striped scrolling-selections" [columnMode]="'force'" [rows]="selections" [columns]="columns" [headerHeight]="headerHeight" [rowHeight]="rowHeight" [loadingIndicator]="isLoading" [scrollbarV]="true" (scroll)="onScroll($event.offsetY)" [selected]="selected" [selectionType]="'checkbox'" (activate)="onActivate($event)" (select)='onSelect($event)'>
      </ngx-datatable>
      <ng-template #checkboxHeader ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
      </ng-template>
      <ng-template #desktopHeader let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span class="mobile-hidden">{{column.name}}</span>
      </ng-template>
      <ng-template #desktopCell let-value="value" ngx-datatable-cell-template>
        <span class="mobile-hidden">{{value}}</span>
      </ng-template>
      <ng-template #checkboxCell ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
      </ng-template>
      <ng-template #productsCell let-row="row">
        <button class="mobile-hidden" (click)="showProducts(row)" color="primary" mat-raised-button>Voir les produits</button>
      </ng-template>
      <ng-template #publishedCell let-value="value" let-row="row">
        <span *ngIf="value === true" class="text-success mobile-hidden">publié</span>
        <span *ngIf="value === false" class="text-danger mobile-hidden">non publié</span>
      </ng-template>
      <ng-template #actionsCell let-row="row">
        <button class="mobile-hidden" mat-icon-button color="warn" type="button" role="button" aria-label="Changer l'etat" (click)="changePublishedStatus(row)">
          <mat-icon aria-label="changer l'etat">compare_arrows</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>
</div>
<button color="primary" type="button" aria-label="Ajouter une selection" [routerLink]="['/admin/navigation/selection/add']" mat-mini-fab class="absolute-fab pulse">
  <mat-icon>add</mat-icon>
</button>
