// Import theming functions
@import '~@angular/material/theming';
@import './../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

.leftSidenav {
  width: 250px;
}

.rightSidenav {
  margin-top: 60px;
  width: 100%;
  @include media-breakpoint-up(xs) {
    width: 100%;
  }
  @include media-breakpoint-up(sm) {
    width: 300px;
  }
  @include media-breakpoint-up(md) {
    width: 400px;
  }
  @include media-breakpoint-up(lg) {
    width: 500px;
  }
  @include media-breakpoint-up(xl) {
    width: 500px;
  }
}

.card-sidebar {
  position: relative;
  height: 64px;

  .mat-card-header {
    position: absolute;
    top: 14px;
    left: 10px;
  }
}

.sidenav-link {
  text-decoration: none;

  &:hover,
  :active,
  :focus {
    text-decoration: none;
  }
}

ng-adsense {
  display: block;
  margin: 100px auto;
  width: 100%;
}

.main-content {
  overflow-y: auto;
  display: table-cell;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .site {
    flex: 1;
  }

}
