<div class="contact-wrapper"
     fxLayout="row wrap"
     fxLayoutAlign="center stretch"
     fxLayoutGap="30px">
  <div class="contact-header"
       fxFlex="100"
       fxLayout="column"
       fxLayoutAlign="center center">
    <div class="contact-title-wrapper">
      <h2>{{ 'contact.title'|translate }}</h2>
    </div>
  </div>
  <div class="conversation-wrapper"
       fxFlex="47"
       *ngIf="previousContacts.length">
    <app-chat [contacts]="previousContacts"
    [configuration]="chatConfiguration"></app-chat>
  </div>
  <mat-card class="contact-content-wrapper"
            fxFlex="47">

    <mat-card-title class="contact-subtitle-wrapper"
                    fxLayoutAlign="center stretch">
      <h3>{{ 'contact.subtitle'|translate }}</h3>
    </mat-card-title>

    <form [formGroup]="form"
          (ngSubmit)="onSubmit()"
          fxLayout="row wrap"
          fxLayoutAlign="center stretch">
      <mat-form-field class="mat-form-field">
        <input matInput
               autocomplete="name"
               [placeholder]="'name'|translate"
               formControlName="name">
        <mat-hint align="start"><strong [innerHtml]="'name'|translate"></strong></mat-hint>
        <mat-error *ngIf="form.controls.name.invalid && form.controls.name.value.length === 0"
                   [innerHtml]="'Le nom ne peut pas être vide'|translate"></mat-error>
        <mat-error *ngIf="form.controls.name.invalid && form.controls.name.value.length > 0"
                   [innerHtml]="'Il y a un ou des caractère(s) invalide(s)'|translate"></mat-error>
      </mat-form-field>
      <mat-form-field class="mat-form-field">
        <input matInput
               autocomplete="email"
               type="email"
               [placeholder]="'email'|translate"
               formControlName="email">
        <mat-hint align="start"><strong [innerHtml]="'email'|translate"></strong></mat-hint>
        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.value.length === 0"
                   [innerHtml]="'L\'email ne peut pas être vide'|translate"></mat-error>
        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.value.length > 0"
                   [innerHtml]="'Il y a un ou des caractère(s) invalide(s)'|translate"></mat-error>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <textarea matInput
                  maxlength="500"
                  [placeholder]="'message'|translate"
                  formControlName="message">
        </textarea>
        <mat-hint align="start"><strong [innerHtml]="'message'|translate"></strong></mat-hint>
        <mat-hint align="end">{{ form.controls.message.value.length }} {{ '/500'|translate }}</mat-hint>
        <mat-error *ngIf="form.controls.message.invalid && form.controls.message.value.length === 0"
                   [innerHtml]="'Le message ne peut pas être vide'|translate"></mat-error>
        <mat-error *ngIf="form.controls.message.invalid && form.controls.message.value.length > 0"
                   [innerHtml]="'Il y a un ou des caractère(s) invalide(s)'|translate"></mat-error>
      </mat-form-field>

      <div class="send-wrapper"
           fxLayout="row"
           fxLayoutAlign="space-around stretch"
           fxLayoutGap="50px"
           fxLayoutGap.xs="20px">
        <button type="button"
                mat-raised-button
                class="button-cancel text-uppercase">
          {{ 'cta.cancel'|translate }}
        </button>
        <button type="submit"
                role="button"
                color="primary"
                mat-raised-button
                class="button-submit text-uppercase">
          {{ 'cta.send'|translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
