@import '../../../app-showcase/scss/theme';

.contact-wrapper {
  margin: 0 20px 30px 20px;
  .contact-header {
    margin-top: 40px;

    h2 {
      color: mat-color($black);
      font-size: 30px;
      line-height: 32px;
      letter-spacing: 1px;
      margin: 0 0 30px;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    h3 {
      color: mat-color($black);
      font-size: 28px;
      line-height: 30px;
      letter-spacing: 1px;
      margin: 0 0 30px;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  form {
    display: block;
    width: 30vw;
    margin: 0 auto 30px auto;
    .mat-form-field {
      width: 100%;
    }
  }

  .send-wrapper {
    margin: 30px 0;
  }
}



