@import '../../../../../app-recipe/scss/theme/theme';

.recipe-informations {

  &.xs {
    padding-top: 0;
  }

  &.sticky {
    padding-top: 12rem;
  }

  &.xs.sticky {
    padding-top: 64px;
  }

  mat-card.card-information {
    background: $block-color-grey;

    .recipe-values {
      font-weight: 700;
    }
  }
}
