@import '../../../../../app-recipe/scss/theme/theme';

.recipe-informations {

  &.sticky {
    padding-top: 25vh;
  }

  mat-card.card-information {
    background: $block-color-grey;

    .recipe-values {
      font-weight: 700;
    }
  }
}
