<button mat-raised-button
        color="primary"
        type="button"
        (click)="onActiveSearch(true)"
        *ngIf="!showSearch">
  <mat-icon>search</mat-icon>
  <span>{{ 'home.search.title'|translate }}</span>
</button>

<form (ngSubmit)="onSearch()"
      [formGroup]="form"
      fxLayout="column"
      fxLayoutAlign="start start"
      fxLayoutGap="10px"
      fxLayout.xs="column"
      fxLayoutAlign.xs="start center"
      fxLayoutGap.xs="5px"
      *ngIf="showSearch">

  <!--<div class="search-dialog-wrapper">-->
  <!--<mat-form-field class="mat-form-field search-dialog">-->
  <!--<input matInput-->
  <!--type="search-dialog"-->
  <!--[placeholder]="'home.search-dialog.placeholder'|translate"-->
  <!--[(value)]="form.controls.search-dialog.value"-->
  <!--[formControl]="form.controls.search-dialog">-->
  <!--</mat-form-field>-->
  <!--</div>-->

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center">
    <button mat-icon-button
            type="submit"
            color="primary">
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field class="mat-form-field">
      <input name="brand"
             #brandInput
             matInput
             [placeholder]="'home.brand.placeholder'|translate"
             [matAutocomplete]="autoBrand"
             [formControl]="form.get('brand')">
      <mat-error *ngIf="form.get('brand').hasError('required')">{{ 'error.required.brand'|translate }}</mat-error>
    </mat-form-field>
    <button mat-icon-button
            type="button"
            color="primary"
            (click)="onActiveSearch(false)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="brand-select-container">
    <mat-autocomplete #autoBrand="matAutocomplete">
      <mat-option *ngFor="let brand of filteredBrands | async"
                  [value]="brand?.name">
        <span>{{ brand?.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </div>

  <mat-form-field class="mat-form-field" *ngIf="brandSelected">
    <mat-select [placeholder]="'home.model.placeholder'|translate" [formControl]="form.get('model')">
      <mat-option *ngFor="let model of models" [value]="model.key + '-' + model.name">
        {{model.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('model').hasError('required')">{{ 'error.required.model'|translate }}</mat-error>
  </mat-form-field>

  <button type="submit"
          mat-raised-button
          role="button"
          aria-label="search"
          color="primary"
          [disabled]="form.get('model').hasError('required')">
    {{ 'cta.search'|translate }}
  </button>
</form>
