@import '../../../../node_modules/@angular/material/theming';
@import '../../../../node_modules/bootstrap/scss/bootstrap-grid';

$custom-typography: mat-typography-config(
  $font-family: 'Lato'
);
@include mat-core($custom-typography);

/// Text

$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;
$primary-font: 'Lato', sans-serif;
$second-font: 'Merriweather', serif;

/// @type Color
/// text White
$text-color-light-white: #FFFFFF;
$white: #FFFFFF;

/// @type Color
/// text Grey
$text-color-grey: #4D4C4C;

/// @type Color
/// text Light Grey
$text-color-light-grey: #9D9D9C;

/// @type Color
/// a Grey
$link-color-grey: #4D4C4C;

/// @type Color
/// a:hover Grey
$link-hover-color-grey: #4D4C4C;

/// Block

/// @type Color
/// block Deep Blue
$block-color-deep-blue: #3C4B65;

/// @type Color
/// block Deep Blue
$block-color-dark-deep-blue: #334157;

/// @type Color
/// block Gold
$block-color-gold: #F4C71D;

/// @type Color
/// block Light Gold
$block-color-light-gold: #F4C71D;

/// @type Color
/// block Light Grey
$block-color-light-grey: rgba(255, 255, 255, 0.07);

/// @type Color
/// block Grey
$block-color-grey: rgba(255, 255, 255, 0.4);

///Block-key-word-recipes

/// @type Color
/// block key word #tomatoes
$block-color-keyword-tomatoes: #C65020;

$mat-recipe-primary: (
  50: #ffffff,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #90323D,
  500: #F4C71D,
  600: #1e88e5,
  700: #1976d2,
  800: #4D4C4C,
  900: #2F2F30,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat-palette($mat-recipe-primary, 900);
$second: mat-palette($mat-recipe-primary, 500);
$error: mat-palette($mat-recipe-primary, 400);
$white: mat-palette($mat-recipe-primary, 50);
$grey: mat-palette($mat-recipe-primary, 800);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $error, $second);

// Include theme styles for core and each component used in your app-clothe.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

body {
  font-family: $primary-font;
  color: $text-color-grey;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
