<footer angulartics2On="mouseover"
        angularticsAction="HoveredOverFooter"
        [angularticsCategory]="'footer.content'">
  <!-- Desktop -->
  <mat-toolbar class="mat-toolbar"
               fxShow.gt-sm="true"
               fxHide.xs="true">
    <mat-toolbar-row class="links-row"
                     fxLayout="row"
                     fxLayoutAlign="center stretch"
                     fxLayoutGap="20px"
                     *ngIf="options.displayLinks">
      <div class="links-wrapper mt-5"
           fxLayout="row wrap"
           fxLayoutAlign="center stretch"
           fxLayoutGap="20px">
        <!-- Improved nav list and children -->
        <span fxLayout="column"
              fxLayoutAlign="start start"
              *ngFor="let link of links">
          <span class=" text-white text-uppercase">{{ link.title |translate }}</span>
          <span *ngFor="let sublink of link?.children">
            <ng-container
              *ngIf="sublink?.title; then linkTmpl; else contentTmpl">
            </ng-container>
            <ng-template #linkTmpl>
              <a class="text-capitalize text-sublink"
                 [routerLink]="sublink.link">
                {{ sublink.title |translate }}
              </a>
            </ng-template>
            <ng-template #contentTmpl>
              <a class="text-capitalize text-sublink"
                 [routerLink]="'/content/' + sublink.key + '-' + sublink.content">
                {{ sublink.title |translate }}
              </a>
            </ng-template>
          </span>
        </span>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="links-wrapper w-100"
           fxLayout="row"
           fxLayoutAlign="space-around stretch"
           fxLayoutGap="20px"
           *ngIf="options.displayLinks">
        routerLink
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row fxShow.gt-sm="true"
                     fxHide.xs="true"
                     *ngIf="options.displayTopButton">
      <div class="up-wrapper w-100"
           fxLayout="row"
           fxLayoutAlign="end stretch">
        <a mat-raised-button
           class="link-anchor"
           color="warn"
           href="#main-logo">
          {{ 'cta.footer.top-of-page'|translate }}
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--Mobile -->
  <div class="mat-toolbar ml-5"
       fxLayout.xs="column"
       fxLayoutAlign.xs="start center"
       fxLayoutGap.xs="20px"
       fxShow.xs="true"
       fxHide.gt-sm="true"
       *ngIf="options.displaySublinks">
    <div class="links-wrapper mt-5"
         fxLayout="column"
         fxLayoutAlign="start start"
         fxLayoutGap="20px">
      <!-- Improved nav list and children -->
      <span fxLayout="column"
            fxLayoutAlign="start start"
            *ngFor="let link of links">
        <span class=" text-white text-uppercase">
          {{ link.title |translate }}
        </span>
        <ng-container *ngIf="link.children && link.children.length">
          <span *ngFor="let sublink of link.children">
            <ng-container
              *ngIf="sublink?.title; then linkTmpl; else contentTmpl">
            </ng-container>
            <ng-template #linkTmpl>
              <a class="text-capitalize text-sublink"
                 [routerLink]="sublink.link">
                {{ sublink.title |translate }}
              </a>
            </ng-template>
            <ng-template #contentTmpl>
              <a class="text-capitalize text-sublink"
                 [routerLink]="'/content/' + sublink.key + '-' + sublink.content">
                {{ sublink.title |translate }}
              </a>
            </ng-template>
          </span>
        </ng-container>
      </span>
    </div>
  </div>
</footer>
