@import '../../../../node_modules/@angular/material/theming';
@import '../../../../node_modules/bootstrap/scss/bootstrap-grid';

@include font-face(Lato, '/assets/fonts/lato-regular-webfont', normal, normal, woff2 woff ttf);
@include font-face(Lato-Black, '/assets/fonts/lato-black-webfont', normal, normal, woff2 woff ttf);
@include font-face(Lato-Bold, '/assets/fonts/lato-bold-webfont', normal, normal, woff2 woff ttf);

@include font-face(Roboto, '/assets/fonts/roboto-regular-webfont', normal, normal, woff2 woff ttf);
@include font-face(Roboto-Black, '/assets/fonts/roboto-black-webfont', normal, normal, woff2 woff ttf);
@include font-face(Roboto-Bold, '/assets/fonts/roboto-bold-webfont', normal, normal, woff2 woff ttf);


$custom-typography: mat-typography-config(
        $font-family: 'Lato, Roboto, sans-serif'
);
@include mat-core($custom-typography);

$mat-store-primary: (
        50: #ffffff,
        100: #bbdefb,
        200: #90caf9,
        300: #64b5f6,
        400: #90323D,
        500: #F4C71D,
        600: #1e88e5,
        700: #1976d2,
        800: #4D4C4C,
        900: #2F2F30,
        A100: #82b1ff,
        A200: #448aff,
        A400: #2979ff,
        A700: #2962ff,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$primary: mat-palette($mat-store-primary, 900);
$second: mat-palette($mat-store-primary, 500);
$error: mat-palette($mat-store-primary, 400);
$white: mat-palette($mat-store-primary, 50);
$grey: mat-palette($mat-store-primary, 800);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $error, $second);

// Include theme styles for core and each component used in your app-clothe.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

body {
  font-family: $primary-font;
  color: $text-color-grey;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.background-white {
  background-color: mat-color($white);
}

.background-primary {
  background-color: mat-color($primary);
}

.background-warn {
  background-color: mat-color($second);
}

.background-accent {
  background-color: mat-color($error);
}
