<div class="page-home">
  <div fxLayout="row">
    <app-header [slidersOptions]="sliderOptions"></app-header>
  </div>

  <div fxLayout="row">
    <app-home-product-list [products]="productOptions.product_recent_month.products"
                           [specificOptions]="productOptions.product_recent_month"
                           [options]="productOptions"></app-home-product-list>
  </div>

  <div fxLayout="row">
    <app-home-product-list [products]="productOptions.product_new.products"
                           [specificOptions]="productOptions.product_new"
                           [options]="productOptions"></app-home-product-list>
  </div>


  <div fxLayout="row">
    <app-category-default-list [options]="categoryOptions"></app-category-default-list>
  </div>


  <div fxLayout="row">
    <app-home-product-list [products]="productOptions.product_best.products"
                           [specificOptions]="productOptions.product_best"
                           [options]="productOptions"></app-home-product-list>
  </div>


  <div fxLayout="row">
    <app-home-product-list [products]="productOptions.product_most_viewed.products"
                           [specificOptions]="productOptions.product_most_viewed"
                           [options]="productOptions"></app-home-product-list>
  </div>

  <div fxLayout="row">
    <app-home-product-list [products]="productOptions.product_most_commented.products"
                           [specificOptions]="productOptions.product_most_commented"
                           [options]="productOptions"></app-home-product-list>
  </div>

  <div fxLayout="row">
    <app-category-favorite-list [options]="categoryOptions"></app-category-favorite-list>
  </div>
</div>
