<div class="main-wrapper">
  <div class="main-inner-wrapper" [ngStyle]="{ 'height': innerHeight}">
    <div [ngClass]="[selection?.slug, active[selection?.slug]]" *ngFor="let selection of rootSelections">
      <div class="dropdown-wrapper" [ngClass]="active[selection?.slug]" *ngIf="selection?.slug === 'hockey-player'">
        <div class="dropdown-inner-wrapper">
          <div class="content text-white">
            <ul>
              <li *ngFor="let child of selection.children">
                <a [innerHtml]="child?.translations?.fr">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-wrapper" [ngClass]="active[selection?.slug]">
        <div class="nav-inner-wrapper">
          <div class="content title text-white">
            <a (click)="onActive(selection)">{{ selection?.translations?.fr }}</a>
          </div>
        </div>
      </div>
      <div class="dropdown-wrapper" [ngClass]="active[selection?.slug]" *ngIf="selection?.slug === 'hockey-goalie'">
        <div class="dropdown-inner-wrapper">
          <div class="content text-white">
            <ul>
              <li *ngFor="let child of selection.children" [innerHtml]="child?.translations?.fr"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyBlock>
</ng-template>
<ng-template #dropdownTemplate>
  <div class="dropdown-wrapper" [ngClass]="active[selection?.slug]" *ngIf="selection?.slug === 'hockey-goalie'">
    <div class="dropdown-inner-wrapper">
      <div class="content text-white">
        <ul>
          <li *ngFor="let child of selection.children" [innerHtml]="child?.translations?.fr"></li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
