<div class="docs-component-viewer-nav">
  <div class="docs-component-viewer-nav-content" *ngFor="let materialsModule of materialsModules">
    <mat-card>
      <mat-card-title>{{ materialsModule.title}}</mat-card-title>
      <mat-card-content>
        <ngx-carousel [inputs]="carouselMaterialComponents">
          <ngx-tile NgxCarouselItem *ngFor="let materialComponent of materialsModule.groups">
            <div class="wBg">
              <h4>{{ materialComponent?.title }}</h4>
              <p *ngIf="materialComponent?.description">{{ materialComponent.description }}</p>
              <div class="tile" [style.background]="'url(' + materialComponent?.image + ')'">
              </div>
            </div>
          </ngx-tile>
          <button NgxCarouselPrev class="leftRs">&lt;</button>
          <button NgxCarouselNext class="rightRs">&gt;</button>
        </ngx-carousel>
      </mat-card-content>
    </mat-card>
  </div>
</div>
