<div class="docs-component-viewer-nav">
  <div class="docs-component-viewer-nav-content">
    <nav class="ng-tns-c12-1 ng-star-inserted">
      <button class="ng-tns-c12-1" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="false">
        <mat-icon class="mat-icon ng-tns-c12-1 material-icons ng-star-inserted" role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
      </button>
      <ul class="ng-tns-c12-1 ng-trigger ng-trigger-bodyExpansion" id="panel-forms" style="height: 0px; visibility: hidden;">
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/autocomplete">
            Autocomplete
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
            Checkbox
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/datepicker">
            Datepicker
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/form-field">
            Form field
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/input">
            Input
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/radio">
            Radio button
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/select">
            Select
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/slider">
            Slider
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/slide-toggle">
            Slide toggle
          </a>
        </li>
      </ul>
      <hr class="ng-tns-c12-1 ng-star-inserted">
    </nav>
    <nav class="ng-tns-c12-1 ng-star-inserted">
      <button class="ng-tns-c12-1" aria-label="Navigation, section toggle" aria-controls="panel-nav" aria-expanded="false">
        Navigation
        <mat-icon class="mat-icon ng-tns-c12-1 material-icons ng-star-inserted" role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
      </button>
      <ul class="ng-tns-c12-1 ng-trigger ng-trigger-bodyExpansion" id="panel-nav" style="height: 0px; visibility: hidden;">
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/menu">
            Menu
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/sidenav">
            Sidenav
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/toolbar">
            Toolbar
          </a>
        </li>
      </ul>
      <hr class="ng-tns-c12-1 ng-star-inserted">
    </nav>
    <nav class="ng-tns-c12-1 ng-star-inserted">
      <button class="ng-tns-c12-1" aria-label="Layout, section toggle" aria-controls="panel-layout" aria-expanded="false">
        Layout
        <mat-icon class="mat-icon ng-tns-c12-1 material-icons ng-star-inserted" role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
      </button>
      <ul class="ng-tns-c12-1 ng-trigger ng-trigger-bodyExpansion" id="panel-layout" style="height: 0px; visibility: hidden;">
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/card">
            Card
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/divider">
            Divider
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/expansion">
            Expansion Panel
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/grid-list">
            Grid list
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/list">
            List
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/stepper">
            Stepper
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/tabs">
            Tabs
          </a>
        </li>
      </ul>
      <hr class="ng-tns-c12-1 ng-star-inserted">
    </nav>
    <nav class="ng-tns-c12-1 ng-star-inserted">
      <button class="ng-tns-c12-1" aria-label="Buttons &amp; Indicators, section toggle" aria-controls="panel-buttons" aria-expanded="false">
        Buttons &amp; Indicators
        <mat-icon class="mat-icon ng-tns-c12-1 material-icons ng-star-inserted" role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
      </button>
      <ul class="ng-tns-c12-1 ng-trigger ng-trigger-bodyExpansion" id="panel-buttons" style="height: 0px; visibility: hidden;">
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/button">
            Button
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/button-toggle">
            Button toggle
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/chips">
            Chips
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/icon">
            Icon
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/progress-spinner">
            Progress spinner
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/progress-bar">
            Progress bar
          </a>
        </li>
      </ul>
      <hr class="ng-tns-c12-1 ng-star-inserted">
    </nav>
    <nav class="ng-tns-c12-1 ng-star-inserted">
      <button class="ng-tns-c12-1" aria-label="Popups &amp; Modals, section toggle" aria-controls="panel-modals" aria-expanded="false">
        Popups &amp; Modals
        <mat-icon class="mat-icon ng-tns-c12-1 material-icons ng-star-inserted" role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
      </button>
      <ul class="ng-tns-c12-1 ng-trigger ng-trigger-bodyExpansion" id="panel-modals" style="height: 0px; visibility: hidden;">
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/dialog">
            Dialog
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/snack-bar">
            Snackbar
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/tooltip">
            Tooltip
          </a>
        </li>
      </ul>
      <hr class="ng-tns-c12-1 ng-star-inserted">
    </nav>
    <nav class="ng-tns-c12-1 ng-star-inserted">
      <button class="ng-tns-c12-1" aria-label="Data table, section toggle" aria-controls="panel-tables" aria-expanded="false">
        Data table
        <mat-icon class="mat-icon ng-tns-c12-1 material-icons ng-star-inserted" role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
      </button>
      <ul class="ng-tns-c12-1 ng-trigger ng-trigger-bodyExpansion" id="panel-tables" style="height: 0px; visibility: hidden;">
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/paginator">
            Paginator
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/sort">
            Sort header
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/table">
            Table
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
