/* Coolors Exported Palette - coolors.co/fcfcfc-e71d36-9bffff-3a435e-393d3f */

/* HSL */
$color1: hsla(0%, 0%, 99%, 1);
$color2: hsla(353%, 81%, 51%, 1);
$color3: hsla(180%, 100%, 80%, 1);
$color4: hsla(225%, 24%, 30%, 1);
$color5: hsla(200%, 5%, 24%, 1);

/* RGB */
$color1: rgba(252, 252, 252, 1);
$color2: rgba(231, 29, 54, 1);
$color3: rgba(155, 255, 255, 1);
$color4: rgba(58, 67, 94, 1);
$color5: rgba(57, 61, 63, 1);