<mat-card>
  <mat-card-title class="text-ucfirst">
    {{ 'admin.partner.import.title'|translate }}
  </mat-card-title>

  <!-- import du fichier -->

  <mat-card-content>
    <div class="upload-wrapper">
      <input type="file" (change)="uploadFile($event)">
    </div>

  </mat-card-content>

  <mat-card-actions fxLayout="row"
                    fxLayoutAlign="center stretch">
    <div class="last-import" *ngIf="hadPreviousPartners">
      <button type="button"
              class="text-uppercase"
              color="primary"
              mat-raised-button
              (click)="onImportLastFile()">{{ 'cta.import-last-file'|translate }}
      </button>
    </div>

    <button type="button"
            class="text-uppercase"
            color="primary"
            mat-raised-button
            (click)="onImportFile()">{{ 'cta.import'|translate }}
    </button>
  </mat-card-actions>
</mat-card>
