@import '~@angular/material/theming';
@import './../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../../scss/base/car/theme.scss';

.form-edit-wrapper {

  @include media-breakpoint-up(xs) {
    width: 100%;
  }
  @include media-breakpoint-up(sm) {
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    width: 100%;
  }
  @include media-breakpoint-up(lg) {
    width: 500px;
  }
  @include media-breakpoint-up(xl) {
    width: 700px;
  }

  .mat-form-field,
  .agm-map,
  .mat-card-map,
  .mat-card-user {
    width: 100%;
  }

  .button-wrapper {

    button {

      @include media-breakpoint-up(xs) {
        width: 100%;
      }
      @include media-breakpoint-up(sm) {
        width: 100%;
      }
      @include media-breakpoint-up(md) {
        width: 100%;
      }
      @include media-breakpoint-up(lg) {
        width: 220px;
      }
      @include media-breakpoint-up(xl) {
        width: 300px;
      }
    }
  }

  .mat-form-field {
    font-size: large;
  }

  .agm-map {
    height: 500px;
  }

  .search-wrapper {
    .search-form-field {
      width: 150px;
      .search-input {

      }
    }
  }
}
