.scrolling-documents {
  min-height: 40vh;
  min-width: 80vw;
}

.button-expand {
  height: 24px;
  width: 24px;
  line-height: 24px;
}

.document-actions a {
  color: #000;
}

@media screen and (max-width: 800px) {
  span {
    font-size: 12px;
    line-height: 40px;
  }

  .text-date {
    font-size: 9px;
  }

  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none !important;
  }
  ::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 0;
  }
}

@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none !important;
  }
  .mobile-hidden {
    display: initial;
  }
  ::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell:nth-child(2) {
    padding: 0 1.2rem;
  }
}
