<div class="mt-2"
     fxLayout="row"
     fxLayoutAlign="center stretch">
  <ngx-datatable #dataTableComponentTable
                 class="material striped scrolling-documents expandable"
                 [columnMode]="'force'"
                 [rows]="documents"
                 [columns]="columns"
                 [headerHeight]="headerHeight"
                 [rowHeight]="rowHeight"
                 [loadingIndicator]="isLoading"
                 [scrollbarV]="true"
                 [scrollbarH]="false"
                 (scroll)="onScroll($event.offsetY)"
                 [selected]="selected"
                 [selectionType]="'checkbox'"
                 (activate)="onActivate($event)"
                 (select)="onSelect($event)">
  </ngx-datatable>
</div>

<!-- Header Template -->
<ng-template #desktopHeader let-column="column" let-sort="sortFn" ngx-datatable-header-template>
  <span class="mobile-hidden">
    {{column.name}}
  </span>
</ng-template>

<ng-template #actionsCell
             let-row="row"
             ngx-datatable-cell-template>
  <div class="document-actions"
       fxLayout="row"
       fxLayoutAlign="space-around stretch">
    <a class="mobile-hidden"
       (click)="editDocument(row)"
       [attr.aria-label]="'cta.edit'|translate">
      <mat-icon aria-hidden="true">mode_edit</mat-icon>
    </a>
    <a class="mobile-hidden"
       (click)="confirmDelete(row)"
       [attr.aria-label]="'cta.delete'|translate">
      <mat-icon aria-hidden="true">delete</mat-icon>
    </a>
  </div>
</ng-template>

<button color="primary"
        type="button"
        [attr.aria-label]="'cta.admin.recipe.add'|translate"
        [routerLink]="['/admin'|localize, 'recipe', 'add']"
        mat-mini-fab
        class="absolute-fab pulse">
  <mat-icon aria-hidden="true">add</mat-icon>
</button>
