@import '~@angular/material/theming';
@import './../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../../scss/base/car/theme.scss';

mat-card {
  cursor: pointer;

  @include media-breakpoint-up(xs) {
    width: 200px;
  }
  @include media-breakpoint-up(sm) {
    width: 300px;
  }
  @include media-breakpoint-up(md) {
    width: 400px;
  }
  @include media-breakpoint-up(lg) {
    width: 500px;
  }
  @include media-breakpoint-up(xl) {
    width: 1200px;
  }

  .gallery-wrapper {
    position: relative;
    height: 150px;

    .image-wrapper {
      width: 200px;

      img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
      }
    }

    .favorite-wrapper {
      position: absolute;
      bottom: 0;
      left: 200px;
      a {
        background-color: mat-color($white);

      }
    }
  }

  .attributes-wrapper {
    font-size: 16px;
  }
}

.offer-location {
  color: mat-color($product-primary);
}

.offer-price {
  color: mat-color($product-accent);
}

.offer-published {
  color: mat-color($product-primary);
}
