
.mat-form-field {
    width: 100%;
}

img {
  vertical-align: middle;
}

.state {
  padding: 20px;
}

.instructors {
  padding: 20px;
  .instructor-select-item-img {
    height: 80%;
    margin-right: 1rem;
  }

  .mat-autocomplete-panel {
    height: 100%;
    position: absolute !important;
  }

  .instructor-select-title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }

  .instructor-select-container {
    width: 90%;
    margin: auto;
  }


  /* small */
  @media (max-width: 600px) {
    .instructor-select-title {
      font-size: 1.5em;
    }
    .instructor-select-container {
      width: 90%;
    }
  }


  /* medium*/

  @media (min-width: 601px) and (max-width: 992px) {
    .instructor-select-container {
      width: 60%;
    }
  }


  /* large */

  @media (min-width: 993px) {
    .instructor-select-container {
      width: 50%;
    }
  }
}
