<div class="list-row" fxLayout="column" fxLayoutAlign="start center">
  <div class="element-wrapper" fxLayout="row" fxLayoutAlign="center stretch">
    <mat-nav-list class="mat-nav-list"
                  fxLayout="column"
                  fxLayoutAlign="center end"
                  fxLayoutAlign.xs="center start">
      <a mat-list-item
         *ngFor="let area of areas | orderBy: 'name'"
         [routerLink]="getLink(area)"
         (mouseover)="onHoverArea(area)">
        {{ area.name }}
      </a>
    </mat-nav-list>
  </div>
</div>
