<mat-card class="week-calendar-wrapper">
  <mat-card-header class="week-calendar-header">


    <mat-card-title class="week-calendar-title">


      <app-calendar-header [start]="start"
                           [end]="end"
                           [viewMode]="viewMode"
                           (switchedView)="onSwithedView($event)"
                           (startChanged)="onStartChanged($event)"></app-calendar-header>

    </mat-card-title>


  </mat-card-header>

  <mat-card-content>


    <app-calendar-body [onlineSession]="onlineSession"
                       [days]="days"
                       [viewMode]="viewMode"
                       [start]="start"
                       [end]="end"
                       [daysAvailability]="daysAvailability"
                       [daysBusySlotNumber]="daysBusySlotNumber"
                       [daysAvailabilitySlotNumber]="daysAvailabilitySlotNumber"
                       [busySlots]="busySlots"
                       [earlySlots]="earlySlots"
                       [pauseSlots]="pauseSlots"
                       [sessionsSlots]="sessionsSlots"
                       [sessionsEndSlots]="sessionsEndSlots"
                       [sessions]="sessions"
                       (startChanged)="onStartChanged($event)"
                       (sessionAdded)="onSessionAdded($event)"
                       (sessionRemoved)="onSessionRemoved($event)"></app-calendar-body>

  </mat-card-content>
</mat-card>
