<mat-toolbar color="primary" *ngIf="showBackButton === true">
  <a [routerLink]="['/admin/map']">
    <mat-icon color="warn">navigate_before</mat-icon>
  </a>
</mat-toolbar>
<div class="mt-2"
     fxLayout="row"
     fxLayoutAlign="space-around stretch"
     fxLayoutGap="20px"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center">

  <div class="form-wrapper mb-5"
       fxFlex="30"
       fxFlex.xs="100"
       fxLayout="column"
       fxLayoutAlign="start center"
       fxLayoutGap="20px">

    <form [formGroup]="form"
          (ngSubmit)="saveMap()"
          class="form mt-1">

      <mat-card class="mat-card">
        <mat-card-header fxLayout="row"
                         fxLayoutAlign="center stretch">
          <mat-card-title>
            <h3 *ngIf="!map?.key">
              Ajouter une carte
            </h3>
            <h3 *ngIf="map?.key">
              Editer une carte
            </h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
          <div class="mt-1"
               fxLayout="column"
               fxLayoutAlign="center stretch">
            <mat-form-field class="mat-form-field">
              <input matInput
                     maxlength="100"
                     [placeholder]="'admin.placeholder.map.name'|translate"
                     [formControl]="form.get('name')">
              <mat-hint align="start"><strong [innerHtml]="'admin.hint.map.name'|translate"></strong></mat-hint>
              <mat-hint align="end">{{ form.get('name').value.length }} {{ '/100'|translate }}</mat-hint>
              <mat-error *ngIf="form.get('name').invalid && form.get('name').value.length === 0"
                         [innerHtml]="'admin.error.required.map.name'|translate"></mat-error>
              <mat-error *ngIf="form.get('name').invalid && form.get('name').value.length > 0"
                         [innerHtml]="'admin.error.invalid.map.name'|translate"></mat-error>
            </mat-form-field>
            <div class="d-block mt-1">
              <div class="mat-form-field">
                <mat-radio-group class="example-radio-group"
                                 [formControl]="form.get('published')">
                  <mat-radio-button class="example-radio-button"
                                    [value]="true">
                    {{ 'cta.publish'|translate }}
                  </mat-radio-button>
                  <mat-radio-button class="example-radio-button"
                                    [value]="false">
                    {{ 'cta.unpublish'|translate }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row"
               fxLayoutAlign="space-around stretch">
            <button type="button"
                    class="back text-uppercase"
                    role="button"
                    color="accent"
                    mat-raised-button
                    [innerHtml]="'cta.cancel'|translate"
                    [routerLink]="['/admin/map']"></button>
            <button type="submit"
                    class="validate text-uppercase"
                    [attr.aria-label]="'cta.save'|translate"
                    mat-raised-button
                    color="primary"
                    [disabled]="form.invalid"
                    [innerHtml]="'cta.save'|translate"></button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>


    <form [formGroup]="formArea"
          (ngSubmit)="saveArea()"
          class="form mt-1"
          *ngIf="map">
      <mat-card class="mat-card">
        <mat-card-header fxLayout="row"
                         fxLayoutAlign="center stretch">
          <mat-card-subtitle *ngIf="showBackButton === true">
            <button type="button"
                    color="primary"
                    mat-mini-fab
                    class="absolute-fab"
                    [routerLink]="['/admin/map']|localize">
              <mat-icon aria-label="back">arrow_back</mat-icon>
            </button>
          </mat-card-subtitle>
          <mat-card-title>
            <h3 class="text-ucfirst" *ngIf="map?.key">
              {{ 'admin.title.area.add'|translate }}
            </h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
          <div class="mt-1"
               fxLayout="column"
               fxLayoutAlign="center stretch">
            <mat-form-field class="mat-form-field">
              <input matInput
                     maxlength="100"
                     [placeholder]="'admin.placeholder.area.name'|translate"
                     [formControl]="formArea.get('name')">
              <mat-hint align="start">
                <strong [innerHtml]="'admin.hint.area.name'|translate"></strong>
              </mat-hint>
              <mat-hint align="end">{{ formArea.get('name').value.length }} {{ '/100'|translate }}</mat-hint>
              <mat-error *ngIf="formArea.get('name').invalid && formArea.get('name').value.length === 0"
                         [innerHtml]="'admin.error.required.area.name'|translate"></mat-error>
              <mat-error *ngIf="formArea.get('name').invalid && formArea.get('name').value.length > 0"
                         [innerHtml]="'admin.error.invalid.area.name'|translate"></mat-error>
            </mat-form-field>
            <mat-form-field class="mat-form-field">
              <input matInput
                     maxlength="9000"
                     [placeholder]="'admin.placeholder.area.path'|translate"
                     [formControl]="formArea.get('path')">
              <mat-hint align="start"><strong [innerHtml]="'admin.hint.area.path'|translate"></strong></mat-hint>
              <mat-hint align="end">{{ formArea.get('path').value.length }} {{ '/9000'|translate }}</mat-hint>
              <mat-error *ngIf="formArea.get('path').invalid && formArea.get('path').value.length === 0"
                         [innerHtml]="'admin.error.required.area.path'|translate"></mat-error>
              <mat-error *ngIf="formArea.get('path').invalid && formArea.get('path').value.length > 0"
                         [innerHtml]="'admin.error.invalid.area.path'|translate"></mat-error>
            </mat-form-field>
            <div class="d-block mt-1">
              <div class="mat-form-field">
                <mat-radio-group class="example-radio-group"
                                 [formControl]="formArea.get('published')">
                  <mat-radio-button class="example-radio-button"
                                    [value]="true">
                    {{ 'cta.publish'|translate }}
                  </mat-radio-button>
                  <mat-radio-button class="example-radio-button"
                                    [value]="false">
                    {{ 'cta.unpublish'|translate }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row"
               fxLayoutAlign="space-around stretch">
            <button type="button"
                    class="back text-uppercase"
                    role="button"
                    color="accent"
                    mat-raised-button
                    [innerHtml]="'cta.cancel'|translate"
                    [routerLink]="['/admin/map']"></button>
            <button type="submit"
                    class="validate text-uppercase"
                    [attr.aria-label]="'cta.save'|translate"
                    mat-raised-button
                    color="primary"
                    [disabled]="form.invalid"
                    [innerHtml]="'cta.save'|translate"></button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
    <div class="france-wrapper">
      <button (click)="addFrance()"
              type="button"
              class="text-uppercase"
              [disabled]="loadingFrance"
              role="button"
              color="primary"
              mat-raised-button>
        <mat-icon *ngIf="loadingFrance">refresh</mat-icon>
        {{ 'cta.add-france'|translate }}
      </button>
    </div>

  </div>
  <div fxFlex="80"
       fxFlex.xs="100">
    <app-admin-map-areas *ngIf="hideAreas === false"></app-admin-map-areas>
  </div>
</div>

