<div fxLayout="column" fxLayoutAlign="center stretch">
  <form [formGroup]="form" (ngSubmit)="saveProduct()" class="form">
    <mat-card class="mat-card mt-3">
      <mat-card-header fxLayout="row" fxLayoutAlign="center stretch">
        <mat-card-subtitle>
          <button type="button" role="button" mat-icon-button color="warn" mat-mini-fab class="absolute-fab"
                  [routerLink]="['/admin/product']">
            <mat-icon aria-label="back">arrow_left</mat-icon>
          </button>
        </mat-card-subtitle>
        <mat-card-title>
          <span *ngIf="!product?.key">
            Ajouter un produit
          </span>
          <span *ngIf="product?.key">
            Editer un produit
          </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-card-content">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="d-block mt-1">
              <div class="mat-form-field">
                <mat-radio-group class="example-radio-group"
                                 [formControl]="form.get('published')">
                  <mat-radio-button class="example-radio-button" [value]="true">
                    {{'Publié'}}
                  </mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="false">
                    {{'Non publié'}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="d-block">
              <mat-form-field class="mat-form-field">
                <input matInput maxlength="100" [placeholder]="'Nom du produit'|translate" formControlName="name">
                <mat-hint align="start"><strong [innerHtml]="'Nom du produit'|translate"></strong></mat-hint>
                <mat-hint align="end">{{ name.value.length }} {{ '/100'|translate }}</mat-hint>
                <mat-error *ngIf="name.invalid && name.value.length === 0"
                           [innerHtml]="'Le nom ne peut pas être vide'|translate"></mat-error>
                <mat-error *ngIf="name.invalid && name.value.length > 0"
                           [innerHtml]="'Il y a un ou des caractère(s) invalide(s)'|translate"></mat-error>
              </mat-form-field>
            </div>
            <div class="d-block">
              <mat-form-field class="mat-form-field" formGroupName="translations">
                <input matInput maxlength="100" [placeholder]="'Nom en français'|translate" formControlName="fr">
                <mat-hint align="start"><strong [innerHtml]="'Nom français'|translate"></strong></mat-hint>
                <mat-hint align="end">{{ fr.value.length }} {{ '/100'|translate }}</mat-hint>
                <mat-error *ngIf="fr.invalid && fr.value.length === 0"
                           [innerHtml]="'Le nom français ne peut pas être vide'|translate"></mat-error>
                <mat-error *ngIf="fr.invalid && fr.value.length > 0"
                           [innerHtml]="'Il y a un ou des caractère(s) invalide(s)'|translate"></mat-error>
              </mat-form-field>
            </div>
            <div class="d-block">
              <div class="mat-form-field editor mt1">
                <label class="mat-hint"><strong>Description :</strong></label>
                <app-ngx-editor [config]="editorConfig"
                                [formControl]="form.get('description')">
                </app-ngx-editor>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p>Image du produit</p>
            <div fxLayout="row"
                 fxLayoutAlign="space-around strech"
                 fxLayout.xs="column"
                 fxLayoutAlign.xs="center center">
              <div class="block-image">
                <app-storage-upload [folder]="'products'"
                                    [metadata]="imageStorageConfig"
                                    (imageChanged)="onImageChange($event)"
                                    (imageRefChanged)="onImageRefChanged($event)"></app-storage-upload>
                <app-storage-detail [downloadURL]="downloadURL"></app-storage-detail>

                <app-image-product [displayValidation]="'true'"
                                   (imageChanged)="onImageChange($event)"></app-image-product>
              </div>
              <div *ngIf="product?.images && product.images.length > 0">
                <app-admin-product-image-order [product]="product"
                                               (imagesChanged)="onImagesChange($event)"></app-admin-product-image-order>
              </div>
            </div>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mt-3 mat-card drag-wrapper">
      <mat-card-content>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="d-block mt-1">
              <h4>Liste des attributs diponibles</h4>
              <div class="wrapper">
                <div class="container bag"
                     [dragula]="'product-attributes'"
                     [dragulaModel]="attributesModel">
                  <div *ngIf="attributesModel?.length === 0">
                    No content
                  </div>
                  <div *ngFor="let attribute of attributesModel" [innerHtml]="attribute?.label"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="d-block mt-1">
              <h4>Attributs du produit</h4>
              <div class="wrapper">
                <div class="container bag"
                     [dragula]="'product-attributes'"
                     [dragulaModel]="attributes?.value">
                  <div *ngIf="attributes?.value?.length === 0">
                    No content
                  </div>
                  <div *ngFor="let attribute of attributes.value" [innerHtml]="attribute?.label"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mt-3 mat-card">
      <mat-card-content>
        <div class="row">
          <div class="col-xs-12 col-sm-6" formGroupName="offers">
            <h4>Ajouter/Editer des revendeurs</h4>
            <div fxLayout="column" fxLayoutAlign="space-around stretch"
                 *ngFor="let offer of offers?.controls; let i = index;">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <div class="mt-1" fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="20px" fxFlex="100"
                     [formGroupName]="i">
                  <mat-form-field class="mat-form-field" fxFlex="50">
                    <mat-select placeholder="Sélectionner un partenaire" name="partner" formControlName="partner">
                      <mat-option [value]="partner?.key" *ngFor="let partner of partners">
                        {{ partner?.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="mat-form-field" fxFlex="10">
                    <input matInput type="number" maxlength="5" [placeholder]="'Prix'|translate"
                           formControlName="price">
                    <mat-error
                      *ngIf="offers.controls[i].controls.price.invalid && offers.controls[i].controls.price.value && offers.controls[i].controls.price.value.length === 0"
                      [innerHtml]="'Le prix ne peut pas être vide'|translate"></mat-error>
                    <mat-error
                      *ngIf="offers.controls[i].controls.price.invalid && offers.controls[i].controls.price.value && offers.controls[i].controls.price.value.length > 0"
                      [innerHtml]="'Il y a un ou des caractère(s) invalide(s)'|translate"></mat-error>
                  </mat-form-field>
                  <mat-form-field class="mat-form-field" fxFlex="40">
                    <input matInput type="url" maxlength="255" [placeholder]="'Lien vers le site'|translate"
                           formControlName="external_url">
                    <mat-hint align="start"><strong
                      [innerHtml]="'Url du site web proposant le produit'|translate"></strong></mat-hint>
                    <mat-hint align="end">{{ offers.controls[i].controls.external_url.value.length }} {{
                      '/255'|translate }}
                    </mat-hint>
                    <mat-error
                      *ngIf="offers.controls[i].controls.external_url.invalid && offers.controls[i].controls.external_url.value.length === 0"
                      [innerHtml]="'la chaîne de caractère ne peut pas être vide'|translate"></mat-error>
                    <mat-error
                      *ngIf="offers.controls[i].controls.external_url.invalid && offers.controls[i].controls.external_url.value.length > 0"
                      [innerHtml]="'Il y a un ou des caractère(s) invalide(s)'|translate"></mat-error>
                  </mat-form-field>
                  <button type="button" mat-icon-button color="accent" (click)="deleteOffer(i)">
                    <mat-icon aria-label="Supprimer">delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="button-add wrapper mt-5" fxLayout="row" fxLayoutAlign="center stretch">
              <button type="button" role="button" aria-label="Ajouter un revendeur supplémentaire" mat-mini-fab
                      color="primary" (click)="addOfferForm()">
                <mat-icon aria-hidden="true">add</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="d-block">
              <div class="row mt1">
                <div class="col-12">
                  <div class='selected-column' *ngIf="selected">
                    <h4>Associer une categorie</h4>
                    <p class="text-danger" *ngIf="category.invalid === true">
                      Aucune catégorie associée au produit
                    </p>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <p>La catégorie selectionnée
                        <small>({{selected?.length}})</small>
                      </p>
                    </div>
                    <div class="col-6">
                      <button type="button" role="button" aria-label="Ajouter les categories selectionnes"
                              mat-raised-button color="primary" (click)="addCategory()"
                              *ngIf="selected && selected?.length > 0">
                        <mat-icon aria-label="Ajouter les categories selectionnes">done</mat-icon>
                        Ajouter
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <ngx-datatable class="material striped scrolling-categories" [columnMode]="'force'"
                                     [rows]="categories" [columns]="columns" [headerHeight]="headerHeight"
                                     [rowHeight]="rowHeight" [loadingIndicator]="isLoading" [scrollbarV]="true"
                                     [selected]="selected" [selectionType]="'single'"
                                     (select)='onSelect($event)'></ngx-datatable>
                    </div>
                  </div>
                  <ng-template #checkboxCell ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                               let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="d-flex justify-content-around">
          <button type="button" class="back" role="button" color="accent" mat-raised-button
                  [innerHtml]="'Annuler'|translate" [routerLink]="['/admin/product']"></button>
          <button type="submit" class="validate" [attr.aria-label]="'Enregistrer'|translate" mat-raised-button
                  color="primary" [disabled]="form.invalid || isSaving" [innerHtml]="'Enregistrer'|translate"></button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
