@import '~@angular/material/theming';
//@import url('https://fonts.googleapis.com/css?family=Material+Icons|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Nunito:400,700|Roboto+Condensed:400,700i');

// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
//
$color1: #fcfcfc;
$color2: #e71d36;
$color3: #9bffff;
$color4: #3a435e;
$color5: #393d3f;
$product-primary: mat-palette($mat-blue-grey,
  800);
$product-accent: mat-palette($mat-red,
  600);
$product-warn: mat-palette($mat-blue,
  200);
$white: mat-palette($mat-grey,
  50);
$black: mat-palette($mat-grey,
  900);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($product-primary,
  $product-accent,
  $product-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

body {
  font-family: 'Nunito', sans-serif;
  background-color: $color2;

  .title {
    font-family: 'Roboto Condensed', sans-serif;
  }

  // Menu toolbar
  .main-menu {
    a {
      color: $color3 !important;
    }
    background-color: $color4 !important;
  }

  footer {
    a {
      color: $color1;

      & :hover {
        color: $color3 !important;
        text-decoration: none !important;
      }
    }
    .mat-toolbar {
      background-color: $color4 !important;
    }

  }
}
