@import '../../../node_modules/@angular/material/theming';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$color1: #131629; // Bleu
$color2: #ffffff; // Blanc
$color3: #af300b; // Rouge
$color5: #af8401;
$primary: mat-palette($mat-blue-gray, 500, 100, 900);
$accent: mat-palette($mat-red, 800);
$warn: mat-palette($mat-orange, 200);
$light-grey: mat-palette($mat-grey, 100);
$white: mat-palette($mat-grey, 50);
$black: mat-palette($mat-grey, 900);

@mixin mat-button-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-raised-button,
  .mat-button,
  .mat-icon-button,
  .mat-mini-fab {
    &.mat-primary {
      background-color: mat-color($primary, darker);
      color: mat-color($white);
    }

    &.mat-accent {
      background-color: mat-color($accent);
      color: mat-color($white);
    }

    &.mat-warn {
      background-color: mat-color($warn);
      color: mat-color($black);
    }
  }
}

@mixin mat-form-field-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .mat-form-field-underline {
    transform: perspective(1px);
    background-color: mat-color($primary);
  }

  &.mat-form-field--no-underline {
    .mat-form-field-underline {
      background-color: transparent;
    }
  }

  .mat-form-field--no-underline {
    .mat-form-field-underline {
      background-color: transparent;
    }
  }
}

@mixin mat-toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  mat-toolbar.mat-primary {
    background-color: mat-color($primary, darker);
    color: mat-color($white);
    &:hover {
      color: mat-color($white, 200);
    }

    a {
      color: mat-color($white);
    }
  }
}

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

@mixin custom-theme($theme) {
  @include mat-core-theme($theme);
  @include mat-button-theme($theme);
  @include mat-form-field-theme($theme);
  @include mat-toolbar-theme($theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include custom-theme($theme);

body {
  font-family: 'Nunito', sans-serif;
  background-color: $color2;

  .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.album {
  background: mat-color(mat-palette($mat-purple, 800));
  * {
    color: mat-color($white);
  }
}

.music {
  background: mat-color(mat-palette($mat-teal, 900));
  * {
    color: mat-color($white);
  }
}

.note {
  width: 600px;

  @include media-breakpoint-up(xs) {
    width: 95%;
  }
  @include media-breakpoint-up(sm) {
    width: 300px;
  }
  @include media-breakpoint-up(lg) {
    width: 600px;
  }

  .blue {
    background: mat-color(mat-palette($mat-blue, 300));
    * {
      color: mat-color($white);
    }
  }

  .grey {
    background: mat-color(mat-palette($mat-grey, 700));
    * {
      color: mat-color($white);
    }
  }

  .dark-grey {
    background: mat-color(mat-palette($mat-grey, 800));
    * {
      color: mat-color($white);
    }
  }

  .blue-grey {
    background: mat-color(mat-palette($mat-blue-grey, 700));
    * {
      color: mat-color($white);
    }
  }

  .orange {
    .mat-card-image {
      height: 200px;
    }

    background: mat-color(mat-palette($mat-orange, 700));
    * {
      color: mat-color($white);
    }
  }
}
