/**
 * Chrome Underline autocomplete
 */
@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}

form {
  input:-webkit-autofill {
    -webkit-animation-name: autofill !important;
    -webkit-animation-fill-mode: both !important;
  }
}

a,
a,
a:focus,
a:hover {
  text-decoration: none
}

a:focus,
a:hover {
  text-decoration: none
}
