.drag-wrapper {
  display: table;
  .gh-fork {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
  }
  .drag-container {
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
  }
  .drag-container:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
  }
  /*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
  .drag-container div,
  .gu-mirror {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
  }
  .drag-container div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  .gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  .drag-container .ex-moved {
    background-color: #e74c3c;
  }
  .drag-container.ex-over {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
  }
}
