<div class="slide-toggle-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px"
     fxLayoutGap.xs="10px">
  <h2>Select Example</h2>
  <div class="slide-toggle-example-wrapper" fxLayout="row" fxLayoutAlign="space-around wrap" fxLayoutGap="20px"
       fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutGap.xs="0">
    <div class="slide-toggle-content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Default Example
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-slide-toggle [formControl]="yoloControl">Yolo Mode !</mat-slide-toggle>
          </form>
        </mat-card-content>
        <mat-card-footer>
          <p> Selected value: {{yoloControl.value}} </p>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
