<div class="board-wrapper"
     fxLayout="column"
     fxLayoutAlign="start stretch"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center">

  <div *ngIf="board" class="board-title">
    <span [style.display]="editingTilte ? 'none' : ''"
          (click)="editTitle()">
      {{ board?.title }}
    </span>

    <input [style.display]="editingTilte ? '' : 'none' "
           (keyup)="blurOnEnter($event)"
           (blur)="updateBoard()"
           [(ngModel)]="board.title"/>
  </div>

  <section class="board-columns-wrapper"
           id="main"
           fxLayout="row"
           fxLayoutAlign="start stretch"
           fxLayoutGap="10px"
           *ngIf="board">
    <div class="columns-wrapper"
         [dragula]="'column-bag'"
         [dragulaModel]="board.columns"
         [dragulaOptions]="options"
         fxLayout="row"
         fxLayoutAlign="start stretch"
         fxLayoutGap="10px">

      <div *ngFor="let column of board.columns | orderBy : 'order'"
           class="sortable-column">
        <app-board-column [column]="column"
                          (cardAdded)="addCard($event)"
                          [cards]="board.cards">
        </app-board-column>
      </div>
    </div>
    <div class="add-column"
         [class.addingColumn]="addingColumn"
         (click)="enableAddColumn()">
      <span [style.display]="addingColumn ? 'none' : ''">
        Add a list...
      </span>

      <mat-form-field class="mat-form-field"
                      apparence="outline"
                      [style.display]="addingColumn ? '' : 'none'">
        <input
          matInput
          [placeholder]="'Add a list...'"
          (keyup)="addColumnOnEnter($event)"
          (blur)="addColumnOnBlur()"
          [(ngModel)]="addColumnText"/>
      </mat-form-field>
    </div>
  </section>
</div>

