<mat-toolbar color="warn">
  <a mat-button color="primary" [routerLink]="['/admin']">Back office</a>
  <a mat-button color="primary" [routerLink]="['/admin/product']">Products</a>
  <a mat-button color="primary" [routerLink]="['/admin/category']">Categories</a>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class='selected-column'>
        <h4>Selections <small>({{selected?.length}})</small></h4>
      </div>
    </div>
    <div class="col-6">
      <button role="button" aria-label="Publier un pull moche" mat-raised-button color="primary" (click)="publishProduct()" *ngIf="selected.length > 0">
        <mat-icon aria-label="Published">done</mat-icon>
        Publier
      </button>
      <button role="button" aria-label="Publier un pull moche" mat-raised-button color="accent" (click)="deleteProduct()" *ngIf="selected.length > 0">
        <mat-icon aria-label="delete">delete</mat-icon>
        Supprimer
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <ngx-datatable class="material striped scrolling-products" [columnMode]="'force'" [rows]="products$|async" [columns]="columns" [headerHeight]="headerHeight" [rowHeight]="rowHeight" [loadingIndicator]="isLoading" [scrollbarV]="true" (scroll)="onScroll($event.offsetY)" [selected]="selected" [selectionType]="'checkbox'" (activate)="onActivate($event)" (select)='onSelect($event)'>
        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="image1"></ngx-datatable-column>
        <ngx-datatable-column name="name"></ngx-datatable-column>
        <ngx-datatable-column name="published"></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
