<div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div class="button-close-wrapper">
    <button mat-icon-button type="button" fxLayout="row" fxLayoutAlign="center center" (click)="close()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="button-close-wrapper">
    <button mat-icon-button type="button" fxLayout="row" fxLayoutAlign="center center" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-nav-list class="pt-0">
  <a mat-list-item class="sidenav-link heading text-center" fxLayout="row" fxLayoutAlign="center stretch" (click)="close()">
    <span>Filtrer</span>
  </a>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Trier
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-facet-sort></app-facet-sort>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let facet of facets">
      <mat-expansion-panel-header>
        <mat-panel-title (click)="onFilter(facet, i)">
          <span>{{ facet.name }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-facet-attribute *ngIf="facet.column === 'attribute'"></app-facet-attribute>
      <app-facet-category *ngIf="facet.column === 'category'"></app-facet-category>
      <app-facet-country *ngIf="facet.column === 'country'"></app-facet-country>
      <app-facet-delivery *ngIf="facet.column === 'delivery'"></app-facet-delivery>
      <app-facet-location *ngIf="facet.column === 'location'"></app-facet-location>
      <app-facet-price *ngIf="facet.column === 'price'"></app-facet-price>
      <app-facet-product-best-seller *ngIf="facet.column === 'best-seller'"></app-facet-product-best-seller>
      <app-facet-product-description *ngIf="facet.column === 'description'"></app-facet-product-description>
    </mat-expansion-panel>
  </mat-accordion>
  <a mat-list-item class="sidenav-link mt-4 text-center" fxLayout="row" fxLayoutAlign="center stretch" (click)="close()">
    <button class="button-validate" mat-raised-button color="primary" type="button" fxLayout="row" fxLayoutAlign="center stretch">
      Valider
    </button>
  </a>
</mat-nav-list>
