<!-- Header Template -->
<ng-template #desktopHeader let-column="column" let-sort="sortFn" ngx-datatable-header-template>
  <span class="mobile-hidden">{{column.name}}</span>
</ng-template>
<ng-template #checkboxHeader ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
             let-selectFn="selectFn">
  <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
  <span>({{selected?.length}})</span>
</ng-template>
<!-- Cell Template -->
<ng-template #checkboxCell ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
             let-onCheckboxChangeFn="onCheckboxChangeFn" let-row="row" let-expanded="expanded">
  <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
  <button mat-icon-button role="button" type="button" [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
          class="desktop-hidden">
  </button>
</ng-template>
<ng-template #imageCell ngx-datatable-cell-template let-value="value" let-row="row">
  <a (click)="editProduct(row)">
    <app-image class="py-0" [key]="item" [resize]="{height: headerHeight}" *ngFor="let item of value"></app-image>
  </a>
</ng-template>
<ng-template #actionsCell let-row="row" ngx-datatable-cell-template>
  <div class="product-actions" fxLayout="row" fxLayoutAlign="space-around stretch">
    <a class="mobile-hidden" [routerLink]="showProduct(row)" aria-label="Suppr">
      <mat-icon aria-hidden="true">remove_red_eye</mat-icon>
    </a>
    <a class="mobile-hidden" (click)="editProduct(row)" aria-label="Edit">
      <mat-icon aria-hidden="true">mode_edit</mat-icon>
    </a>
    <a class="mobile-hidden" (click)="confirmDelete(row)" aria-label="Del">
      <mat-icon aria-hidden="true">delete</mat-icon>
    </a>
  </div>
</ng-template>
<ng-template #desktopCell let-value="value" ngx-datatable-cell-template>
  <span class="mobile-hidden">{{value}}</span>
</ng-template>
<ng-template #publicationCell let-value="value" let-row="row" ngx-datatable-cell-template>
  <mat-radio-group [selected]="value ? published : unpublished" class="publication-radio-group mobile-hidden"
                   [value]="value" (change)="updateProductPublication(row, $event)">
    <mat-radio-button #published class="publication-radio-button" [value]="true" color="primary">
      <span class="text-success">Publié</span>
    </mat-radio-button>
    <mat-radio-button #unpublished class="publication-radio-button" [value]="false" color="accent">
      <span class="text-danger">Non publié</span>
    </mat-radio-button>
  </mat-radio-group>
</ng-template>
<ng-template #priceCell let-value="value" ngx-datatable-cell-template>
  <span class="mobile-hidden">{{value}} €</span>
</ng-template>
<ng-template #translationsFrCell let-value="value" let-row="row" ngx-datatable-cell-template>
  <span class="mobile-hidden">{{value}}</span>
  <p class="desktop-hidden">{{value}}</p>
  <div class="desktop-hidden" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <span *ngIf="row.published" class="text-success">publié</span>
    <span *ngIf="!row.published" class="text-danger">non publié</span>
    <span>|</span>
    <span *ngIf="row.price">{{ row.price }} €</span>
    <a [routerLink]="showProduct(row)" *ngIf="row.key && row.name">
      <mat-icon>remove_red_eye</mat-icon>
    </a>
    <a (click)="editProduct(row)">
      <mat-icon>mode_edit</mat-icon>
    </a>
    <a (click)="confirmDelete(row)">
      <mat-icon>delete</mat-icon>
    </a>
  </div>
</ng-template>