<div class="product-item"
     [ngClass]="[specificOptions?.layout + '-wrapper']"
     *ngIf="options && specificOptions && product">
  <ng-container *ngIf="specificOptions?.layout === 'card'; then cards; else list">
  </ng-container>
</div>
<!-- CARD VIEW -->
<ng-template #cards>
  <div class="product-item-top-icons-wrapper"
       fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutGap.xs="15px"
       fxLayoutGap.sm="10px">
    <div class="text-center"
         fxFlex="30"
         fxFlex.sm="60"
         fxFlex.xs="60">
      <span *ngFor="let star of [1, 2, 3, 4, 5]">
        <mat-icon color="warn" *ngIf="star <= product.score">star_rate</mat-icon>
        <mat-icon color="primary" *ngIf="star > product.score || !product.score">star_border</mat-icon>
      </span>
    </div>
    <div class="icon-wrapper"
         fxFlex="10"
         fxFlexOffset="40"
         fxFlexOffset.sm="0"
         fxFlexOffset.xs="0">
      <button type="button"
              [title]="'cta.add_a_comment'|translate"
              mat-button
              (click)="toggleComment(product)">
        <mat-icon [matBadge]="product?.commented ? product.commented.toString(10) : ''"
                  matBadgePosition="above after">
          comment
        </mat-icon>
      </button>
    </div>
    <div class="text-center"
         fxFlex="10"
         *ngIf="specificOptions?.favorite?.display_icon === true">
      <button class="icon-wrapper"
              type="button"
              mat-button
              [title]="'cta.add_to_favorite'|translate"
              (click)="toggleFavorite(product, favoriteProduct)"
              [matTooltipDisabled]="matTooltipFavorite.length === 0"
              [matTooltip]="matTooltipFavorite|translate"
              *ngIf="authenticated">
        <mat-icon color="primary"
                  *ngIf="!favoriteProduct?.key">favorite_border
        </mat-icon>
        <mat-icon color="accent"
                  *ngIf="favoriteProduct?.key">favorite
        </mat-icon>
      </button>
    </div>
    <div class="text-center"
         fxFlex="10">
      <button class="icon-wrapper pointer"
              mat-button
              type="button"
              [disabled]="isLoadingCartAdd"
              [title]="'cta.add_to_cart'|translate"
              [class.background-primary]="inCart"
              (click)="addToCart(product)"
              [matTooltipDisabled]="matTooltipCart.length === 0"
              [matTooltip]="matTooltipCart|translate">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </div>

  <a [attr.data-content]="product?.name"
     [attr.title]="'cta.show-product'|translate"
     class="card-img-container product-link"
     fxLayout="row"
     [routerLink]="['/products/detail', product.key]|localize">
    <div class="card-wrapper card-img-top"
         fxFlex="100">
      <app-storage-image [panelStyle]="{height: '200px', width: 'auto'}"
                         [panelClass]="'scale'"
                         [matCardImage]="false"
                         [downloadURL]="product.image1"></app-storage-image>
    </div>
    <div class="card-discount-wrapper" *ngIf="product">
      <div class="card-discount" *ngIf="getDiscountRate(product) !== 0">
        {{ getDiscountRate(product) }}%
      </div>
    </div>
  </a>

  <div class="card-product-new text-center"
       fxLayout="row">
    <div fxFlex="50"
         fxFlexOffset="25"
         *ngIf="product.is_new === true">
      <div fxLayout="row">
        <div class="product-new"
             fxFlex="70">
          <span>{{ 'product-item.new.text'|translate }}</span>
        </div>
        <div class="product-picto"
             fxFlex="30">
          <mat-icon color="primary">notifications</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="card-name flex-container mt-2"
       fxLayout="row"
       fxLayoutAlign="center stretch">
    <div fxFlex="90"
         fxFlexOffset="10"
         fxFlexOffset.sm="0"
         fxFlexOffset.xs="0">
      <span>
        {{product?.name | uppercase}}
      </span>
    </div>
  </div>

  <div class="product-item-price"
       fxLayout="row"
       fxLayoutAlign="center center">
    <div class="text-center"
         fxFlex.xs="100">
      <p class="product-item-price-value">
        {{ (product?.promo ? product.promo : product?.price) | currency:'EUR' }}
      </p>
    </div>
    <div class="text-center"
         fxFlex.xs="100"
         fxHide.xs
         fxHide.sm
         fxFlex.gt-sm="75"
         fxFlexOffset="5"
         fxFlexOffset.sm="0"
         fxFlexOffset.xs="0">
      <p class="product-item-short-description-text">
        {{product?.short_description | shorten : 100 : '...' }}
      </p>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="50"
         fxFlex.xs="100"
         fxFlexOffset="25"
         fxFlexOffset.xs="0">
      <a [routerLink]="['/products/detail', product.key]|localize"
         [attr.title]="'cta.show-product'|translate"
         class="btn btn-card product-link"
         mat-stroked-button>
        {{ 'cta.show-product'|translate }}
      </a>
    </div>
  </div>
</ng-template>

<!-- VUE LISTE -->
<ng-template #list>
  <div class="list-view"
       fxLayout="row"
       fxLayout.xs="row wrap"
       fxLayoutAlign="start stretch">
    <!--Bloc icon wrapper-->
    <div fxFlex="20"
         fxFlex.xs="100"
         fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap.xs="15px"
         fxLayoutGap.sm="10px">
      <div class="text-center"
           fxFlex="50"
           fxFlex.sm="60"
           fxFlex.xs="60">
        <span *ngFor="let star of [1, 2, 3, 4, 5]">
          <mat-icon color="warn" *ngIf="star <= product.score">star_rate</mat-icon>
          <mat-icon color="primary" *ngIf="star > product.score || !product.score">star_border</mat-icon>
        </span>
      </div>
      <div class="icon-wrapper"
           fxFlex="15">
        <button type="button"
                [title]="'cta.add_a_comment'|translate"
                mat-button
                (click)="toggleComment(product)">
          <mat-icon [matBadge]="product?.commented ? product.commented.toString(10) : ''"
                    matBadgePosition="above after">
            comment
          </mat-icon>
        </button>
      </div>
      <div class="text-center"
           fxFlex="15"
           *ngIf="specificOptions?.favorite?.display_icon === true">
        <button class="icon-wrapper"
                type="button"
                mat-button
                [title]="'cta.add_to_favorite'|translate"
                (click)="toggleFavorite(product, favoriteProduct)"
                [matTooltipDisabled]="matTooltipFavorite.length === 0"
                [matTooltip]="matTooltipFavorite|translate"
                *ngIf="authenticated">
          <mat-icon color="primary"
                    *ngIf="!favoriteProduct?.key">favorite_border
          </mat-icon>
          <mat-icon color="accent"
                    *ngIf="favoriteProduct?.key">favorite
          </mat-icon>
        </button>
      </div>

      <div class="text-center"
           fxFlex="15">
        <button class="icon-wrapper pointer"
                mat-button
                type="button"
                [disabled]="isLoadingCartAdd"
                [title]="'cta.add_to_cart'|translate"
                [class.background-primary]="inCart"
                (click)="addToCart(product)"
                [matTooltipDisabled]="matTooltipCart.length === 0"
                [matTooltip]="matTooltipCart|translate">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>

    </div>

    <a fxFlex="10"
       fxFlex.xs="30"
       [attr.data-content]="product?.name"
       [attr.title]="'cta.show-product'|translate"
       class="card-img-container"
       fxLayout="row"
       fxLayoutAlign="center center"
       [routerLink]="['/products/detail', product.key]|localize">
      <div class="card-wrapper card-img-top"
           fxFlex="100">
        <app-storage-image [panelStyle]="{height: '90px', width: 'auto'}"
                           [panelClass]="'scale'"
                           [matCardImage]="false"
                           [downloadURL]="product.image1"></app-storage-image>
      </div>
    </a>

    <div fxFlex="30"
         fxHide.xs
         fxLayout="row"
         fxLayoutAlign="center center">
      <a class="product-link text-center"
         [routerLink]="['/products/detail', product.key]|localize"
         [attr.title]="'cta.show-product'|translate">
        <span>{{product?.name | uppercase}}</span>
      </a>
    </div>

    <div fxHide.xs
         fxFlex="15"
         class="product-item-price"
         fxLayout="row"
         fxLayoutAlign="center center">
      <div class="text-center"
           fxFlex.xs="100">
        <p class="product-item-price-value">
          {{ (product?.promo ? product.promo : product?.price) | currency:'EUR' }}
        </p>
      </div>
    </div>


    <div fxHide.gt-xs
         fxFlex.xs="43"
         fxLayout="row"
         fxLayoutAlign="center center">
      <a class="product-link text-center"
         [routerLink]="['/products/detail', product.key]|localize"
         [attr.title]="'cta.show-product'|translate">
        <span>
          {{product?.name | uppercase}}
        </span>
      </a>
    </div>

    <div fxFlex.xs="27"
         fxHide.gt-xs
         class="product-item-price-xs"
         fxLayout="row"
         fxLayoutAlign="center center">
      <div class="text-center"
           fxFlex.xs="100">
        <p class="product-item-price-value">
          {{ (product?.promo ? product.promo : product?.price) | currency:'EUR' }}
        </p>
      </div>
    </div>


    <div fxFlex="25"
         fxHide.xs
         fxLayout="row"
         fxLayoutAlign="center center">
      <div fxFlex="50"
           fxFlex.xs="100"
           fxFlexOffset="25"
           fxFlexOffset.xs="0">
        <ng-container *ngIf="product?.ordered_by_month; else notOrdered">
          <a [routerLink]="['/products/detail', product.key]|localize"
             [attr.title]="'cta.show-product'|translate"
             class="btn btn-card product-link"
             mat-stroked-button
             [matBadge]="getOrderedNumber()"
             matBadgePosition="above after">
            {{ 'cta.show-product'|translate }}
          </a>
        </ng-container>
        <ng-template #notOrdered>
          <ng-container *ngIf="product?.ordered_by_month">
            <a [routerLink]="['/products/detail', product.key]|localize"
               [attr.title]="'cta.show-product'|translate"
               class="btn btn-card product-link"
               mat-stroked-button>
              {{ 'cta.show-product'|translate }}
            </a>
          </ng-container>
        </ng-template>
      </div>
    </div>

  </div>
</ng-template>
