.product-item {
  height: 500px;

  // BLOC ICONS ACTION
  .product-item-top-icons-wrapper {
    height: 70px;
    position: relative;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  // BLOC CARD
  .card-img-container {
    height: 200px;
    position: relative;
    text-align: center;
    cursor: pointer;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .card-wrapper {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-flex-line-pack: center;
      -ms-flex-pack: center;
      align-self: center;
      margin: 0 auto;
      width: 100%;
    }

    .card-discount-wrapper {
      position: absolute;
      height: 100px;
      width: 100px;
      bottom: -10px;
      left: 15px;
      z-index: 200;
      display: flex;
      justify-content: left;

      .card-discount {
        width: 100px;
        height: 100px;
        font-size: 1.875rem;
        letter-spacing: -1px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    }
  }

  // BLOC NEWS
  .card-product-new {
    height: 2.125rem;
    padding: 0.125rem 0;

    .product-new {
      height: 1.875rem;
      font-size: 0.8125rem;
      line-height: 1.875rem;
    }

    .product-picto {
      height: 1.875rem;
      font-size: 0.8125rem;
      line-height: 1.875rem;
      border: 1px solid;
    }
  }

  .card-name {
    text-align: center;
    cursor: pointer;
  }

  .product-item-price {
    height: 4rem;
    line-height: 4rem;

    .product-item-short-description-text {
      text-align: left;
      font-size: 1rem;
      line-height: 1rem;
      height: auto;
      letter-spacing: -1px;
      opacity: .5;
    }

    .product-item-price-value {
      font-size: 1.875rem;
      letter-spacing: -1px;
    }
  }

  .btn-card {
    width: 100%;
    font-size: 0.9375rem;
    padding: 10px 20px;
  }

  // view LIST
  .list-view {
    height: 100px;
    // BLOC DISCOUNT
    .card-discount {
      span {
        font-size: 1.875rem;
      }
    }

    // bloc PRICE
    .list-price {
      .price-text {
        font-size: 1rem;
        opacity: .5;
      }

      .price-value {
        margin-left: .5rem;
        font-size: 1.5rem;
        letter-spacing: -1px;
      }
    }
  }
}
