<mat-toolbar color="warn">
  <a mat-button color="primary" [routerLink]="['/admin']">Back office</a>
  <a mat-button color="primary" [routerLink]="['/admin/product']">Products</a>
  <a mat-button color="primary" [routerLink]="['/admin/navigation/selection']">Selection</a>
  <a mat-button color="primary" [routerLink]="['/admin/navigation/category']">Category</a>
  <a mat-button color="primary" [routerLink]="['/admin/cms']">Cms</a>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class='selected-column' *ngIf="selected">
        <h4>Selections <small>({{selected?.length}})</small></h4>
      </div>
    </div>
    <div class="col-6">
      <button role="button" aria-label="Publier une categorie" mat-raised-button color="primary" (click)="publishCategory()" *ngIf="selected && selected?.length > 0">
        <mat-icon aria-label="Published">done</mat-icon>
        Publier
      </button>
      <button role="button" aria-label="Supprimer une categorie" mat-raised-button color="accent" (click)="deleteCategory()" *ngIf="selected && selected?.length > 0">
        <mat-icon aria-label="delete">delete</mat-icon>
        Supprimer
      </button>
      <a [routerLink]="['/admin/navigation/category/add']" mat-raised-button color="primary">
        <mat-icon aria-label="add">add</mat-icon>
        Ajouter
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <ngx-datatable class="material striped scrolling-categories" [columnMode]="'force'" [rows]="categories" [columns]="columns" [headerHeight]="headerHeight" [rowHeight]="rowHeight" [loadingIndicator]="isLoading" [scrollbarV]="true" (scroll)="onScroll($event.offsetY)" [selected]="selected" [selectionType]="'checkbox'" (activate)="onActivate($event)" (select)='onSelect($event)'>
      </ngx-datatable>
      <ng-template #checkboxHeader ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
      </ng-template>
      <ng-template #checkboxCell ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
      </ng-template>
    </div>
  </div>
</div>
