<div class="card-welcome">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 class="welcome-title size--all-xl">
          Tu as déjà un pull moche ? Envoie-nous ta photo et essaie d'obtenir le meilleur score !
        </h1>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
<div class="card-container">
  <app-product-item *ngFor="let product of products$ | async" class="grid-tile-item" [product]="product" (updatedProduct)="updateProduct($event)"></app-product-item>
</div>
<div class="text-right">
  <button role="button" aria-label="Ajouter un nouveau pull moche" mat-mini-fab class="absolute-fab pulse" (click)="addProduct()">
    <mat-icon>add</mat-icon>
  </button>
</div>
