<mat-toolbar color="white"
             fxLayout="row"
             fxLayoutAlign="space-between center">
  <a (click)="toggleSideNav()"
     mat-button
     id="burger-nav">
    <mat-icon>menu</mat-icon>
  </a>

  <a [routerLink]="['/']"
     class="brand-logo center cursor-pointer">
    <img src="../../../assets/images/logo_blue.svg" alt="rentand.com">
  </a>

  <div class="user_wrapper">
    <ng-container *ngIf="(authenticated$ | async) === false">
      <a class="text-decoration-none"
         mat-button
         color="primary"
         routerLink="/secure/login"
         i18n="login label">
        Login
      </a>
    </ng-container>

    <ng-container *ngIf="(authenticated$|async) && user">
      <a mat-raised-button
         routerLink="/account"
         *ngIf="user?.user_metadata?.firstname && user?.user_metadata?.lastname">
          <span class="text-primary">
            <img class="img-rounded account-toolbar-icon"
                 *ngIf="user?.user_metadata?.media?.url"
                 src="{{user?.user_metadata.media.url}}">
            <span class="ml-1">{{user.user_metadata?.firstname}} {{user.user_metadata?.lastname}}</span>
          </span>
      </a>
      <a (click)="openCart()"
         mat-raised-button
         [class.pulse]="!isCartEmpty()"
         [class.orange]="!isCartEmpty()" [class.white-text]="!isCartEmpty()">
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="!isCartEmpty()" class="text-white cart-item-number">{{getCartItemsNumber()}}</span>
      </a>
    </ng-container>
  </div>

</mat-toolbar>
