<div class="mat-checkbox-wrapper" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="checkbox-wrapper" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px"
       fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutGap.xs="10px">
    <mat-card class="mat-card">
      <mat-card-content>
        <h2 class="example-h2">Checkbox configuration</h2>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
        </section>

        <section class="example-section">
          <label class="example-margin">Align:</label>
          <mat-radio-group [(ngModel)]="align">
            <mat-radio-button class="example-margin" value="start">Start</mat-radio-button>
            <mat-radio-button class="example-margin" value="end">End</mat-radio-button>
          </mat-radio-group>
        </section>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
        </section>
      </mat-card-content>
    </mat-card>

    <mat-card class="result mat-card">
      <mat-card-content>
        <h2 class="example-h2">Result</h2>

        <section class="example-section">
          <mat-checkbox
            class="example-margin"
            [(ngModel)]="checked"
            [(indeterminate)]="indeterminate"
            [disabled]="disabled">
            I'm a checkbox
          </mat-checkbox>
        </section>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="checkbox-form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px"
       fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutGap.xs="10px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h4>Form Group with checkbox</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form">
          <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline">
            <input matInput placeholder="Colors" style="display: none">
            <div class="checkbox-group" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
              <mat-checkbox class="colors" *ngFor="let color of colors" [formControlName]="color">
                {{ color }}
              </mat-checkbox>
            </div>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Form Result
      </mat-card-title>
      <mat-card-content>
        {{ form.value | json }}
      </mat-card-content>
    </mat-card>
  </div>

</div>
