<div class="wrapper product-layout"
     fxLayoutGap="10px 10px"
     fxLayoutAlign="center stretch"
     fxLayoutAlign.xs="space-around stretch"
     fxLayout="column wrap"
     fxLayout.xs="column wrap">

  <div *ngIf="product"
       angulartics2On="click"
       angularticsAction="hoveredOverProductDetail"
       [angularticsCategory]="'product.detail'">
    <div class="py-5"
         fxLayout="row"
         fxLayoutAlign="space-around stretch"
         fxLayout.xs="column"
         fxLayoutAlign.xs="center center">
      <div class="title">
        <span *ngIf="product?.creator">
          {{ product.creator }}
        </span>
        <h2 fxLayout="row"
            fxLayoutAlign="end stretch">
          {{ brand?.name }}
        </h2>
        <h3 class="main-title">
          {{ product.name }}
        </h3>
        <!--<app-product-description [description]="product?.description"></app-product-description>-->
      </div>
      <div>
        <div class="score-wrapper px-5"
             fxLayout="row"
             fxLayoutAlign="end center"
             fxLayoutAlign.xs="center center">
          <!--<app-product-action class="app-product-action" [product]="product"-->
                              <!--(updateScore)="updateScoreProduct($event)"></app-product-action>-->
        </div>
        <app-image class="app-image"
                   mat-card-image
                   [key]="product.images[0]"
                   [resize]="resizedImage"
                   *ngIf="product.images[0]"></app-image>
      </div>
    </div>
  </div>
</div>
