<div class="offer-edit-wrapper"
     fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="20px">
  <div class="main-title"
       fxLayout="row"
       fxLayoutAlign="center stretch">

    <h1>{{ 'offer-edit.title'|translate }}</h1>
  </div>
  <div class="form-edit-wrapper"
       fxLayout="row"
       fxLayoutAlign="center stretch">

    <form [formGroup]="form" (ngSubmit)="onSubmit($event)" fxLayout="column" fxLayoutAlign="start center"
          fxLayoutGap="20px">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2 class="text-capitalize">{{ 'offer-edit.offer.title'|translate }}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-select placeholder="{{ 'offer-edit.placeholder.brand'|translate }}"
                        [formControl]="form.controls.brand"
                        (change)="onBrandChange($event)">
              <mat-option *ngFor="let brand of brands"
                          [value]="brand">
                {{brand.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.brand.hasError('required')">
              {{ 'error.required.brand'|translate }}
            </mat-error>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="{{ 'offer-edit.placeholder.model'|translate }}"
                        [formControl]="form.controls.model"
                        (change)="onModelChange($event)">
              <mat-option *ngFor="let model of models"
                          [value]="model">
                {{model.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.model.hasError('required')">
              {{ 'error.required.model'|translate }}
            </mat-error>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="{{ 'offer-edit.placeholder.product'|translate }}"
                        [formControl]="form.controls.product">
              <mat-option *ngFor="let product of products"
                          [value]="product">
                {{product.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.product.hasError('required')">
              {{ 'error.required.product'|translate }}
            </mat-error>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-select [placeholder]="'offer-edit.placeholder.regDate'|translate"
                        [formControl]="form.controls.regDate">
              <mat-option *ngFor="let regDate of regDates | reverse"
                          [value]="regDate">
                {{ regDate }}
              </mat-option>
            </mat-select>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
            <mat-error *ngIf="form.controls.regDate.hasError('required')">
              {{ 'error.required.regDate'|translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select [placeholder]="'offer-edit.placeholder.gearbox'|translate"
                        [formControl]="form.controls.gearbox">
              <mat-option *ngFor="let gearbox of gearboxs"
                          [value]="gearbox">
                {{ gearbox }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [placeholder]="'offer-edit.placeholder.fuel'|translate"
                        [formControl]="form.controls.fuel">
              <mat-option *ngFor="let fuel of fuels"
                          [value]="fuel">
                {{ fuel }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [placeholder]="'offer-edit.placeholder.mileage'|translate"
                        [formControl]="form.controls.mileage">
              <mat-option *ngFor="let mileage of mileages"
                          [value]="mileage">
                {{ mileage }}
              </mat-option>
            </mat-select>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
            <mat-error *ngIf="form.controls.mileage.hasError('required')">
              {{ 'error.required.mileage'|translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
        <textarea matInput
                  name="description"
                  title="description"
                  matTextareaAutosize
                  [placeholder]="'offer-edit.placeholder.description'|translate"
                  [formControl]="form.controls.description">
        </textarea>
            <mat-error *ngIf="!form.controls.description.hasError('required') && form.controls.description.invalid">
              {{ 'error.invalid.description'|translate }}
            </mat-error>
            <mat-error *ngIf="form.controls.description.hasError('required')">
              {{ 'error.required.description'|translate }}
            </mat-error>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   name="price"
                   title="price"
                   type="number"
                   [placeholder]="'offer-edit.placeholder.price'|translate"
                   [formControl]="form.controls.price">
            <mat-icon matSuffix>euro_symbol</mat-icon>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
            <mat-error *ngIf="!form.controls.price.hasError('required') &&
        form.controls.price.invalid &&
        form.controls.price.value <= 0">
              {{ 'error.invalid.price'|translate }}
            </mat-error>
            <mat-error *ngIf="form.controls.price.hasError('required')">
              {{ 'error.required.price'|translate }}
            </mat-error>
          </mat-form-field>
          <div class="mat-form-field negotiable_price my-2">
            <mat-slide-toggle [formControl]="form.controls.negotiable_price">
              {{ 'offer-edit.placeholder.negotiable_price'|translate }}
            </mat-slide-toggle>
          </div>

          <div class="mat-form-field my-4">
            <h3 class="text-capitalize">{{ 'media.upload.title'|translate }} : </h3>

            <app-storage-upload [folder]="'products'"
                                [metadata]="imageStorageConfig"
                                [displayDownloadUrl]="false"
                                (imageChanged)="onImageChange($event)"
                                (imageRefChanged)="onImageRefChanged($event)">
            </app-storage-upload>
            <app-storage-detail [downloadURL]="downloadURL"
                                [height]="250"
            ></app-storage-detail>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2 class="text-capitalize">{{ 'offer-edit.location.title'|translate }}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="map-wrapper">
            <span>{{ 'offer-edit.placeholder.location'|translate }}</span>
            <form class="search-wrapper"
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  fxLayoutGap="20px">
              <mat-form-field class="search-form-field">
                <input matInput
                       type="text"
                       class="search-input"
                       autocomplete="address-level1"
                       [(ngModel)]="address"
                       (keyup.enter)="onAddressChange(address)"
                       [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <div>
                <button type="button"
                        mat-raised-button
                        role="button"
                        color="primary"
                        (click)="onAddressChange(address)">
                  {{ 'cta.search'|translate }}
                </button>
              </div>
            </form>

            <agm-map
              class="agm-map"
              [latitude]="mapConfig.lat"
              [longitude]="mapConfig.lng"
              [streetViewControl]="mapConfig.streetViewControl"
              [zoom]="mapConfig.zoom"
              [zoomControl]="mapConfig.zoomControl"
              (mapClick)="onMapClick($event)">
              <agm-marker
                [latitude]="marker.lat"
                [longitude]="marker.lng"
                [label]="marker.label|translate"
                [markerDraggable]="marker.draggable"
                (dragEnd)="markerDragEnd(marker)"
                *ngIf="marker">

                <agm-info-window>
                  <strong>{{ marker.label|translate }}</strong>
                </agm-info-window>

              </agm-marker>
            </agm-map>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
            <mat-error
              *ngIf="form['controls'].location['controls'].latitude.dirty &&
          form['controls'].location['controls'].longitude.dirty &&
          !form['controls'].location['controls'].latitude.hasError('required') &&
          !form['controls'].location['controls'].longitude.hasError('required') && (
        form['controls'].location['controls'].latitude.invalid || form['controls'].location['controls'].longitude.invalid)">
              {{ 'error.invalid.location'|translate }}
            </mat-error>
            <!--<mat-error-->
            <!--*ngIf="(!form['controls'].location['controls'].longitude.pristine &&-->
            <!--!form['controls'].location['controls'].longitude.pristine) &&-->
            <!--form['controls'].location['controls'].latitude.hasError('required') ||-->
            <!--form['controls'].location['controls'].longitude.hasError('required')">-->
            <!--{{ 'error.required.location'|translate }}-->
            <!--</mat-error>-->
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2 class="text-capitalize">{{ 'offer-edit.title'|translate }}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput
                   name="username"
                   title="username"
                   type="text"
                   [placeholder]="'offer-edit.placeholder.username'|translate"
                   [formControl]="form['controls'].user['controls'].username">
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
            <mat-error *ngIf="!form['controls'].user['controls'].username.hasError('required') &&
          form['controls'].user['controls'].username.invalid">
              {{ 'error.invalid.username'|translate }}
            </mat-error>
            <mat-error *ngIf="form['controls'].user['controls'].username.hasError('required')">
              {{ 'error.required.username'|translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   name="email"
                   title="email"
                   type="email"
                   autocomplete="email"
                   [placeholder]="'offer-edit.placeholder.email'|translate"
                   [formControl]="form['controls'].user['controls'].email">
            <mat-icon matSuffix>@</mat-icon>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
            <mat-error *ngIf="!form['controls'].user['controls'].email.hasError('required') &&
        form['controls'].user['controls'].email.invalid && form['controls'].user['controls'].email.value <= 0">
              {{ 'error.invalid.email'|translate }}
            </mat-error>
            <mat-error *ngIf="form['controls'].user['controls'].email.hasError('required')">
              {{ 'error.required.email'|translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   name="phone"
                   title="phone"
                   type="tel"
                   autocomplete="tel"
                   autocomplete="tel-national"
                   [placeholder]="'offer-edit.placeholder.phone'|translate"
                   [formControl]="form['controls'].user['controls'].phone">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>{{ 'form.required'|translate }}</mat-hint>
            <mat-error *ngIf="!form['controls'].user['controls'].phone.hasError('required') &&
        form['controls'].user['controls'].phone.invalid &&
        form['controls'].user['controls'].phone.value <= 0">
              {{ 'error.invalid.phone'|translate }}
            </mat-error>
            <mat-error *ngIf="form['controls'].user['controls'].phone.hasError('required')">
              {{ 'error.required.phone'|translate }}
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <div class="button-wrapper mb5" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="50px">
        <button mat-raised-button color="warn" type="button" (click)="location.back()" role="link">
          {{ 'cta.cancel'|translate }}
        </button>
        <button [disabled]="isSaving" mat-raised-button color="primary" type="submit" role="button">
          {{ 'cta.save'|translate }}
        </button>
      </div>
    </form>
  </div>
</div>
