<div class="account-submodule-view">
  <div class="container">
    <div class="favorite-wrapper">
      <div class="favorite-header">
        <div class="row heading-title">
          <div class="col-lg-12 offset-lg-0 col-md-10 offset-md-1col-10 offset-1 heading-wrapper">
            <h2 class="title text-uppercase">{{ 'favorite-list.title'|translate }}</h2>
          </div>
        </div>
      </div>

      <div class="row favorite-content">

        <div class="col-lg-12 offset-lg-0 col-md-10 offset-md-1 col-10 offset-1 text-center"
             *ngIf="isLoading">
          <app-loader></app-loader>
        </div>

        <div class="col-lg-12 offset-lg-0 col-md-10 offset-md-1 col-10 offset-1 text-center"
             *ngIf="favorites.length === 0 && !isLoading">
          {{ 'favorite-list.error.empty'|translate }}
        </div>


        <div class="col-lg-12 offset-lg-0 col-md-10 offset-md-1 col-10 offset-1"
             *ngIf="favorites.length && !isLoading">
          <app-favorite-item *ngFor="let favorite of favorites | orderBy: '-created_at.seconds'"
                             [favorite]="favorite"></app-favorite-item>
        </div>
      </div>

    </div>
  </div>
</div>
