<div class="account-submodule-view">
  <div class="container">
    <div class="favorite-wrapper">
      <div class="favorite-header">
        <div class="heading-title"
             fxLayout="row">
          <div class="heading-wrapper"
               fxFlex="80"
               fxFlexOffset="10">
            <h2 class="title text-uppercase text-center">
              {{ 'favorite-list.title'|translate }}
            </h2>
          </div>
        </div>
      </div>

      <div class="favorite-content"
           fxLayout="row"
           fxLayoutAlign="center stretch">

        <div class="text-center"
             fxFlex="80"
             fxFlexOffset="10"
             *ngIf="isLoading">
          <app-loader></app-loader>
        </div>

        <div class="text-center"
             fxFlex="80"
             fxFlexOffset="10"
             *ngIf="favorites.length === 0 && !isLoading">
          {{ 'favorite-list.error.empty'|translate }}
        </div>


        <div class="favorite-item-wrapper"
             fxFlex="80"
             fxFlexOffset="10"
             *ngIf="favorites.length && !isLoading">
          <app-favorite-item *ngFor="let favorite of favorites | orderBy: '-created_at.seconds'"
                             [favorite]="favorite"></app-favorite-item>
        </div>
      </div>

    </div>
  </div>
</div>
