<div class="cart-wrapper"
     fxLayout="row wrap"
     fxLayoutAlign="center stretch">
  <mat-horizontal-stepper [linear]="true"
                          #stepper="matHorizontalStepper">
    <mat-step>
      <ng-template matStepLabel>{{ 'cart.title.cart'|translate }}</ng-template>
      <app-cart-edit (submitted)="onSaveCart($event)"></app-cart-edit>
    </mat-step>
    <mat-step *ngIf="!(userService.getAuthState() | async)">
      <ng-template matStepLabel>{{ 'cart.title.login'|translate }}</ng-template>
      <div class="login-wrapper" *ngIf="!(userService.getAuthState() | async)">
        <button mat-raised-button
                color="accent"
                type="button"
                (click)="onLogin()"
                [innerHtml]="'menu.connection.title'|translate">
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'cart.title.payment'|translate }}</ng-template>
      <app-cart-payment [cart]="cart" (paid)="onPaid($event)"></app-cart-payment>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'cart.title.confirmation'|translate }}</ng-template>
      <app-cart-confirmation></app-cart-confirmation>
    </mat-step>
  </mat-horizontal-stepper>
</div>
