<div class="articles-wrapper">
  <div class="article-header"
       fxLayout="row"
       fxLayoutAlign="space-around stretch"
       fxLayoutGap="30px">
    <div class="card-wrapper p-2">

      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>
            <h4>
              {{ 'admin.title.article.title'|translate }}
            </h4>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="card-wrapper p-2">
      <mat-card class="mat-card">
        <mat-card-content>
          <div class='selected-column'>
            <h4>
              {{ 'admin.title.article.selection'|translate }}
              <small>({{selected?.length}})</small>
            </h4>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="article-actions">
            <button role="button"
                    [attr.aria-label]="'cta.delete'|translate"
                    mat-raised-button
                    color="accent"
                    (click)="deleteArticles()" *ngIf="selected && selected.length > 0">
              <mat-icon aria-label="delete">delete</mat-icon>
              {{ 'cta.delete'|translate }}
            </button>

          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="article-content"
       fxLayout="row"
       fxLayoutAlign="center stretch">
    <ngx-datatable class="material striped scrolling-articles"
                   [columnMode]="'force'"
                   [rows]="articles"
                   [columns]="columns"
                   [headerHeight]="headerHeight"
                   [rowHeight]="rowHeight"
                   [loadingIndicator]="isLoading"
                   [scrollbarV]="true"
                   (scroll)="onScroll($event.offsetY)"
                   [selected]="selected"
                   [selectionType]="'checkbox'"
                   (activate)="onActivate($event)"
                   (select)='onSelect($event)'>
    </ngx-datatable>

  </div>
</div>

<button color="primary" type="button" aria-label="Ajouter un attribut" [routerLink]="['/admin/article/add']"
        mat-mini-fab class="absolute-fab pulse">
  <mat-icon>add</mat-icon>
</button>

<ng-template #checkboxHeader ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
             let-selectFn="selectFn">
  <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
</ng-template>
<ng-template #checkboxCell ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
             let-onCheckboxChangeFn="onCheckboxChangeFn">
  <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
</ng-template>
<ng-template #actionsCell let-row="row">
  <a (click)="confirmDelete(row)">
    <mat-icon>delete</mat-icon>
  </a>
</ng-template>
<ng-template #publicationCell let-value="value" let-row="row" ngx-datatable-cell-template>
  <mat-radio-group [selected]="value ? published : unpublished" class="publication-radio-group mobile-hidden"
                   [value]="value" (change)="updateArticlePublication(row, $event)">
    <mat-radio-button #published class="publication-radio-button" [value]="true" color="primary">
      <span class="text-success">Publié</span>
    </mat-radio-button>
    <mat-radio-button #unpublished class="publication-radio-button" [value]="false" color="accent">
      <span class="text-danger">Non publié</span>
    </mat-radio-button>
  </mat-radio-group>
</ng-template>
