@import '../../../../../app-recipe/scss/theme/theme';

.recipe-title-wrapper {
  height: 21rem;

  &.xs {
    &.normal {
      height: 8rem;
    }

    &.sticky {
      height: 64px;
      overflow-y: hidden;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  h1 {
    margin-bottom: 0;
    &.xs {
      font-size: 1rem;
      letter-spacing: 1px;
    }
  }

  .separator {
    line-height: 0;
    font-size: 5rem;
    text-align: center;
    letter-spacing: -30px;
    color: mat-color($white);

    &.xs {
      font-size: 2rem;
      letter-spacing: -4px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .cook-time {
    color: mat-color($white);

    &.xs {
      font-size: 1rem;
    }
  }

  .stepper {
    .mat-stepper-horizontal {
      color: mat-color($primary);
      background-color: transparent;

      /deep/ .mat-step-header {
        padding: 0;
        width: 24px;

        .mat-step-icon {
          background-color: mat-color($primary);
          margin-right: 8px;
        }
      }

      /deep/ .mat-stepper-horizontal-line {
        border-top-width: 8px;
        border-top-color: mat-color($primary);
      }

      /deep/ .mat-horizontal-content-container {
        padding: 0;
      }
    }

    &.xs {
      /deep/ .mat-step-header {
        height: 2rem;
      }
    }
  }
}
