<div class="recipe-title-wrapper"
     [style.background-color]="recipe.color"
     [ngClass.xs]="{'py-3': !showStepper, 'py-0': showStepper, xs: true, sticky: showStepper, normal: !showStepper}"
     [ngClass.gt-sm]="{'py-5': !showStepper, 'py-3': showStepper, sticky: showStepper}"
     *ngIf="recipe && recipe.color"
     [@stepperAnimation]="showStepper ? 'show' : 'hide'">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-white"
          [ngClass.xs]="{'py-2' : !showStepper, 'py-0': showStepper, xs: true}"
          [ngClass.gt-sm]="{'py-5' : !showStepper, 'py-3': showStepper}">
        {{ recipe.name }}
      </h1>
    </div>
  </div>

  <div class="separator"
       [ngClass.xs]="{'pb-3': true, xs: true}"
       [ngClass.gt-sm]="{'pb-5' : true}"
       fxLayout="row"
       fxLayoutAlign="center stretch"
       *ngIf="!showStepper">
    -------------
  </div>

  <div class="row" *ngIf="!showStepper">
    <div class="col-12">
      <h2 class="cook-time text-center"
          [ngClass.xs]="{xs: true}">
        <span>
          {{ 'recipe-detail.title.yield'|translate }}
        </span>
        {{ recipe.yield }}
      </h2>
    </div>
  </div>

  <div fxLayout="row"
       fxLayoutAlign="center stretch">
    <div class="stepper"
         fxFlex="50"
         fxFlex.xs="90"
         [ngClass.xs]="{xs: true}"
         *ngIf="showStepper">
      <mat-horizontal-stepper linear>
        <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
        <mat-step *ngFor="let i of steps"></mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
