<mat-card class="item-card" *ngIf="product" angulartics2On="mouseover" angularticsAction="hoveredOverProductItem" [angularticsCategory]="'product.item'">
  <mat-card-header class="item-card-header">
    <mat-card-title class="item-card-title" (click)="productDetail()" angulartics2On="click" angularticsAction="clickedOnTitleShowProduct" [angularticsCategory]="'product.detail'">
      <h2 class="item-card-name size--all-xl">
        {{ product?.name | truncate: 30: '...'}}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>test</p>
  </mat-card-content>
</mat-card>
