<mat-card class="item-card" *ngIf="product" angulartics2On="mouseover" angularticsAction="hoveredOverProductItem" [angularticsCategory]="'product.item'">
  <mat-card-header class="item-card-header">
    <mat-card-title class="item-card-title" (click)="productDetail()" angulartics2On="click" angularticsAction="clickedOnTitleShowProduct" [angularticsCategory]="'product.detail'">
      <h2 class="item-card-name size--all-xl">
        {{ product?.name | shorten: 30: '...'}}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <app-image mat-card-image [key]="image" [resize]="{height: 200}" *ngIf="image">
  </app-image>
  <mat-card-content>
  </mat-card-content>
</mat-card>
