<mat-toolbar color="warn" fxLayout="row" fxLayout.xs="column">
  <a mat-button color="primary" [routerLink]="['/admin/product']">Products</a>
  <a mat-button color="primary" [routerLink]="['/admin/navigation/category']">Categories</a>
  <a mat-button color="primary" [routerLink]="['/admin/navigation/selection']">Selections</a>
  <a mat-button color="primary" [routerLink]="['/admin/post']">Articles</a>
  <a mat-button color="primary" [routerLink]="['/admin/cms']">Cms</a>
  <a mat-button color="primary" [routerLink]="['/admin/partner']">Partners</a>
  <a mat-button color="primary" [routerLink]="['/admin/offer']">Offers</a>
</mat-toolbar>
