<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center stretch"
  fxLayoutGap="20px"
  class="admin-home-toolbar">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3><a class="link" [routerLink]="['/admin/product']|localize">{{ 'admin.cta.product'|translate }}</a></h3>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3><a class="link" [routerLink]="['/admin/category']|localize">{{ 'admin.cta.category'|translate }}</a></h3>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3><a class="link" [routerLink]="['/admin/selection']|localize">{{ 'admin.cta.selection'|translate }}</a>
        </h3>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3><a class="link" [routerLink]="['/admin/map']|localize">{{ 'admin.cta.map'|translate }}</a></h3>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3><a class="link" [routerLink]="['/admin/article']|localize">{{ 'admin.cta.article'|translate }}</a></h3>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3><a class="link" [routerLink]="['/admin/cms']|localize">{{ 'admin.cta.cms'|translate }}</a></h3>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3><a class="link" [routerLink]="['/admin/partner']|localize">{{ 'admin.cta.partner'|translate }}</a></h3>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3><a class="link" [routerLink]="['/admin/offer']|localize">{{ 'admin.cta.offer'|translate }}</a></h3>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

</div>
