<div class="social_wrapper container-fluid bg-white">
  <div class="row d-flex justify-content-center">
    <a class="cursor-pointer" href="https://www.facebook.com/rentand">
      <img src="../../../../assets/images/facebook-logo.svg"/></a>
    <a class="cursor-pointer" href="https://twitter.com/myrentand/rentand">
      <img src="../../../../assets/images/twitter-logo.svg"/></a>
    <a class="cursor-pointer" href="https://www.instagram.com/rentand/">
      <img src="../../../../assets/images/instagram-logo.svg"/></a>
  </div>
</div>
