<section class="pricing-section">
  <div fxLayout="row" fxLayoutAlign="center stretch">
    <form [formGroup]="form"
          (ngSubmit)="save()">
      <mat-card class="plan-pricing text-center p-0 mat-card">
        <mat-card-title class="light-gray mat-card-title">
          <div class="card-title-text">
            <div class="cart-title-heading">{{ 'pricing3.title' |translate }}</div>
          </div>
        </mat-card-title>
        <mat-card-content class="mat-card-content">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'pricing3.form.label.phone'|translate }}</mat-label>
            <input matInput
                   [placeholder]="'pricing3.form.placeholder.phone'|translate"
                   formControlName="phone">
            <mat-error *ngIf="form.get('phone').invalid && form.get('phone').value.length === 0"
                       [innerHtml]="'pricing3.form.required.phone'|translate"></mat-error>
            <mat-error *ngIf="form.get('phone').invalid && form.get('phone').value.length > 0"
                       [innerHtml]="'pricing3.form.invalid.phone'|translate"></mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <mat-divider aria-orientation="horizontal"
                       class="mat-divider"
                       role="separator"></mat-divider>
          <button class="text-uppercase"
                  type="submit"
                  [disabled]="isSaving"
                  color="accent"
                  mat-raised-button>
            {{ 'cta.recall'|translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</section>
