<footer class="page-footer footer-fixed bg-primary mb-0">
  <a routerLink="/">
    <img id="logo_alone" src="../../../assets/images/logo_alone.png"/>
  </a>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="row d-flex d-md-none mt-1"></div>
        <h5 class="text-white text-decoration-none">
          <img src="../../../assets/images/logo_white_no_icon.png" alt="rentand" class="m-0">
        </h5>
        <p class="text-white text-decoration-none">
          <a class="text-white text-decoration-none" href="https://rentand.com/fr/">Accueil</a>
          |
          <a class="text-white text-decoration-none" href="https://rentand.com/fr/cgu">CGU</a>
          |
          <a class="text-white text-decoration-none" href="https://rentand.com/fr/cgv">CGV</a>
          |
          <a class="text-white text-decoration-none" href="https://rentand.com/fr/cgv">Contact</a>
          |
          <a class="text-white text-decoration-none" href="https://rentand.com/fr/cgv">Devenir rentand</a>
          |
          <a class="text-white text-decoration-none" href="https://rentand.com/fr/cgv">Contact</a>
        </p>
      </div>
      <div class="col-4 offset-2">
        <ul class="list-unstyled">
          <li>
            <a class="text-white text-decoration-none" href="https://rentand.com/fr/qui-sommes-nous">Qui sommes nous ?</a>
          </li>
          <li>
            <a class="text-white text-decoration-none" href="https://rentand.com/fr/advantages">Avantages et services</a>
          </li>
          <li>
            <a class="text-white text-decoration-none" href="https://rentand.com/fr/faq">FAQ</a>
          </li>
          <li>
            <a class="text-white text-decoration-none" href="https://rentand.com/fr/presse">Presse</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="text-center w-100">© Rentand 2020 - FAIRE DU SPORT COMPORTE DES RISQUES : BONHEUR, PLAISIR, PARTAGE......
      OSEZ VIVRE DANGEREUSEMENT !</p>
  </div>
</footer>
