@import '../../../../app-alr/scss/theme';

.form-wrapper {

  .content-wrapper {
    padding-top: 20px;

    .mat-card {
      min-width: 250px;
      height: 430px;
      .mat-card-header {
        padding: 20px 0;
      }

      .mat-card-content {
      }
      .mat-raised-button {
        background-color: #2e7d32;
        color: mat-color($white);
      }
    }
  }
}
