<div class="header-component">
  <header class="header-component main-wrapper">
    <carousel *ngIf="slidersOptions">
      <slide *ngFor="let slider of slidersOptions.sliders">
        <img class="img-slide"
             [src]="slider.image"
             [alt]="slider.title">

        <div class="container slider-text">
          <div fxLayout="row"
               fxLayoutAlign="start stretch">
            <div class="carousel-caption" *ngIf="slider.title">
              <h2 class="carousel-title">{{ slider.title | translate | uppercase }}</h2>
              <p *ngIf="slider.link" [innerHTML]="slider?.link|translate"></p>
            </div>
          </div>
          <div fxLayout="row"
               fxLayoutAlign="start stretch">
            <a [routerLink]="['/categories/97KyzCJQBcfqHtDRr148'|localize]"
               class="btn-slider"
               mat-flat-button
               color="primary">
              {{ 'cta.btn_slider'|translate }}
            </a>
          </div>
        </div>
      </slide>
    </carousel>
  </header>
</div>
