.mat-card-actions {
  text-align: center;
  .ugly-score {
    color: red;
    font-size: 2rem;
    font-weight: 800;
    display: inline-block;
    min-width: 50px;
    vertical-align: middle;
  }
}

.mat-card-actions {
  .cart-quantity-actions {
    .input-quantity {
      width: 50px;
      padding: 0;
      font-size: 1.875rem;
      border: none;
    }
  }
}