@import '../../../node_modules/@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Helvetica+Neue');

// Plus imports for other components in your app-clothe.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app-clothe.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
//
$color1: #6d6d6d; // Black
$color2: #ffffff; // Blanc
$color3: #6EE3E7; // Turquoise
$color4: #6EE3E7; // Turquoise
$color5: #6EE3E7; // Turquoise

$product-primary: mat-palette($mat-green,
  300);
$product-accent: mat-palette($mat-deep-orange,
  A700);
$product-warn: mat-palette($mat-yellow,
  A700);
$white: mat-palette($mat-grey,
  50);
$black: mat-palette($mat-grey,
  900);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($product-primary,
  $product-accent,
  $product-warn);

// Include theme styles for core and each component used in your app-clothe.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

body {
  background: mat-color($white);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $color1;
  overflow-x: hidden;
}

.mat-bg-primary {
  background-color: mat-color($product-primary);
}

mat-icon {
  font-family: 'Material Icons' !important;
}

.main-menu {
  a {
    color: mat-color($product-primary) !important;
  }
  background-color: mat-color($white) !important;
}

footer {
  .link-anchor {
    background-color: mat-color($black);
  }
}

a {
  color: $color3;
  text-decoration: none
}

a:hover, a:focus {
  color: $color3;
  text-decoration: underline
}

a:focus,
.btn:focus {
  outline: none;
}
