<ng-select class="ingredients-select"
           fxFlex="100"
           [items]="ingredients"
           (change)="onSelect($event)"
           [multiple]="false"
           [bindLabel]="'name'"
           [loadingText]="'admin.placeholder.recipe.instructions.ingredients.loading'|translate"
           [notFoundText]="'admin.placeholder.recipe.instructions.ingredients.not_found'|translate"
           [typeToSearchText]="'admin.placeholder.recipe.instructions.ingredients.type_to_search'|translate"
           [clearAllText]="'admin.placeholder.recipe.instructions.ingredients.clear_all'|translate">
</ng-select>