<mat-grid-list cols="1" rowHeight="500px">
  <mat-grid-tile>
    <form [formGroup]="form" (ngSubmit)="saveCmsDetail()" class="form">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>
            Ajouter du contenu dans le Cms
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
          <mat-form-field class="mat-form-field">
            <input matInput maxlength="50" [placeholder]="'Nom'|translate" [formControl]="form.controls.title">
            <mat-hint align="start"><strong [innerHtml]="'titre du contenu'|translate"></strong></mat-hint>
            <mat-hint align="end">{{ title.value.length }} {{ '/50'|translate }}</mat-hint>
            <mat-error *ngIf="title.invalid && title.value.length === 0"
                       [innerHtml]="'Le titre ne peut pas être vide'|translate"></mat-error>
            <mat-error *ngIf="title.invalid && title.value.length > 0"
                       [innerHtml]="'Il y a un ou des caractère(s) invalide(s)'|translate"></mat-error>
          </mat-form-field>
          <div class="mat-form-field editor mt1">
            <label class="mat-hint"><strong>Valeur contenu :</strong></label>
            <app-ngx-editor [config]="editorConfig"
                            [(ngModel)]="content"
                            [formControl]="form.controls.content">
            </app-ngx-editor>
          </div>
        </mat-card-content>
        <mat-form-field>
          <mat-select [formControl]="form.controls.parent">
            <mat-option value="">--</mat-option>
            <mat-option *ngFor="let cmsDetail of cmsDetails" [value]="cmsDetail.key">
              {{cmsDetail?.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-card-actions>
          <div class="d-flex justify-content-around">
            <button type="button" class="back"
                    mat-raised-button
                    color="accent"
                    [innerHtml]="'Annuler'|translate"
                    [routerLink]="['/admin/cms']"></button>
            <button type="submit"
                    class="validate"
                    mat-raised-button
                    role="button"
                    [attr.aria-label]="'Enregistrer'|translate"
                    color="primary"
                    [disabled]="form.invalid || form.pristine"
                    [innerHtml]="'Enregistrer'|translate"></button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-grid-tile>
</mat-grid-list>
