.mat-card {
  display: flex;
  flex-direction: column;

  .link {
    cursor: pointer;
  }
}

form .mat-form-field {
  width: 100%;
}

.editor {
  label {
    font-weight: 400;
    line-height: 1.125;
    font-size: 75%;
    b,
    strong {
      font-weight: bolder;
    }
  }
}

.hyperlink {
  pointer-events: none;
  cursor: not-allowed;
}
