<div class="instruction-wrapper pb-5"
     *ngIf="recipe">
  <mat-card [attr.id]="'instruction-' + (i + 1)"
            *ngFor="let instruction of recipe.instructions | orderBy: 'order_index'; let i = index"
            class="section instruction-card my-3 mat-elevation-z0"
            [ngClass.xs]="{xs: true}"
            [class.active]="i + 1 === currentInstruction"
            [@scrollAnimation]="state">

    <mat-card-title fxLayout="row wrap"
                    fxLayoutAlign.gt-sm="center stretch"
                    fxLayoutAlign.xs="start center"
                    fxLayoutGap.gt-sm="20px"
                    fxLayoutGap.xs="10px">
      <div class="order-index"
           fxFlex="20">
        <span>{{ instruction.order_index}}</span>
      </div>
      <!-- Mobile -->
      <div class="ingredients-wrapper"
           *ngFor="let ingredient of instruction.ingredients"
           fxShow.xs
           fxHide.gt-sm>
        <span class="badge"
              [class.bordered]="ingredient.color === '#ffffff'"
              [style.background-color]="ingredient.color">
          {{ ingredient.name }}
        </span>
      </div>
    </mat-card-title>
    <!-- Desktop -->
    <mat-card-subtitle fxLayout="row"
                       fxLayoutAlign="center stretch">
      <h3 class="pb-0 text-center"
          fxFlex="50"
          [innerHTML]="instruction.sentence"
          fxShow.gt-sm
          fxHide.xs></h3>
    </mat-card-subtitle>
    <mat-card-content fxLayout="row"
                      fxLayoutAlign="center stretch"
                      fxLayoutGap="20px">
      <!-- Mobile -->
      <h3 fxFlex="100"
          class="pb-0"
          [innerHTML]="instruction.sentence"
          fxShow.xs
          fxHide.gt-sm></h3>
      <!-- Desktop -->
      <div class="ingredients-wrapper"
           *ngFor="let ingredient of instruction.ingredients"
           fxShow.gt-sm
           fxHide.xs>
        <span class="badge"
              [class.bordered]="ingredient.color === '#ffffff'"
              [style.background-color]="ingredient.color">
          {{ ingredient.name }}
        </span>
      </div>
    </mat-card-content>
    <app-image fxHide.gt-sm
               fxShow.xs
               class="instruction-image mb-0 mt-5"
               [matCardImage]="true"
               [panelStyle]="{'max-height': '400px'}"
               [key]="instruction.image && instruction.image.length > 0 ? instruction.image : ''"
               [alt]="instruction.sentence"></app-image>

    <app-image fxHide.xs
               fxShow.gt-sm
               class="instruction-image mb-0 mt-5"
               [matCardImage]="true"
               [panelStyle]="{'max-height': '400px'}"
               [key]="instruction && instruction.image.length > 0 ? instruction.image : ''"
               [alt]="instruction.sentence"></app-image>
  </mat-card>
</div>
