@import '~@angular/material/theming';
@import './../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

.kangaroo {
  width: 300px;
  .mat-card-image {
    height: 200px;
  }
}

.album {
  width: 350px;
  .mat-card-image {
    height: 100px;
    width: 100px;
  }
}
