@import '~@angular/material/theming';
@import './../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../../../scss/base/hockey/theme.scss';

.kangaroo {
  width: 300px;
  .mat-card-image {
    height: 200px;
  }
}

.music {
  background: mat-color(mat-palette($mat-teal, 900));
  * {
    color: mat-color($white);
  }
}

.album {
  width: 350px;
  background: mat-color(mat-palette($mat-purple, 800));
  .mat-card-image {
    height: 100px;
    width: 100px;
  }
  * {
    color: mat-color($white);
  }
}

mat-checkbox,
mat-radio-button {
  color: mat-color($white);

}

.note {
  width: 600px;

  @include media-breakpoint-up(xs) {
    width: 95%;
  }
  @include media-breakpoint-up(sm) {
    width: 300px;
  }
  @include media-breakpoint-up(lg) {
    width: 600px;
  }

  .blue {
    background: mat-color(mat-palette($mat-blue, 300));
    * {
      color: mat-color($white);
    }
  }

  .grey {
    background: mat-color(mat-palette($mat-grey, 700));
    * {
      color: mat-color($white);
    }
  }

  .dark-grey {
    background: mat-color(mat-palette($mat-grey, 800));
    * {
      color: mat-color($white);
    }
  }

  .blue-grey {
    background: mat-color(mat-palette($mat-blue-grey, 700));
    * {
      color: mat-color($white);
    }
  }

  .orange {
    .mat-card-image {
      height: 200px;
    }

    background: mat-color(mat-palette($mat-orange, 700));
    * {
      color: mat-color($white);
    }
  }
}
