<div fxLayout="row"
     fxLayoutAlign="center stretch">
  <div fxLayout="row"
       fxLayoutAlign="center stretch"
       fxFlex="80">
    <mat-card class="preparation-wrapper mt-5 mat-elevation-z0"
              fxFlex="91"
              fxFlex.xs="85"
              *ngIf="recipe">
      <ul  class="list-sentence"
           fxLayout="row wrap"
          fxLayoutAlign.xs="start stretch"
          fxLayoutAlign.gt-sm="start stretch"
          fxFlex="100">
        <li class="my-2 text-xs-left text-sm-center list-unstyled"
            fxFlex="50"
            fxFlex.xs="45"
            *ngFor="let preparation of recipe.preparations"
            [innerHTML]="getSentence(preparation)">
        </li>
      </ul>
    </mat-card>
  </div>
</div>
