<div class="list-wrapper" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px">
  <div class="list-title" fxLayout="row" fxLayoutAlign="center center">
    <h2 class="p-3">List example</h2>
  </div>
  <div class="list-example-wrapper" fxLayout="column" fxLayoutAlign="center center">


    <div class="list-row" fxLayout="column" fxLayoutAlign="start center">
      <h3 class="mt-5">List with options</h3>
      <div class="element-wrapper" fxLayout="row" fxLayoutAlign="center stretch">
        <mat-selection-list #shoes>
          <mat-list-option *ngFor="let shoe of typesOfShoes">
            {{shoe}}
          </mat-list-option>
        </mat-selection-list>

        <p>
          Options selected: {{shoes.selectedOptions.selected.length}}
        </p>

      </div>
    </div>


    <div class="list-row" fxLayout="column" fxLayoutAlign="start center">
      <h3 class="mt-5">List with item</h3>
      <div class="element-wrapper" fxLayout="row" fxLayoutAlign="center stretch">

        <mat-list>
          <mat-list-item *ngFor="let message of messages">
            <mat-icon matListIcon>folder</mat-icon>
            <h3 matLine> {{message.from}} </h3>
            <p matLine>
              <span> {{message.subject}} </span>
              <span class="demo-2"> -- {{message.content}} </span>
            </p>
          </mat-list-item>
        </mat-list>

      </div>
    </div>


    <div class="list-row" fxLayout="column" fxLayoutAlign="start center">
      <h3 class="mt-5"></h3>
      <div class="element-wrapper" fxLayout="row" fxLayoutAlign="center stretch">
        <mat-list>
          <mat-list-item *ngFor="let message of messages">
            <img matListAvatar src="/assets/images/material/recipe.jpg" alt="recipe">
            <h3 matLine> {{message.from}} </h3>
            <p matLine>
              <span> {{message.subject}} </span>
              <span class="demo-2"> -- {{message.content}} </span>
            </p>
          </mat-list-item>
        </mat-list>

      </div>
    </div>

    <div class="list-row" fxLayout="column" fxLayoutAlign="start center">
      <h3 class="mt-5">List "Dense"</h3>
      <div class="element-wrapper" fxLayout="row" fxLayoutAlign="center stretch">
        <mat-list dense>
          <mat-list-item>Pepper</mat-list-item>
          <mat-list-item>Salt</mat-list-item>
          <mat-list-item>Paprika</mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="list-row" fxLayout="column" fxLayoutAlign="start center">
      <h3 class="mt-5">List notes</h3>
      <div class="element-wrapper" fxLayout="row" fxLayoutAlign="center stretch">
        <mat-list>
          <h3 matSubheader>Folders</h3>
          <mat-list-item *ngFor="let folder of folders">
            <mat-icon matListIcon>folder</mat-icon>
            <h4 matLine>{{folder.name}}</h4>
            <p matLine class="demo-2"> {{folder.updated}} </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 matSubheader>Notes</h3>
          <mat-list-item *ngFor="let note of notes">
            <mat-icon matListIcon>note</mat-icon>
            <h4 matLine>{{note.name}}</h4>
            <p matLine class="demo-2"> {{note.updated}} </p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

  </div>
</div>
