<div class="order-detail-wrapper"
     fxLayout="row"
     fxLayoutAlign="center stretch">
  <div fxFlex="60"
       fxLayout="column"
       fxFlex.xs="95"
       fxLayoutGap.xs="10px"
       fxLayoutGap="30px"
       *ngIf="order">
    <div class="header-wrapper"
         fxLayout="column">
      <div fxLayout="row" class="title-wrapper">
        <h1 class="title order-detail-title text-uppercase">
          {{ 'order-detail.header.title'|translate }}
        </h1>
      </div>

      <div fxLayout="row"
           fxLayoutGap="30px"
           fxLayoutGap.xs="10px"
           fxLayout.xs="column"
           class="subtitle-wrapper">

        <div class="date-wrapper"
             fxLayout="row"
             fxLayoutGap="5px"
             *ngIf="order.created_at">
          <span class="text-ucfirst">
            {{ 'order-detail.title.created_at'|translate }}
          </span>
          <span>
            {{ order?.created_at?.seconds * 1000 | date:'short' }}
          </span>
        </div>


        <div class="key-wrapper">
          <span class="text-ucfirst">
            {{ 'order-detail.title.key'|translate }}
          </span>
          <span>
            {{ order.key }}
          </span>
        </div>
      </div>
    </div>

    <mat-card class="content-wrapper"
              fxLayout="row"
              fxLayoutGap="50px"
              fxLayoutGap.xs="10px"
              fxLayout.xs="column"
              *ngIf="delivery">
      <div class="delivery-wrapper">
        <mat-card-title>
          {{ 'order-detail.title.delivery.address' |translate}}
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              {{ delivery.address?.lastname }} {{ delivery.address?.firstname }}
            </mat-list-item>
            <mat-list-item>{{ delivery.address.address }}</mat-list-item>
            <mat-list-item
              *ngIf="delivery.address.address_complement">{{ delivery.address.address_complement }}</mat-list-item>
            <mat-list-item>{{ delivery.address.zipcode }} {{ delivery.address.city }}</mat-list-item>
            <mat-list-item>{{ delivery.address.country }}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </div>

      <div class="payment-mode-wrapper">
        <mat-card-title>
          {{ 'order-detail.title.payment.mode' |translate}}
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon style="line-height: 24px;" fontSet="fa"
                        [fontIcon]="'fa-cc-' + (payment?.token?.card?.brand|lowercase)"></mat-icon>
              ****{{ payment?.token?.card?.last4 }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </div>

      <div class="resume-wrapper">
        <mat-card-title>
          {{ 'order-detail.title.resume.title' |translate}}
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <div fxLayout="row"
                   fxLayoutGap="50px"
                   fxLayoutAlign="space-between stretch">
                <span class="resume-title-wrapper">{{ 'order-detail.title.resume.article' |translate}}</span>
                <span>{{ totalArticles | currency: 'EUR' }}</span>
              </div>
            </mat-list-item>


            <mat-list-item>
              <div fxLayout="row"
                   fxLayoutGap="50px"
                   fxLayoutAlign="space-between stretch">
                <span class="resume-title-wrapper">{{ 'order-detail.title.resume.delivery' |translate}}</span>
                <span>{{ order.delivery_fee | currency: 'EUR' }}</span>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div fxLayout="row"
                   fxLayoutGap="50px"
                   fxLayoutAlign="space-between stretch">
                <span class="resume-title-wrapper">{{ 'order-detail.title.resume.total' |translate}}</span>
                <span>{{ order.total | currency: 'EUR' }}</span>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div fxLayout="row"
                   fxLayoutGap="50px"
                   fxLayoutAlign="space-between stretch">
                <span class="resume-title-wrapper">{{ 'order-detail.title.resume.total_ttc' |translate}}</span>
                <span>{{ order.total | currency: 'EUR' }}</span>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="content-wrapper"
              *ngIf="order?.items?.length">

      <mat-card-header>
        <mat-card-title>
          {{ 'order-detail.title.delivery.received_at'|translate }}
          {{ order.created_at?.seconds * 1000 | date:'short' }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxFlex="60"
             fxFlex.md="70"
             fxFlex.sm="80"
             fxFlex.xs="100">
          <div *ngFor="let item of order.items">
            <div fxLayout="row">
              <div class="card-wrapper card-img-top"
                   fxFlex="30">
                <app-storage-image [panelStyle]="{height: '90px', width: 'auto'}"
                                   [panelClass]="'scale'"
                                   [matCardImage]="false"
                                   [alt]="item.name"
                                   [downloadURL]="item.image"></app-storage-image>
              </div>

              <div fxFlex="70">
                <mat-list>
                  <mat-list-item>
                    {{ item.name }}
                  </mat-list-item>
                  <mat-list-item>
                    {{ 'order-detail.quantity'|translate }} {{ item.quantity }}
                  </mat-list-item>
                  <mat-list-item>
                    {{ item.quantity * item.price | currency : 'EUR' }}
                  </mat-list-item>
                  <mat-list-item class="my-2">
                    <div class="py-2 my-2">
                      <a mat-stroked-button
                         color="primary"
                         [routerLink]="['products/detail', item.code]|localize">
                        {{ 'order-detail.title.product.buy'|translate }}
                      </a>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
