.order-detail-wrapper {
  margin-top: 5rem;

  .header-wrapper {
    .title-wrapper {
      .order-detail-title {
        font-size: 2rem;
      }
    }
  }

  .content-wrapper {
    mat-list-item {
      height: 24px;

      &.item-name {
        height: 48px;
        &.mat-list-item {
          font-size: 14px;
        }
      }


    }

    .resume-title-wrapper {
      width: 130px;
    }
  }
}

