<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form"
            (ngSubmit)="saveArticle()"
            class="form">
        <mat-card class="mat-card mt-3">
          <mat-card-content class="mat-card-content">
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="d-block">
                  <mat-form-field class="mat-form-field">
                    <input matInput
                           maxlength="100"
                           [placeholder]="'admin.placeholder.article.name'|translate"
                           [formControl]="form.get('name')">
                    <mat-hint align="start"><strong [innerHtml]="'admin.hint.article.name'|translate"></strong>
                    </mat-hint>
                    <mat-hint align="end">{{ form.get('name').value.length }} {{ '/100'|translate }}</mat-hint>
                    <mat-error *ngIf="form.get('name').invalid && form.get('name').value.length === 0"
                               [innerHtml]="'admin.error.required.article.name'|translate"></mat-error>
                    <mat-error *ngIf="form.get('name').invalid && form.get('name').value.length > 0"
                               [innerHtml]="'admin.error.invalid.article.name'|translate"></mat-error>
                  </mat-form-field>
                </div>
                <div class="mat-form-field editor mt1">
                  <label class="mat-hint"><strong>{{ 'admin.label.article.description'|translate }}</strong></label>
                  <app-ngx-editor [config]="editorConfig"
                                  [formControl]="form.get('description')">
                  </app-ngx-editor>
                </div>
                <div class="facebook-wrapper">
                  <mat-form-field>
                    <mat-label>{{ 'admin.label.article.facebook'|translate }}</mat-label>
                    <input matInput
                           [placeholder]="'admin.placeholder.article.description'|translate"
                           [(ngModel)]="facebook"
                           [ngModelOptions]="{standalone: true}">
                    <mat-icon matSuffix
                              fontSet="fontawesome"
                              fontIcon="fa-facebook-square"></mat-icon>
                  </mat-form-field>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <p>{{ 'admin.article.images.title'|translate }}</p>
                  <div fxLayout="row"
                       fxLayoutAlign="space-around strech"
                       fxLayout.xs="column"
                       fxLayoutAlign.xs="center center">
                    <div class="block-image"
                         fxLayout="row"
                         fxLayoutAlign="center stretch"
                         fxLayoutGap="20px">
                      <app-storage-upload [folder]="'articles'"
                                          [metadata]="imageStorageConfig"
                                          (imageChanged)="onImageChange($event)"
                                          (imageRefChanged)="onImageRefChanged($event)">
                      </app-storage-upload>
                      <app-storage-detail [downloadURL]="downloadURL"
                                          classes="img-fluid">
                      </app-storage-detail>
                      <div *ngIf="article?.images && article.images.length > 0">
                        <div class="drag-wrapper">
                          <div class="badge badge-default"
                               *ngFor="let image of article?.images; let i = index; "
                               [attr.image]="image">
                            <app-image [resize]="{height:40}"
                                       [key]="image"></app-image>
                            <span>{{ i }}. {{ image }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
          <div class="d-block mt-1">
            <div class="mat-form-field">
              <mat-radio-group class="example-radio-group"
                               [formControl]="form.get('published')"
                               fxLayout="row"
                               fxLayoutAlign="start stretch"
                               fxLayoutGap="20px">
                <mat-radio-button class="example-radio-button"
                                  [value]="true">
                  {{ 'admin.label.article.publish'|translate }}
                </mat-radio-button>
                <mat-radio-button class="example-radio-button"
                                  [value]="false">
                  {{ 'admin.label.article.unpublish'|translate }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <mat-card-actions>
            <div class="d-flex justify-content-around">
              <button type="button"
                      class="back text-uppercase"
                      mat-raised-button
                      role="button"
                      [attr.aria-label]="'cta.cancel'|translate"
                      color="accent"
                      [innerHtml]="'cta.cancel'|translate"
                      [routerLink]="['/admin/article']|localize"></button>

              <button type="submit"
                      class="validate text-uppercase"
                      mat-raised-button
                      role="button"
                      [attr.aria-label]="'cta.save'|translate"
                      color="primary">
                {{ 'cta.save'|translate }}
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
