<div class="container">
  <div class="row"
       fxLayout="row"
       fxLayoutAlign="center stretch">
    <div class="cart-wrapper col-12">
      <mat-card class="cart-card my-5">
        <ng-template #loadingTmpl>
          <div fxLayout="row"
               fxLayoutAlign="center stretch">
            <mat-progress-spinner color="primary"
                                  mode="indeterminate">
            </mat-progress-spinner>
          </div>
        </ng-template>
        <mat-card-content *ngIf="!loading; else loadingTmpl">
          <div fxLayout.xs="column">
            <mat-list fxLayout="row"
                      fxLayoutAlign="center stretch"
                      *ngIf="!displayXs; else stepsTmpl">
              <mat-list-item class="text-center">
                <button color="primary"
                        type="button"
                        role="button"
                        mat-mini-fab>
                  <span>1</span>
                </button>
                <span class="text-center w-100">{{ 'cart.title.cart'|translate }}</span>
              </mat-list-item>
              <mat-list-item class="text-center" *ngIf="isUserAlreadyLogged !== true">
                <button color="primary"
                        type="button"
                        role="button"
                        mat-mini-fab>
                  <span class="text-center w-100">2</span>
                </button>
                <span class="text-center w-100">{{ 'cart.title.login'|translate }}</span>
              </mat-list-item>
              <mat-list-item class="text-center">
                <button color="primary"
                        type="button"
                        role="button"
                        mat-mini-fab>
                  <span *ngIf="user">2</span>
                  <span *ngIf="!user">3</span>
                </button>
                <span class="text-center w-100">{{ 'cart.title.delivery'|translate }}</span>
              </mat-list-item>
              <mat-list-item class="text-center">
                <button color="primary"
                        type="button"
                        role="button"
                        mat-mini-fab>
                  <span *ngIf="user">3</span>
                  <span *ngIf="!user">4</span>
                </button>
                <span class="text-center w-100">{{ 'cart.title.payment'|translate }}</span>
              </mat-list-item>
              <mat-list-item class="text-center">
                <button color="primary"
                        type="button"
                        role="button"
                        mat-mini-fab>
                  <span *ngIf="user">4</span>
                  <span *ngIf="!user">5</span>
                </button>
                <span class="text-center w-100">{{ 'cart.title.confirmation'|translate }}</span>
              </mat-list-item>
            </mat-list>

            <ng-template #stepsTmpl>
              <mat-list fxLayout="row"
                        fxLayoutAlign="center stretch"
                        class="step-list">
                <mat-list-item class="text-center">
                  <button color="primary"
                          type="button"
                          role="button"
                          mat-mini-fab>
                    <ng-container [ngSwitch]="cart?.state">
                      <span *ngSwitchCase="'cart'">
                        <span>1</span>
                      </span>
                      <span *ngSwitchCase="'connection'">
                        <span>2</span>
                      </span>
                      <span *ngSwitchCase="'delivery'">
                        <span *ngIf="user">2</span>
                      </span>
                      <span *ngSwitchCase="'payment'">3</span>
                      <span *ngSwitchCase="'confirmation'">4</span>
                    </ng-container>
                  </button>
                  <span class="text-center w-100">
                    {{ 'cart.title.' + cart?.state|translate }}
                  </span>
                </mat-list-item>
              </mat-list>
            </ng-template>

            <div *ngIf="!cart"
                 class="cart-text-wrapper"
                 fxLayout="row"
                 fxLayoutAlign="center stretch">
              <span class="cart-text my-5">{{ 'cart.empty'|translate }}</span>
            </div>

            <!-- Step booking -->
            <div *ngIf="cart && (cart.state === 'cart' || !cart.state)">
              <app-cart-edit [cart]="cart"
                             (submitted)="onSaveCart($event)"
                             (updateCart)="updateCart($event)"></app-cart-edit>
            </div>


            <!-- Step user -->
            <div *ngIf="!isUserAlreadyLogged && cart && cart.state === 'connection'">
              <div class="login-wrapper"
                   fxLayout="row"
                   fxLayoutAlign="center stretch">
                <button mat-raised-button
                        color="accent"
                        type="button"
                        (click)="onLogin()"
                        [innerHTML]="'menu.connection.title'|translate">
                </button>
              </div>
            </div>

            <!--Step delivery-->
            <ng-container *ngIf="cart && cart.state === 'delivery'">
              <app-cart-delivery [cart]="cart"
                                 [user]="user"
                                 (cancelled)="onCancel($event, user ? 'cart' : 'connection')"
                                 (acceptDelivery)="onAcceptDelivery($event)"></app-cart-delivery>
            </ng-container>

            <!-- Step payment -->
            <div *ngIf="cart && cart.state === 'payment'">
              <app-cart-payment [cart]="cart"
                                [user]="user"
                                (paid)="onPaid($event)"
                                (cancelled)="onCancel($event, user ? 'delivery' : 'connection')"></app-cart-payment>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
