
.cart-payment-wrapper {
  .payment-form {
    .payment-content {

    }
    .actions-wrapper {

    }
  }
}

.visa {
  background-image: url('/assets/images/creditcards/visa.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: contain;
}

.mastercard {
  background-image: url('/assets/images/creditcards/mastercard.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: contain;
}

.american-express {
  background-image: url('/assets/images/creditcards/american-express.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: contain;
}

.jcb {
  background-image: url('/assets/images/creditcards/jcb.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: contain;
}

.discover {
  background-image: url('/assets/images/creditcards/discover.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: contain;
}

.diners-club {
  background-image: url('/assets/images/creditcards/diners-club.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: contain;
}

.cartebleue {
  background-image: url('/assets/images/creditcards/cartebleue.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: contain;
}
