<div class="container">
  <div class="row"
       fxLayout="row"
       fxLayoutAlign="center stretch">
    <div class="cart-wrapper col-12">
      <mat-card class="cart-card my-5">
        <mat-card-content>
          <mat-horizontal-stepper linear
                                  #stepper
                                  fxHide.xs
                                  *ngIf="!displayXs">

            <!-- Step booking -->
            <mat-step [completed]="isCartCompleted">
              <ng-template matStepLabel>{{ 'cart.title.cart'|translate }}</ng-template>
              <app-cart-edit [cart]="cart"
                             (submitted)="onSaveCart($event)"
                             (updateCart)="updateCart($event)"></app-cart-edit>
            </mat-step>


            <!-- Step user -->
            <mat-step *ngIf="!isUserAlreadyLogged" [completed]="isUserCompleted">
              <ng-template matStepLabel>{{ 'cart.title.login'|translate }}</ng-template>
              <div class="login-wrapper"
                   fxLayout="row"
                   fxLayoutAlign="center stretch">
                <button mat-raised-button
                        color="accent"
                        type="button"
                        (click)="onLogin()"
                        [innerHtml]="'menu.connection.title'|translate">
                </button>
              </div>
            </mat-step>

            <!-- Step payment -->
            <mat-step [completed]="isPaymentCompleted">
              <ng-template matStepLabel>{{ 'cart.title.payment'|translate }}</ng-template>
              <app-cart-payment [cart]="cart" (paid)="onPaid($event)"></app-cart-payment>
            </mat-step>

            <!-- Step confirmation -->
            <mat-step [completed]="isPaymentConfirmed">
              <ng-template matStepLabel>{{ 'cart.title.confirmation'|translate }}</ng-template>
              <app-cart-confirmation></app-cart-confirmation>
            </mat-step>
          </mat-horizontal-stepper>

          <mat-vertical-stepper linear
                                #stepper
                                fxHide.gt-sm
                                *ngIf="displayXs">

            <!-- Step booking -->
            <mat-step [completed]="isCartCompleted">
              <ng-template matStepLabel>{{ 'cart.title.cart'|translate }}</ng-template>
              <app-cart-edit [cart]="cart"
                             (submitted)="onSaveCart($event)"
                             (updateCart)="updateCart($event)"></app-cart-edit>
            </mat-step>


            <!-- Step user -->
            <mat-step *ngIf="!isUserAlreadyLogged" [completed]="isUserCompleted">
              <ng-template matStepLabel>{{ 'cart.title.login'|translate }}</ng-template>
              <div class="login-wrapper"
                   fxLayout="row"
                   fxLayoutAlign="center stretch">
                <button mat-raised-button
                        color="accent"
                        type="button"
                        (click)="onLogin()"
                        [innerHtml]="'menu.connection.title'|translate">
                </button>
              </div>
            </mat-step>

            <!-- Step payment -->
            <mat-step [completed]="isPaymentCompleted">
              <ng-template matStepLabel>{{ 'cart.title.payment'|translate }}</ng-template>
              <app-cart-payment [cart]="cart" (paid)="onPaid($event)"></app-cart-payment>
            </mat-step>

            <!-- Step confirmation -->
            <mat-step [completed]="isPaymentConfirmed">
              <ng-template matStepLabel>{{ 'cart.title.confirmation'|translate }}</ng-template>
              <app-cart-confirmation></app-cart-confirmation>
            </mat-step>
          </mat-vertical-stepper>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
