<div *ngIf="media" class="image-container">
  <app-cloudinary-image mat-card-image [publicId]="media?.public_id" [attr.alt]="media?.alt" secure="true"
                        quality="auto" *ngIf="media && media?.public_id && !resize">
    <div appClTransformation [attr.height]="media?.cropper?.height" [attr.width]="media?.cropper?.width"
         [attr.x]="media?.cropper?.x" [attr.y]="media?.cropper?.y" crop="fill"></div>
  </app-cloudinary-image>
  <app-cloudinary-image mat-card-xl-image [publicId]="media?.public_id" secure="true"
                        *ngIf="media && media?.public_id && resize" [attr.alt]="media?.alt">
    <div appClTransformation [attr.height]="media?.cropper?.height" [attr.width]="media?.cropper?.width"
         [attr.x]="media?.cropper?.x" [attr.y]="media?.cropper?.y" crop="fill" [attr.alt]="media?.alt"></div>
    <div appClTransformation [attr.height]="resize.height" [attr.width]="resize.width" crop="scale"></div>
  </app-cloudinary-image>
  <app-storage-detail [classes]="classes"
                      [path]="media?.public_id"
                      *ngIf="media?.type === 'storage'"
                      [height]="resize?.height"
                      [width]="resize?.width"></app-storage-detail>
</div>
