<div class="container"
     *ngIf="uriElements.length > 1">
  <div fxLayout="row"
       fxLayout.xs="row wrap"
       fxLayoutAlign="start stretch">
    <a class="breadcrumb-link"
       [attr.name]="location.label|translate"
       [attr.title]="location.label|translate"
       [routerLink]="[i > 1 ? location.url : location.url|localize]"
       *ngFor="let location of uriElements; let i = index;">
      <span *ngIf="i > 0 && !product && !category"> - <span>{{ location.label |translate }}</span></span>
      <mat-icon color="primary"
                *ngIf="i === 0"
                [matTooltip]="'cta.back_to_home'|translate">home
      </mat-icon>
    </a>
    <a *ngIf="category && category?.name"
       [routerLink]="['/categories'|localize, category.key]"
       class="primary d-inline-flex align-items-center">
      {{ category.name }}
    </a>
    <span *ngIf="product && product?.name"
          class="primary d-inline-flex align-items-center">
      - {{ product.name }}
    </span>
  </div>
</div>
