<div class="container" *ngIf="!isHome()">
  <div class="row">
    <div class="col-lg-12 offset-lg-0 col-10 offset-1">
      <a [routerLink]="[location.url|localize]" *ngFor="let location of uriElements | async; let i = index;">
        <span *ngIf="i > 0"> - <span>{{ location.label |translate }}</span></span>
        <span *ngIf="i === 0"><span>{{ location.label |translate }}</span></span>
      </a>
      <span *ngIf="product && product?.name" class="primary"> - {{ product.name }}</span>
    </div>
  </div>
</div>