<div class="column"
     [attr.column-id]="column.key"
     [attr.column-order]="column.order"
     *ngIf="column">
  <div class="column-header">
    <h4 [innerHtml]="column.title"
        [style.display]="editingColumn ?'none' : '' "
        (click)="editColumn()"></h4>
    <input
      [style.display]="editingColumn ?'' : 'none' "
      (blur)="updateColumnOnBlur()"
      (keyup)="addColumnOnEnter($event)"
      [(ngModel)]="column.title"/>
  </div>
  <ul class="card-list"
      [attr.column-id]="column.key">
    <li class="card-item"
        [attr.card-id]="card.key"
        [attr.column-id]="card.columnId"
        *ngFor="let card of cards | filterBy: ['columnId']: column.key | orderBy : 'order'">
      <app-board-card [card]="card"></app-board-card>
    </li>
  </ul>
  <div class="add-card"
       (click)="enableAddCard()">
    <span [style.display]="addingCard ? 'none' : ''">
      Add a card...
    </span>

    <input
      [style.display]="addingCard ? '' : 'none' "
      [attr.autofocus]="addingCard"
      (keyup)="addCardOnEnter($event)"
      (blur)="addCardOnBlur()"
      [(ngModel)]="addCardText"/>
  </div>
</div>
