<!--<app-profil-not-found [monos]="(monos$ | async)" *ngIf="!mono && anyMono | async">-->
<!--</app-profil-not-found>-->
<div class="mono-wrapper section container">
  <app-profil-navigation></app-profil-navigation>
  <div class="row">
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div class="col-6">
            <app-profil-overview></app-profil-overview>
          </div>
          <div class="col-6">
            <app-profil-map></app-profil-map>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid">
    <app-profil-agenda></app-profil-agenda>
  </div>
<div class="bottom-right-fabs">
  <div class="row">
    <div class="col-12">
      <a class="btn-floating btn-large orange white-text"
         [class.pulse]="isCartMonoNotEmpty()"
         (click)="openCart()">
        <i class="material-icons">shopping_cart</i>
      </a>
    </div>
  </div>
</div>
