<mat-sidenav-container fullscreen class="sidenav-container">
  <mat-sidenav #sideNav class="leftSideNav" mode="over" opened="false">
    <div *ngIf="userService.getAuthState() | async; let user; else showLogin">
      <mat-card class="item-card">
        <mat-card-header>
          <img mat-card-avatar [src]="user?.photoURL">
          <mat-card-title>
            {{ user?.displayName }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="button" (click)="userService.logout()">Déconnexion</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav>
  <app-menu (sidenavEmitter)="sideNav.toggle()"></app-menu>
  <app-loader></app-loader>
  <div #root="dir" dir="ltr" class="demo-content">
    <router-outlet></router-outlet>
    <ng-adsense [width]="300" [height]="108"></ng-adsense>
    <app-footer></app-footer>
  </div>
</mat-sidenav-container>
<ng-template #showLogin>
  <mat-nav-list>
    <ul>
      <li>
        <h2>Se connecter</h2>
      </li>
      <li>
        <button mat-raised-button color="primary" type="button" (click)="userService.loginGoogle()">Se connecter avec Google</button>
      </li>
      <li>
        <button mat-raised-button color="primary" type="button" (click)="userService.loginFacebook()">Se connecter avec Facebook</button>
      </li>
    </ul>
  </mat-nav-list>
</ng-template>
