<mat-sidenav-container fullscreen class="sidenav-container">
  <app-menu></app-menu>
  <mat-sidenav #sidenav class="leftSideNav" mode="over" opened="false">
    <div *ngIf="userService.getAuthState() | async; let user; else showLogin">
      <mat-card class="card-sidebar">
        <img mat-card-image alt="Sidebar image default" src="/assets/images/sidebar.jpg">
        <mat-card-header>
          <img mat-card-avatar [src]="user?.photoURL">
          <h2 class="mat-title">{{ user?.displayName }}</h2>
        </mat-card-header>
      </mat-card>
      <mat-list>
        <mat-list-item>
          <a class="sidenav-link" mat-raised [routerLink]="['/add']">Ajouter un pull moche</a>
        </mat-list-item>
        <mat-list-item>
          <a class="sidenav-link" mat-raised [routerLink]="['/admin']" *ngIf="user?.displayName === 'Romain Marecat'">Back Office</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-raised-button color="primary" type="button" (click)="userService.logout()">Déconnexion</button>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <app-loader></app-loader>
  <div #root="dir" dir="ltr" class="main-content">
    <router-outlet></router-outlet>
    <ng-adsense [width]="300" [height]="108"></ng-adsense>
    <app-footer></app-footer>
  </div>
</mat-sidenav-container>
<ng-template #showLogin>
  <mat-list>
    <mat-list-item>
      <h2>Se connecter</h2>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary" type="button" (click)="userService.loginGoogle()">Se connecter avec Google</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary" type="button" (click)="userService.loginFacebook()">Se connecter avec Facebook</button>
    </mat-list-item>
  </mat-list>
</ng-template>
