mat-toolbar {
  .logo {
    .link-logo {
      .cls-2 {
        text-transform: capitalize;
        font-family: $second-font, serif;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}