<div class="main-wrapper">
  <div class="main-content">
    <!--<ul>-->
    <!--<li>selection picker</li>-->
    <!--<li>entreprise connection + add fast car</li>-->
    <!--<li>connection and alert subscription</li>-->
    <!--<li>search bar</li>-->
    <!--</ul>-->
    <div class="map-wrapper mt-2"
         fxLayout="row"
         fxLayoutAlign="center stretch"
         fxLayoutGap="20px"
         fxLayout.xs="column"
         fxLayoutAlign.xs="start center"
         fxLayoutGap.xs="10px">
      <div class="main-title-wrapper">

        <h1 class="main-title">{{ 'home.title.main'|translate }}</h1>

        <div fxLayout="column"
             fxLayoutAlign="start start"
             fxLayoutGap="20px">

          <div class="product-add-wrapper"
               fxLayout="row wrap"
               fxLayoutAlign="start stretch"
               fxLayoutGap="20px">
            <a [routerLink]="'/offer/add/new'"
               mat-raised-button
               color="primary"
               class="button-add-product">
              <mat-icon>add</mat-icon>
              <span>{{ 'product.add.button.title'|translate }}</span>
            </a>
          </div>

          <app-product-search></app-product-search>
        </div>

      </div>

      <app-map></app-map>

    </div>
    <div class="second-title-wrapper"
         fxLayout="row"
         fxLayoutAlign="center stretch">
      <h2 class="second-title my-4">
        {{ 'home.title.second'|translate }}
      </h2>
    </div>
  </div>
</div>
