@import '../../../app-recipe/scss/theme/theme';

.bg-wrapper {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  img {
    bottom: 0;
    position: absolute;
    height: auto;
    width: 100%;
  }
}

#chezmoi {
  margin: 50px 0 30px 0;
  .chezmoititre {
    font-weight: 900;
    font-family: $primary-font;
  }
  .second {
    color: mat-color($second);
  }
}

.home-search {
  border: solid 1px mat-color($grey);
  border-radius: 3px;
  height: 70px;
  margin-bottom: 50px;
  .input-group {
    height: 100%;
    .form-control {
      height: 100%;
      border: none;
    }
    .input-group-btn {
      height: 100%;
      .btn {
        background-color: transparent;
        .mat-icon {
          font-size: 50px;
          width: 100%;
        }
      }
    }
  }

}

.button-yellow {
  padding: 1rem 2rem;

  &.mat-flat-button {
    &.mat-warn {
      color: mat-color($primary);
    }
  }
  span {
    font-weight: 700;
    font-size: 2rem;
    margin-right: 1rem;
  }
  mat-icon {
    width: 12px;
    height: 12px;
    line-height: 12px; // Default width/height mat-icon
  }
}

.search-container {
  .input-group {
    &:hover,
    &:active,
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
      border-radius: 0.25rem;
    }
    input[name="search"] {
      border: none;
      background-color: buttonface;
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
      }
    }
    button {
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
        border: 1px solid transparent;
      }
    }
  }
}

.badge-home {
  font-size: 2em;
  color: black;
  font-weight: 400;
  border: 1px solid green;
  background: white;
}
