<div class="main-content-wrapper">
  <div class="main-content">
    <div class="bg-wrapper"
         [class.xs]="mediaBreakpoint === 'xs'">
      <img [src]="'assets/images/home/bg-desktop.jpg'"
           [alt]="'home.images.header'|translate"
           *ngIf="['sm', 'md', 'lg', 'xl'].includes(mediaBreakpoint)">
      <img [src]="'assets/images/home/bg-mobile.jpg'"
           [alt]="'home.images.header'|translate"
           *ngIf="['xs'].includes(mediaBreakpoint)">
    </div>
    <div class="home-title-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center mt5 home-title">
              <span class="chezmoititre first">Chez moi,</span>
              <span class="chezmoititre second"> j'ai :</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 offset-md-2 col-md-8 text-center mt-3 form-group search-container">
          <label for="search"
                 class="form-control-label">
            Exemples : tomates, oignons, riz...
          </label>
          <form [formGroup]="form"
                (ngSubmit)="addIngredient()"
                class="home-search">
            <div class="input-group">
              <input #inputIngredient
                     id="search"
                     type="search"
                     class="form-control"
                     formControlName="ingredient">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <mat-icon>add</mat-icon>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-12 text-center mt-2">
          <span class="badge badge-default badge-home px-3 py-2 m-3"
                *ngFor="let ingredient of ingredients">
            <span>{{ ingredient }}</span>
              <mat-icon (click)="removeIngredient(ingredient)">close</mat-icon>
          </span>
        </div>
        <div class="col-12 text-center mt-5">
          <button (click)="searchRecipe()"
                  class="btn-large button-yellow"
                  color="warn"
                  type="button"
                  mat-flat-button
                  role="button"
                  [attr.aria-label]="'Je cuisine'">
            <span>Je cuisine</span>
            <mat-icon class="arrow"
                      color="primary"
                      svgIcon="arrow-right"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-toolbar class="bottom-toolbar"
             color="primary"
             fxLayout="row"
             fxLayoutAlign="center center">
  <a fxLayout="column"
     fxLayoutAlign="space-around center"
     (click)="scrollBottom()">
    <span>Inspirez-moi</span>
    <mat-icon class="arrow"
              color="warn"
              svgIcon="arrow-down"></mat-icon>
  </a>
</mat-toolbar>
<div class="recipe-list" *ngFor="let recipe of recipes">
  <span class="recipe-name">{{ recipe.name }}</span>

</div>

