@import '../../../app-recipe/scss/theme/theme';

.main-content-wrapper {
  overflow-y: auto;
  flex-grow: 1;
  display: table-cell;
  display: flex;
  min-height: calc(100vh - 128px);
  flex-direction: column;

  .main-content {
    flex: 1;
  }
}

.bg-wrapper {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  &.xs {
    height: 100px;
  }

  img {
    bottom: 0;
    position: absolute;
    height: auto;
    width: 100%;
  }
}

.home-title-wrapper {
  .home-title {
    .chezmoititre {
      font-weight: 900;
      font-family: $primary-font;
    }
  }
  .second {
    color: mat-color($second);
  }
}

.home-search {
  border: solid 1px mat-color($grey);
  border-radius: 3px;
  height: 70px;
  .input-group {
    height: 100%;
    .form-control {
      height: 100%;
      border: none;
    }
    .input-group-btn {
      height: 100%;
      .btn {
        background-color: transparent;
        .mat-icon {
          font-size: 50px;
          width: 100%;
        }
      }
    }
  }

}

.button-yellow {
  padding: 1rem 2rem;

  &.mat-flat-button {
    &.mat-warn {
      color: mat-color($primary);
    }
  }
  span {
    font-weight: 700;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

.search-container {
  .input-group {
    &:hover,
    &:active,
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
      border-radius: 0.25rem;
    }
    input[name="search"] {
      border: none;
      background-color: buttonface;
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
      }
    }
    button {
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
        border: 1px solid transparent;
      }
    }
  }
}

.badge-home {
  font-size: 2rem;
  color: mat-color($primary);
  font-weight: 400;
  border: 1px solid green;
  background: mat-color($white);
  span {
    padding-right: 0.5rem;
  }

  mat-icon {
    cursor: pointer;
    line-height: 2rem;
    font-size: 1rem;
    width: auto;
    height: 2rem;
  }
}

.bottom-toolbar {
  span {
    cursor: pointer;
  }
  mat-icon {
    cursor: pointer;
    color: mat-color($white);
  }
}

mat-icon.arrow {
  width: 12px;
  height: 12px;
  line-height: 12px; // Default width/height mat-icon
}


.recipe-list {
  mat-card {
    mat-card-title {
      color: mat-color($white);
    }

    mat-card-content {
      line-height: 1rem;
      font-size: 5rem;
      text-align: center;
      letter-spacing: -30px;
      color: mat-color($white);
    }
  }
}